strong.quantity-edit
  a.trigger(
  href
  uib-popover-template="'app/domain/components/quantityEdit/quantityEditPopover.trigger.html'"
  popover-is-open='vm.popoverOpen'
  popover-trigger='outsideClick'
  popover-placement='bottom-right auto'
  popover-append-to-body='true'
  popover-class='quantity-edit-popover'
  )
    span.qty
      // {{ vm.boxPcs().full }}
      span.box(ng-show="vm.box") {{ vm.box }} K
      span.pcs(ng-show="vm.pcs") {{ vm.pcs }} б
    span.caret(ng-hide="vm.full")


