table.quantity-edit
  tbody

    tr.text-center

      td.uib-increment.hours
        a.btn.btn-link(ng-click='vm.incrementBoxes()' angular-ripple)
          span.glyphicon.glyphicon-chevron-up

      td  

      td.uib-increment.minutes
        a.btn.btn-link(ng-click='vm.incrementBottles()' angular-ripple)
          span.glyphicon.glyphicon-chevron-up

    tr

      td.form-group
        input.form-control.text-center(
        type='number'
        placeholder='К'
        ng-model='vm.boxes'
        maxlength='3'
        )

      td.uib-separator

      td.form-group
        input.form-control.text-center(
        type='number'
        placeholder='Б'
        ng-model='vm.bottles'
        maxlength='3'
        )

    tr.text-center

      td.uib-decrement
        a.btn.btn-link(ng-click='vm.decrementBoxes()' angular-ripple)
          span.glyphicon.glyphicon-chevron-down

      td  

      td.uib-decrement.minutes
        a.btn.btn-link(ng-click='vm.decrementBottles()' angular-ripple)
          span.glyphicon.glyphicon-chevron-down
