strong.quantity-edit
  a.trigger(
  href
  uib-popover-template="'app/domain/components/quantityEdit/quantityEditPopover.trigger.html'"
  popover-is-open='vm.popoverOpen'
  popover-trigger='outsideClick'
  popover-placement='bottom-right auto'
  popover-append-to-body='true'
  popover-class='quantity-edit-popover'
  )
    span {{ vm.boxPcs() }}
    span.caret


