fieldset.quantity-edit-popover

  .form-control#display(
  )
    strong {{ vm.volumeView }}

  sa-keyboard(
  datatype='boxPcs'
  model='vm.volumeView'
  export-model='vm.volume'
  box-rel='vm.article.packageRel'
  )

  //.inputs

    .boxes(ng-if='vm.showBottles')

      a.btn.btn-link(ng-click='vm.incrementBoxes()') +К

      input.form-control.text-center(
      ng-attr-type='{{vm.type}}'
      select-on-focus
      placeholder='К'
      track-focused
      ng-model='vm.boxes'
      ng-model-options='{debounce: 300}'
      maxlength='3'
      )

      a.btn.btn-link(ng-click='vm.decrementBoxes()') -К

    .bottles

      a.btn.btn-link(ng-click='vm.incrementBottles()') +{{vm.bottleLabel}}

      input.form-control.text-center(
      ng-attr-type='{{vm.type}}'
      select-on-focus
      placeholder='Б'
      track-focused
      ng-model='vm.bottles'
      ng-model-options='{debounce: 300}'
      maxlength='3'
      )

      a.btn.btn-link(ng-click='vm.decrementBottles()') -{{vm.bottleLabel}}

  .extras

    button.btn.btn-link(
    ng-click='vm.incrementHalfBoxes()'
    ng-if='vm.showBottles'
    ) +½К

    button.btn.btn-link.delete(
    ng-click='vm.deleteClick()'
    ng-class='{confirmation: vm.deleteConfirmation}'
    )
      i.glyphicon.glyphicon-trash
