fieldset.quantity-edit-popover-template

  .form-control#display(
  ng-class='[vm.touched ? "ng-touched" : "ng-untouched", {"ng-invalid": vm.invalidFactor}]'
  )
    strong {{ vm.volumeView }}

  sa-keyboard(
  datatype='boxPcs'
  touched='vm.touched'
  model='vm.volumeView'
  export-model='vm.volume'
  box-rel='vm.article.packageRel'
  )

  .extras

    button.btn.btn-link(
    ng-click='vm.incrementHalfBoxes()'
    ng-if='vm.showBottles'
    ) +½К

    button.btn.btn-link.delete(
    ng-click='vm.deleteClick()'
    ng-class='{confirmation: vm.deleteConfirmation}'
    )
      i.glyphicon.glyphicon-trash
