.quantity-edit.text-center.display-flex

  .boxes.flex-1

    a.btn.btn-link.btn-block(ng-click='vm.incrementBoxes()' angular-ripple) +К
      //i.glyphicon.glyphicon-chevron-up

    input.form-control.text-center(
    type='number'
    placeholder='К'
    ng-model='vm.boxes'
    maxlength='3'
    )

    a.btn.btn-link.btn-block(ng-click='vm.decrementBoxes()' angular-ripple) -К
      //i.glyphicon.glyphicon-chevron-down

  .bottles.flex-1

    a.btn.btn-link.btn-block(ng-click='vm.incrementBottles()' angular-ripple) +Б

    input.form-control.text-center(
    type='number'
    placeholder='Б'
    ng-model='vm.bottles'
    maxlength='3'
    )

    a.btn.btn-link.btn-block(ng-click='vm.decrementBottles()' angular-ripple) -Б
