hr(ng-hide='vm.hideHashes')

section.text-center.scroll-horizontal.hashes(
style='min-height: {{vm.hideHashes ? "0" : "37px"}}; max-height: {{vm.hideHashes ? "0" : "37px"}}'
ng-hide='vm.hideHashes'
)
  button.btn.btn-success.margin(ng-click='vm.addOutletClick()' ng-if='vm.addOutletClick')
    i.glyphicon.glyphicon-plus

  button.btn.margin(
  ng-repeat-start='btn in vm.hashButtons track by btn.label'
  ng-click='vm.hashClick(btn)'
  ng-class='btn.match.test(vm.currentHash) ? "btn-primary" : "btn-default"'
  ) {{ ::btn.label }}

  // TODO: hide sub buttons if them less than could be shown

  button.btn.margin(
  ng-repeat-end
  ng-repeat='subbtn in btn.buttons track by subbtn.label'
  ng-class='{"btn-primary": subbtn.label === vm.currentHash}'
  ng-click='vm.hashClick(subbtn)'
  ng-if='btn.match.test(vm.currentHash) && btn.buttons.length > 1'
  ) {{ ::subbtn.label }}

hr(ng-hide='vm.hideHashes')

.territory.ui-view(resize='territory' cg-busy='vm.cgBusy')

  section#scroll-main(
  style='height: {{territory.windowHeight - territory.offsetTop - 5}}px;'
  )
    .vr-parent(vs-repeat vs-size-fn='vm.rowHeight' vs-scroll-parent="#scroll-main" vs-excess='7')

      .item.partner(ng-repeat='p in vm.partners track by p.id')
        h5
          a.lead(ng-class='vm.partnerLinkClass' href ng-click='vm.partnerClick(p)') {{ ::p.shortName }}

        p.address(
        ng-repeat='o in p.outlets | orderBy:"address"'
        ng-class='{blocked: o.isActive === false}'
        )
          span.comment-text(ng-if='o.commentText') {{ o.commentText }}

          span.green(ng-if='o.avatarPictureId')
            i.glyphicon.glyphicon-picture

          a.green(ng-if='o.locationId' href ng-click='vm.outletLocationClick(o)')
            i.glyphicon.glyphicon-map-marker

          a.ml-5(href ng-click='vm.outletClick(o)') {{ ::o.address }}

