//button.btn.ml-em.btn-default(ng-click='vm.takePhoto()')
  i.glyphicon.glyphicon-camera

// partners & outlets — copypaste from territory.jade
.territory.ui-view(resize='territory' cg-busy='vm.cgBusy' ng-if='!vm.selectedOutletId')
  section#scroll-main(
  style='height: {{territory.windowHeight - territory.offsetTop - 5}}px;'
  )
    .vr-parent(vs-repeat vs-size-fn='vm.rowHeight' vs-scroll-parent="#scroll-main" vs-excess='7')
      .item.partner(ng-repeat='p in vm.partners| orderBy:"name" track by p.id')
        h5
          a.lead {{ ::p.shortName }}

        p.address(
        ng-repeat='o in p.outlets | orderBy:"address"'
        ng-class='{blocked: o.isActive === false}'
        )
          a.green(ng-if='o.locationId')
            i.glyphicon.glyphicon-map-marker
          a.ml-5(href ng-click='vm.outletClick(o)') {{ ::o.address }}

// campaigns — copypaste from campaigns.pug
section.campaigns(cg-busy='vm.cgBusy' ng-if='vm.selectedOutletId && !vm.selectedCampaignId')

  .row Outlet Name

  .row.datepicker-with-buttons

    campaign-group-popover.col-sm-5.col-lg-3(
    current-item='vm.campaignGroup'
    init-item-id='vm.initGroupId'
    )

  .scroll-y(resize resize-offset-top='5')

    .campaign(ng-repeat='campaign in vm.campaigns | orderBy:"name" track by campaign.id')

      h4.title

        span.name {{ campaign.name | cleanName }}

        a.commentText(
        href
        ng-if='campaign.commentText'
        uib-tooltip='{{campaign.commentText}}'
        )
          i.glyphicon.glyphicon-question-sign

      .pictures
        a.thumb(
        href ng-click='vm.thumbClick(picture)'
        ng-repeat='picture in ::campaign.photoReports | orderBy: "name" track by picture.id'
        )
          img(ng-src='{{picture.srcThumbnail}}')
