section.ui-view.photo-report-list(cg-busy='vm.cgBusy')

  .header

    .filters

      sab-dropdown(
      ng-model='vm.campaignGroupId'
      items-data-source-name='CampaignGroup'
      items-data='vm.campaignGroups'
      )

      sab-dropdown(
      ng-model='vm.campaignId'
      items-data-source-name='Campaign'
      items-name-property='title'
      items-group-property='teamName'
      items-data='vm.campaigns'
      allow-clear='true'
      )

      sab-dropdown(
      ng-model='vm.outletId'
      items-data-source-name='Outlet'
      items-name-property='address'
      items-group-property='name'
      items-data='vm.outlets'
      allow-clear='true'
      )

    .buttons

      make-photo(
      ng-disabled='!vm.photoReport'
      model='vm.photoReport'
      model-name='PhotoReport'
      busy='vm.cgBusy'
      )
        i.glyphicon.glyphicon-camera
        //span Добавить фото

      a.btn.btn-link.edit-toggler(
      href ng-click='vm.editing = !vm.editing'
      ng-class='{disabled: !vm.data.length || !vm.editing}'
      )
        //span {{ vm.editing ? 'Готово' : 'Удалить' }}
        i.glyphicon(ng-class='vm.editing ? "glyphicon-lock" : "glyphicon-edit"')

  .alert.alert-info(ng-if='!vm.busy && !vm.data.length') Нет фото-отчетов в указанном периоде

  #scroll-main.scroll-y(
  resize
  resize-offset-top='10'
  resize-property='max-height'
  ng-if='vm.data.length'
  ng-disabled='vm.isPopoverOpen'
  )
    .photo-reports(vs-repeat='100' vs-scroll-parent='#scroll-main')
      .photo-report(ng-repeat='item in vm.data track by item.id')

        a.thumb(ng-click='vm.thumbClick(item)')
          img(ng-src='{{ item.srcThumbnail }}')

        .outlet
          .name {{ item.outlet.name }}
          .address
            small.gray {{ item.outlet.address }}

        .campaign {{ item.campaign.title }} ({{ item.campaign.campaignGroup.shortName }})

        .deviceCts

          a.remove(
          href ng-click='vm.deleteClick(item)'
          ng-if='vm.editing'
          aria-label='Удалить фото'
          )
            i.glyphicon.glyphicon-trash

          span {{ item.deviceCts | amUtc | amLocal | amCalendar }}

