.debt-view.ui-view()

  font-size-edit.debt-view-table(
  append-to='catalogueArticle'
  cg-busy='vm.cgBusy'
  )

    .table-header
      .responsibility-filter
        a.flag(
        href
        ng-click='vm.responsibilityClick(item)'
        ng-class='{flagged: item.flagged}'
        ng-repeat='item in vm.responsibilities track by item.id'
        ) {{ ::item.name }}
      .totals(ng-if='vm.data.length')
        label.total(ng-if='vm.totals.totalSummDocPlus') Бух+
        label.total.overdue(ng-if='vm.totals.totalOverdue') Просрочено
        label.total.cashed(ng-if='vm.totals.totalCashed') На руках
        label.total Остаток долга

    .scroll-y#scroll-main(
    resize
    resize-offset-top='40'
    resize-offset-top-xs='32'
    elem-ready='vm.restoreScrollPosition()'
    )

      .partner-debt-total(ng-repeat='group in vm.data track by $index')

        h4.name {{ ::group.partner.shortName }}

        .outlet-debt-total(ng-repeat='item in group.items track by $index')

          .outlet(ng-class='{blocked: item.outlet.isActive === false}')
            small.address {{ ::item.outlet.address }}

          a.totals(href ng-click='vm.itemClick(item)')

            currency-value.summDocPlus(value='item.summDocPlus' hide-empty='true')

            currency-value.overdue(value='item.overdue' hide-empty='true')

            currency-value(value='item["sum(cashed)"]' ng-if='vm.totals.totalCashed')

            .total
              currency-value(value='item["sum(summ)"]')


        .totals.sub(ng-if='group.items.length > 1')

          currency-value.overdue(value='group.overdue' hide-empty='true')
          currency-value(value='group["sum(cashed)"]' ng-if='vm.totals.totalCashed')

          .total
            currency-value(value='group["sum(summ)"]')

    .footer(ng-if='vm.data.length')
      .totals.animate-show(ng-hide='vm.busy')

        label Итого:

        currency-value(value='vm.totals.totalSummDocPlus' hide-empty='true')
        currency-value.overdue(value='vm.totals.totalOverdue' hide-empty='true')
        a(href ng-click='vm.totalCashedClick()' ng-if='vm.totals.totalCashed')
          currency-value(value='vm.totals.totalCashed')
        currency-value(value='vm.totals.totalSumm')

  .alert.alert-info.centered(ng-if='!vm.data.length && !vm.busy')
    span Нет долгов
