.catalogue-filter(ng-class='vm.fullScreen ? "full-screen" : "not-full-screen"')

  .full-screen-controls(ng-if='vm.fullScreen')
    .title(ng-class='{"not-found": !vm.cvm.stock.length}')
      label Товаров в каталоге:
      strong {{ vm.cvm.stock.length | number:0 }}

    a(href ng-click='vm.fullScreen = false')
      i.glyphicon.glyphicon-remove

  .catalogue-filter-body

    uib-accordion(close-others='false')

      include tabs/catalogueFilterQueries

      .active-filters(
      ng-if='vm.filters.length || vm.cvm.currentArticleGroup || vm.priceSlider.hasFilter()'
      )

        a.current-article-group(
        href ng-click='vm.cvm.articleGroupClick()'
        ng-if='vm.cvm.currentArticleGroup'
        )
          | {{ vm.cvm.currentArticleGroup.displayName }}

        a.filter(
        ng-repeat='filter in vm.filters track by $index'
        href ng-click='vm.removeTagClick(filter)'
        )
          | {{ filter.label }}

        a.price-min(
        ng-if='vm.priceSlider.min'
        href ng-click='vm.priceSlider.min = 0'
        )
          | Цена от {{ vm.priceSlider.min }} ₽

        a.price-max(
        ng-if='vm.priceSlider.max < vm.priceSlider.options.ceil'
        href ng-click='vm.priceSlider.max = vm.priceSlider.options.ceil'
        )
          | Цена до {{ vm.priceSlider.max }} ₽

      include tabs/catalogueFilterArticleGroups

      include tabs/catalogueFilterTagGroups

    .price-filter(ng-if='vm.showSettings || vm.settingValue("price")')

      .settings(ng-if='vm.showSettings')
        a(href ng-click='vm.settingToggleClick("price", $event)')
          i.glyphicon.glyphicon-cog
          strong {{ vm.settingValue('price') ? 'скрыть' : 'показать' }}

      rzslider(
      rz-slider-model="vm.priceSlider.min"
      rz-slider-high="vm.priceSlider.max"
      rz-slider-options="vm.priceSlider.options"
      )
