a.sale-order-discount-info(
href
uib-popover-template='"app/domain/sales/saleOrder/saleOrderDiscountInfo/saleOrderDiscountPopover.template.html"'
ng-click='vm.click($event)'
popover-trigger='::vm.popoverTrigger'
popover-placement='bottom-right'
popover-title='Скидки в заказе'
)
  i %
