.sale-order-discount-popover

  .no-data(ng-if='!vm.discounts.length')
    | {{ vm.busy ? 'Загрузка ...' : 'Скидки в заказе не предоставлены' }}

  .scroll-y(
  resize resize-offset-top='140'
  )

    .sale-order-discount.list-item(
    ng-repeat='discount in vm.discounts | orderBy: ["-discountScope","priceGroup.name","article.name"] track by discount.id'
    ng-switch='discount.discountScope'
    )
      .discount-scope(ng-switch-when='priceGroup') Группа «{{ discount.priceGroup.name }}»
      .discount-scope(ng-switch-when='article') {{ discount.article.name }}
      .discount-scope(ng-switch-when='saleOrder') На весь заказ

      .discount
        strong {{ discount.discount | number }}
        span.currency %

  .discount-totals(
  ng-if='vm.discounts.length'
  ng-switch='vm.saleOrder.totalCostDoc === vm.saleOrder.totalCost'
  )

    currency-value.discount-total(
    ng-switch-when='true'
    label='Итого скидка:'
    value='vm.saleOrder.totalCost - vm.totalCostNoDiscount'
    )
    currency-value.total-cost-no-discount(
    ng-switch-when='true'
    label='Итого без скидки:'
    value='vm.totalCostNoDiscount'
    )

    currency-value.discount-total(
    ng-switch-when='false'
    label='Итого бух - упр:'
    value='vm.saleOrder.totalCostDoc - vm.saleOrder.totalCost'
    )
    currency-value.total-cost-no-discount(
    ng-switch-when='false'
    label='Итого по накладной:'
    value='vm.saleOrder.totalCostDoc'
    )

    currency-value.discount-total(
    ng-if='vm.hasPriceAgent'
    label='Профит:'
    value='vm.saleOrder.profit()'
    decimals='1'
    currency='%'
    )

    currency-value.stm-ratio(
    label='Доля стоимости СТМ:'
    value='vm.saleOrder.stmRatioCached()'
    decimals='1'
    currency='%'
    )

