a(
href
ng-click='vm.triggerClick()'
popover-trigger=''
popover-append-to-body='true'
popover-is-open='vm.isPopoverOpen'
popover-placement='bottom-left auto'
uib-popover-template='"app/domain/sales/debts/outletCashingPopover/outletCashingPopover.template.html"'
)
  ng-transclude
