.ng-gallery.ng-gallery-fullscreen

  a.left-right-chevron(
  href
  ng-click='vm.prevImageClick()'
  ng-show='imagesAll.length > 1'
  )
    i.glyphicon.glyphicon-chevron-left.btn-lg

  .main-view

    // TODO: Swipes
    a.main-photo-block(
    href
    ng-click='vm.closeGalleryClick()'
    md-swipe-left='vm.nextImageClick()'
    md-swipe-right='vm.prevImageClick()'
    md-swipe-up='vm.closeGalleryClick()'
    )

      // TODO: move to a separate component
      .loading-circle(ng-if='loading')
        svg.spinner(width='100px', height='100px', viewbox='0 0 66 66')
          circle.path(fill='none', stroke-width='6', stroke-linecap='round', cx='33', cy='33', r='30')

      img.fullsize(
      ondragstart='return false;'
      draggable='false'
      ng-src='{{ currentImageSrc }}'
      ng-if='!loading'
      alt='Ошибка загрузки изображения'
      )

    .image-info
      p.name(ng-if='vm.currentImage.name') {{ vm.currentImage.name }}
      p.index {{index + 1}} / {{imagesAll.length}}

    .ng-thumbnails-wrapper
      #ng-thumbnails-scroll(
      ng-class='imagesAll.length < 7 ? "flex-center" : "" '
      vs-horizontal
      vs-autoresize
      vs-repeat
      )
        a.ng-thumbnail(
        href
        ng-click='vm.fullScreenThumbnailClick(image)'
        ng-class='{active : vm.currentImage.id === image.id}'
        ng-repeat='image in imagesAll track by image.id'
        )
          img(
          draggable='false'
          ng-src='{{ image.thumbnailSrc }}'
          )


  a.left-right-chevron(
  href
  ng-show='imagesAll.length > 1'
  ng-click='vm.nextImageClick()'
  )
    i.glyphicon.glyphicon-chevron-right.btn-lg

  a.window-controls(
  href
  ng-click='vm.closeGalleryClick()'
  )
    i.glyphicon.glyphicon-remove.btn-lg


