.ng-gallery.ng-gallery-fullscreen

  .left-right-chevron(
  ng-show='imagesAll.length > 1'
  )
    i.glyphicon.glyphicon-chevron-left.btn-lg(ng-click='vm.prevImageClick()')

  .main-view

    // TODO: Swipes

    .main-photo-block(
    md-swipe-left='vm.nextImageClick()'
    md-swipe-right='vm.prevImageClick()'
    md-swipe-up='vm.closeGalleryClick()'
    )

      .loading-circle(ng-if='loading')
        svg.spinner(width='100px', height='100px', viewbox='0 0 66 66')
          circle.path(fill='none', stroke-width='6', stroke-linecap='round', cx='33', cy='33', r='30')

      img.fullsize(
      ondragstart='return false;'
      ng-click='vm.closeGalleryClick()'
      draggable='false'
      ng-src='{{ currentImageSrc }}'
      ng-if='!loading'
      )

    .image-info
      p.photo-counter-gt-sm {{index + 1}}/{{imagesAll.length}}

    .ng-thumbnails-wrapper
      #ng-thumbnails-scroll(
      ng-class='imagesAll.length < 7 ? "flex-center" : "" '
      vs-horizontal
      vs-autoresize
      vs-repeat
      )
        a.ng-thumbnail(
        href
        ng-click='vm.fullScreenThumbnailClick(image)'
        ng-class='{active : vm.currentImage.id === image.id}'
        ng-repeat='image in imagesAll track by image.id'
        )
          img(
          draggable='false'
          ng-src='{{ image.thumbnailSrc }}'
          )


  .left-right-chevron(
  ng-show='imagesAll.length > 1'
  )
    i.glyphicon.glyphicon-chevron-right.btn-lg(ng-click='vm.nextImageClick()')

  .window-controls
    i.glyphicon.glyphicon-remove.btn-lg(ng-click='vm.closeGalleryClick()')


