.thumbnails(ng-class='baseClass')
  a(
  href
  ng-disabled='!thumbImage'
  ng-click='vm.thumbnailClick(thumbImage)'
  )
    img(
    ng-src='{{ thumbImage && thumbImage.thumbnailSrc || "/images/placeholder.png" }}'
    ng-class='thumbClass'
    alt='Ошибка получения фото'
    draggable='false'
    )
