.thumbnails(ng-class='baseClass')
  a(
  href
  ng-disabled='!thumbImage.srcThumbnail'
  ng-click='vm.thumbnailClick(thumbImage)'
  )
    img(
    ng-src='{{ thumbImage && thumbImage.srcThumbnail }}'
    ng-class='[thumbClass, !(thumbImage && thumbImage.srcThumbnail) ? "placeholder" : ""]'
    draggable='false'
    )
