small.dropdown-navbar-menu.gray.ml-10(
uib-dropdown
outsideClick
on-toggle='vm.salesmansListOpen = false || toggled(open)'
auto-close='outsideClick'
)
  a.p-6(
  ng-href='{{vm.showMenu ? " " : ""}}'
  ng-disabled="!vm.showMenu"
  uib-dropdown-toggle
  )
    b.glyphicon.glyphicon-option-vertical(ng-if='vm.showMenu')
  ul.dropdown-menu.dropdown-menu-right(
  uib-dropdown-menu
  ng-class='{disabled: vm.hideNavs}'
  )
    li
      small.gray.ml-10
        a.p-6(
        ng-click='vm.salesmansListOpen = !vm.salesmansListOpen'
        )
          b.glyphicon.glyphicon-user
          span {{vm.salesmanMenuTitle()}}

    section(ng-if='vm.salesmansListOpen')
      hr
      li(ng-repeat='salesman in vm.salesmans')
        small.gray.ml-10
          a.p-6(
          href
          ng-click='vm.salesmanClick(salesman)'
          )
            b.glyphicon.glyphicon-ok(ng-class='vm.selectedSalesman !== salesman ? "glyphicon-none" : ""')
            span {{salesman.shortName}}
      hr

    li(ng-if='vm.isRootState && vm.toggleFullScreen')
      small.gray.ml-10
        a.p-6(
        href
        ng-click='vm.toggleFullScreen()'
        ng-disabled='vm.salesmansListOpen'
        )
          b.glyphicon(ng-class='vm.fullscreenButtonClass()')
          span {{vm.fullscreenButtonTitle()}}
