small.gray.ml-10(
uib-dropdown
outsideClick
on-toggle='toggled(open)'
auto-close='outsideClick'
)
  a.p-6(
  ng-href='{{vm.showMenu ? " " : ""}}'
  ng-disabled="!vm.showMenu"
  uib-dropdown-toggle
  )
    b.glyphicon.glyphicon-option-vertical(ng-if='vm.showMenu')
  ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
    li(ng-if='vm.isSalesState')
      small.gray.ml-10
        a.p-6(
        href
        ng-click='vm.salesmanClick()'
        ng-class='{disabled: vm.hideNavs}'
        )
          b.glyphicon.glyphicon-user
          span {{vm.salesmanMenuTitle()}}
    li(ng-if='vm.isRootState && vm.toggleFullScreen')
      small.gray.ml-10
        a.p-6(
        href
        ng-click='vm.toggleFullScreen()'
        ng-class='{disabled: vm.hideNavs}'
        )
          b.glyphicon(ng-class='vm.fullscreenButtonClass()')
          span {{vm.fullscreenButtonTitle()}}
