small.dropdown-navbar-menu.gray(
uib-dropdown
outsideClick
on-toggle='vm.salesmansListOpen = false || toggled(open)'
auto-close='outsideClick'
)
  a.p-6(
  ng-href='{{vm.showMenu ? " " : ""}}'
  ng-disabled="!vm.showMenu"
  uib-dropdown-toggle
  )
    b.glyphicon.glyphicon-user(ng-if='vm.showMenu')
    span.hidden-xs.ml-10 {{vm.selectedSalesman ? vm.selectedSalesman.shortName : 'Выбрать салесмана'}}
  ul.dropdown-menu.dropdown-menu-right(
  uib-dropdown-menu
  ng-class='{disabled: vm.hideNavs}'
  )
    li
      small.gray.ml-10
        a.p-6(
        ng-click='vm.salesmansListOpen = !vm.salesmansListOpen'
        ng-disabled='vm.salesmans.length === 1'
        )
          b.glyphicon.glyphicon-user
          span.ml-10 {{vm.selectedSalesman ? vm.selectedSalesman.shortName : 'Выбрать салесмана'}}

    section(ng-if='vm.salesmansListOpen')
      hr
      li(ng-repeat='salesman in vm.salesmans')
        small.gray.ml-10
          a.p-6(
          href
          ng-click='vm.salesmanClick(salesman)'
          )
            b.glyphicon.glyphicon-ok(ng-class='vm.selectedSalesman !== salesman ? "glyphicon-none" : ""')
            span {{salesman.shortName}}
      hr

small.gray.ml-10(ng-if='vm.isRootState && vm.toggleFullScreen')
  a.p-6(
  href
  ng-click='vm.toggleFullScreen()'
  )
    b.glyphicon(ng-class='vm.fullscreenButtonClass()')
