h2.root-navbar(ng-hide='vm.hide' ng-class='{disabled: vm.hideNavs}')

  a.home(href ui-sref='home' ng-class='{disabled: vm.isRootState}')
    b.glyphicon.glyphicon-home

  a(href ng-click='vm.rootClick()' ng-class='{disabled: vm.isRootState}')
    | {{ vm.title }}

  span(ng-if='vm.haveUnsyncedObjects') HUO!

  .separator

  fullscreen-menu(ng-show='vm.isRootState')

  // TODO: add component config option to unhardcode domain content
  .sales-navs(ng-if='vm.isSalesState')

    .catalogue-settings(
    ng-if='vm.isCatalogueState'
    popover-animation='true'
    uib-popover-template="'app/domain/components/catalogueSettingsPopover.html'"
    popover-trigger='outsideClick'
    popover-placement='bottom-right'
    )
      i.glyphicon.glyphicon-cog

    campaign-popover(ng-if='vm.isCatalogueState')

    salesman-menu

hr
