section(ng-hide='vm.hide')

  h2.flex

    small.gray.ml-10
      a.p-6(
      href
      ui-sref='home'
      ng-class='{disabled: vm.hideNavs}'
      )
        b.glyphicon.glyphicon-home

    span.flex-1

    a.inherit-colors(
    href=''
    ng-click='vm.rootClick()'
    ng-class='{disabled: vm.hideNavs}'
    ) {{ vm.title }}

    span.flex-1

    small.gray.ml-10(
    uib-dropdown
    outsideClick
    on-toggle='toggled(open)'
    auto-close='outsideClick'
    )
      a.p-6(
      href
      ng-click=''
      uib-dropdown-toggle
      )
        b.glyphicon.glyphicon-option-vertical
      ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
        li
          small.gray.ml-10
            a.p-6(
            href
            ng-click='vm.salesmanClick()'
            ng-class='{disabled: vm.hideNavs}'
            )
              b.glyphicon.glyphicon-user
              span {{vm.salesmanMenuTitle()}}

        li(ng-if='vm.isRootState && vm.toggleFullScreen')
          small.gray.ml-10
            a.p-6(
            href
            ng-click='vm.toggleFullScreen()'
            ng-class='{disabled: vm.hideNavs}'
            )
              b.glyphicon(ng-class='vm.fullscreenButtonClass()')
              span {{vm.fullscreenButtonTitle()}}


  hr
