h2.root-navbar(ng-hide='vm.hide' ng-class='{disabled: vm.hideNavs}')

  a.home(href ui-sref='home' ng-class='{disabled: vm.isRootState}')
    b.glyphicon.glyphicon-home

  a(href ng-click='vm.rootClick()' ng-class='{disabled: vm.isRootState}')
    | {{ vm.title }}

  .separator

  fullscreen-menu(ng-show='vm.isRootState')

  .sales-navs(ng-if='vm.isSalesState')

    .catalogue-settings(
    ng-if='vm.isCatalogueState'
    popover-animation='true'
    uib-popover-template="'app/components/navbar/catalogueSettingsPopover.html'"
    popover-trigger='outsideClick'
    popover-placement='bottom-right'
    )
      i.glyphicon.glyphicon-cog

    .dropdown-salesman-menu
      salesman-menu
hr
