section(ng-hide='vm.hide')

  h2.container

    .row
      .col-xs-4.text-left
        small.gray
          a.p-6(
          href
          ui-sref='home'
          ng-class='{disabled: vm.hideNavs}'
          )
            b.glyphicon.glyphicon-home

      .col-xs-4.text-center
        a.inherit-colors(
        href=''
        ng-click='vm.rootClick()'
        ng-class='{disabled: vm.hideNavs}'
        ) {{ vm.title }}

      .col-xs-4.text-right(ng-class='{disabled: vm.hideNavs}')
        navbar-menu

  hr
