a(
href
ng-class='{disabled: !vm.isEnabled}'
uib-popover-template="'app/components/navbar/salesmanPopover.html'"
popover-placement='bottom-right'
popover-trigger='outsideClick'
popover-is-open='vm.isOpen'
)
  span(ng-if='vm.toggleLabel()') {{ vm.toggleLabel() }}
  span.glyphicon.glyphicon-user(ng-if='!vm.toggleLabel()')
  span.caret
