section.ui-view(cg-busy='vm.cgBusy')

  make-photo(
  model='vm.shipmentRoutePointPhoto'
  ng-if='vm.routeId && vm.routePointId'
  model-name='ShipmentRoutePointPhoto'
  )
    i.glyphicon.glyphicon-camera
    span Добавить фото

  #scroll-main.scroll-y(
    resize
    resize-offset-top='10'
    resize-property='max-height'
    ng-if='vm.data.length'
  )

    .routes
      .route(ng-repeat='item in vm.data track by item.id')

        .date
          a(
            ng-if='!vm.routeId'
            href
            ng-click='vm.selectRoute(item)'
          ) {{ item.date | amUtc | amLocal | amCalendar }} ({{item.routePoints.length}} точек)
          a(
            ng-if='vm.routeId && !vm.routePointId'
            href
            ng-click='vm.selectPoint(item)'
          ) {{ item.name }} / {{ item.address }} ({{item.photos.length}} фото)
          a(
            ng-if='vm.routeId && vm.routePointId'
            href
            ng-click=''
          ) {{ item.id }}
        hr
