section.campaigns(cg-busy='vm.cgBusy')

  campaign-filter-popover(
  current-item='vm.campaignGroup'
  init-item-id='vm.initGroupId'
  current-team='vm.currentTeam'
  )

  .scroll-y.selectivity-increasing-class(resize resize-offset-top='5')

    .campaign(ng-repeat='campaign in vm.campaigns | filter:{teamName: vm.currentTeam } | orderBy:"name" track by campaign.id')

      .title

        span.name {{campaign.teamName}} {{campaign.title}}
          sup.commentText(
          href
          ng-if='campaign.commentText'
          uib-tooltip='{{campaign.commentText}}'
          )
            i.glyphicon.glyphicon-question-sign

      .pictures
        a.thumb(
        href ng-click='vm.thumbClick(picture)'
        ng-repeat='picture in ::campaign.campaignPictures track by picture.id'
        )
          img(ng-src='{{picture.srcThumbnail}}')

    p(ng-if='!vm.campaigns.length && vm.cgBusy') Акций не найдено
