section.campaigns#campaigns-list()

  campaign-filter-popover(
  current-item='vm.campaignGroup'
  init-item-id='vm.initGroupId'
  current-team='vm.currentTeam'
  campaigns='vm.campaigns'
  busy='vm.busy'
  )

  .scroll-y(resize resize-offset-top='5' cg-busy='vm.busy')

    .campaign(ng-repeat='campaign in vm.campaigns | filter:{teamName: vm.currentTeam } | orderBy:"name" track by campaign.id')

      .title

        a.name(href ng-click="vm.campaignClick(campaign)") {{campaign.teamName}} {{campaign.title}}

        sup.commentText(
        ng-if='campaign.commentText'
        uib-tooltip='{{::campaign.commentText}}'
        tooltip-trigger='focus'
        )
          i.glyphicon.glyphicon-question-sign

      .actions
        .action(ng-repeat="action in campaign.actions | orderBy:\"name\" track by action.id")
          .name {{ ::action.name }}
          .comment(ng-if="action.commentText" ng-bind-html="::action.commentText")
          //action-view(action="::action")

      .pictures

        a.thumb(
        ng-class='{"is-not-visible": $index > vm.limit-1, "is-visible": vm.showCampaignPhotosId == campaign.id }'
        href ng-click='vm.thumbClick(picture)'
        ng-repeat='picture in ::campaign.campaignPictures track by picture.id'
        )

          img(ng-src='{{picture.srcThumbnail}}')

        span.more(ng-if='campaign.campaignPictures.length > vm.limit' ng-click='vm.showHiddenPic(campaign)')
          span {{vm.showCampaignPhotosId == campaign.id ? '-' : '+' }}
          span {{campaign.photoCount - vm.limit}}

    .no-data(ng-if='!vm.campaigns.length && vm.cgBusy.promise.$cgBusyFulfilled') Акций не найдено
