section.campaigns#campaigns-list()

  campaign-filter-popover(
  current-item='vm.campaignGroup'
  init-item-id='vm.initGroupId'
  current-team='vm.currentTeam'
  campaigns='vm.campaigns'
  busy='vm.busy'
  )

  .scroll-y(resize resize-offset-top='5' cg-busy='vm.busy' ng-class="vm.currentTeam.cls")

    .campaign(ng-repeat="campaign in vm.currentTeam.campaigns")

      .title

        a.name(href ng-click="vm.campaignClick(campaign)") {{campaign.teamName}} {{campaign.title}}

        sup.commentText(
        ng-if='campaign.commentText'
        uib-tooltip='{{::campaign.commentText}}'
        tooltip-trigger='focus'
        )
          i.glyphicon.glyphicon-question-sign

      .territory(ng-if="campaign.territory")
        i.glyphicon.glyphicon-flag
        span {{ campaign.territory }}

      .actions(ng-if="!campaign.groups")
        .action(ng-repeat="action in campaign.actions track by action.id")
          .name {{ ::action.name }}
          .comment(ng-if="action.commentText" ng-bind-html="::action.commentText")
          .priority(ng-if="action.priority")
            i.glyphicon.glyphicon-flag
            span {{ action.priority.name }}

      .group(ng-repeat="group in campaign.groups track by group.id")
        a.name(href ng-click="vm.campaignClick(group)") {{ ::group.name }}
        .action(ng-repeat="action in group.actions track by action.id")
          .name {{ ::action.name }}

      .pictures

        a.thumb(
        ng-class='{"is-not-visible": $index > vm.limit-1, "is-visible": vm.showCampaignPhotosId == campaign.id }'
        href ng-click='vm.thumbClick(picture)'
        ng-repeat='picture in ::campaign.campaignPictures track by picture.id'
        )

          img(ng-src='{{picture.srcThumbnail}}')

        span.more(ng-if='campaign.campaignPictures.length > vm.limit' ng-click='vm.showHiddenPic(campaign)')
          span {{vm.showCampaignPhotosId == campaign.id ? '-' : '+' }}
          span {{campaign.photoCount - vm.limit}}

    .no-data(ng-if='!vm.campaigns.length && vm.cgBusy.promise.$cgBusyFulfilled') Акций не найдено
