section

  table.table.table-striped.clear-both.table-hover
    thead(ng-if='vm.selectedCampaignGroup')
      tr
        th {{ vm.selectedCampaignGroup.name }}
    tbody
      tr.clickable(
      ng-if='vm.selectedCampaignGroup'
      ng-repeat='campaign in vm.campaigns | orderBy:"name"'
      ng-click='vm.campaignClick(campaign)'
      )
        td
          div {{ campaign.name }}
      tr.clickable(
      ng-if='!vm.selectedCampaignGroup'
      ng-repeat='campaignGroup in vm.campaignGroups | orderBy:"-name"'
      ng-click='vm.campaignGroupClick(campaignGroup)'
      )
        td
          div {{ campaignGroup.name }} — {{ campaignGroup.campaigns.length | number: 0 }}
