.price-edit

  a(
  href
  uib-popover-template="'app/domain/components/priceEdit/priceEditPopover.trigger.html'"
  ng-click='vm.click($event)'
  popover-trigger='::vm.popoverTrigger'
  popover-is-open='vm.popoverOpen'
  popover-placement='bottom auto'
  popover-append-to-body='true'
  popover-class='price-edit-popover'
  )
    span.value {{ vm.discountPrice() | number:2 }}
    span.currency ₽

    span.discount(
    ng-if='vm.discountPercent()'
    ) ({{vm.discountPercent() > 0 ? '+' : '' }}{{ vm.discountPercent() | number }}%)

    span.price-doc(ng-if='vm.discountPrice() !== vm.discountPrice("Doc")')
      span.value [{{ vm.discountPrice('Doc') | number:2 }}]

    span.caret
