fieldset.price-edit-popover

  .inputs(ng-class='{disabled: !vm.editable}')

    .list-group.discount-scope

      a.list-group-item(
      href
      ng-model='vm.discountScope'
      uib-btn-radio="'article'" uib-uncheckable='false'
      ) На товар

      a.list-group-item(
      href
      ng-if='vm.priceGroup'
      ng-model='vm.discountScope'
      uib-btn-radio="'priceGroup'" uib-uncheckable='false'
      )
        .name На группу
        .gray «{{ vm.priceGroup.name }}»

      a.list-group-item(
      href
      ng-model='vm.discountScope'
      uib-btn-radio="'saleOrder'" uib-uncheckable='false'
      ) На весь заказ

    .discount.form-group

      label Cкидка:

      .input-group

        a.btn.input-group-addon(ng-click='vm.decrementPercentClick()')
          i.glyphicon.glyphicon-minus

        a.form-control#price-edit-discount(
        href
        ng-click='vm.showNumPad = !vm.showNumPad'
        )
          strong {{ vm.discountPercentView }}
          span.currency %

        a.btn.input-group-addon(ng-click='vm.incrementPercentClick()')
          i.glyphicon.glyphicon-plus
          span 1

        a.btn.input-group-addon(ng-click='vm.incrementPercentClick(5)')
          i.glyphicon.glyphicon-plus
          span 5

        a.btn.input-group-addon(ng-click='vm.incrementPercentClick(10)')
          i.glyphicon.glyphicon-plus
          span 10

    sa-keyboard(
    datatype='price'
    ng-show='vm.showNumPad'
    model='vm.discountPercentView'
    export-model='vm.discountPercent'
    model-max='30'
    box-rel='","'
    )

    .price

      .form-group
        label Со скидкой:
        span.form-control#price-edit-price {{ vm.price | number:2 }}

    .priceOrigin

      .form-group
        label Без скидки:
        = ' '
        span.form-control#price-edit-priceOrigin {{ vm.priceOrigin | number:2 }}

  //.extras(ng-if='vm.ksOption')

    button.btn(
    ng-class='vm.position.isCompDiscount ? "btn-primary" : "btn-default"'
    ng-click='vm.ksButtonClick()'
    ) КС
