fieldset.price-edit-popover

  .inputs(ng-class='{disabled: !vm.editable}')

    .list-group.discount-scope

      a.list-group-item(
      href
      ng-model='vm.discountScope'
      uib-btn-radio="'article'" uib-uncheckable='false'
      ) На товар

      a.list-group-item(
      href
      ng-if='vm.priceGroup'
      ng-model='vm.discountScope'
      uib-btn-radio="'priceGroup'" uib-uncheckable='false'
      )
        .name На группу
        .gray «{{ vm.priceGroup.name }}»

      a.list-group-item(
      href
      ng-model='vm.discountScope'
      uib-btn-radio="'saleOrder'" uib-uncheckable='false'
      ) На весь заказ


    .btn-group.mode

      button.btn.btn-default(ng-model='vm.mode' uib-btn-radio="'discount'" uib-uncheckable='false') Скидка
      button.btn.btn-default(ng-model='vm.mode' uib-btn-radio="'markup'" uib-uncheckable='false') Наценка
      button.btn.btn-default(ng-model='vm.mode' uib-btn-radio="'price'" uib-uncheckable='false') Цена

    .display

      .form-group(ng-switch='vm.mode')

        label(ng-switch-when='discount') Скидка:
        label(ng-switch-when='markup') Наценка:
        label(ng-switch-when='price') Цена со скидкой:

        .form-control#price-edit-price-display(
        ng-switch-when='price'
        ng-class='{"ng-invalid": vm.invalidPrice}'
        )

          strong {{ vm.priceView || 0 }}
          span.currency ₽

        .input-group(ng-switch-when='markup|discount' ng-switch-when-separator="|")

          a.btn.input-group-addon(href ng-click='vm.decrementPercentClick()')
            i.glyphicon.glyphicon-minus

          .form-control#price-edit-discount
            strong {{ vm.discountPercentView || 0 }}
            span.currency %

          a.btn.input-group-addon(href ng-click='vm.incrementPercentClick()')
            i.glyphicon.glyphicon-plus

    sa-keyboard(
    datatype='price'
    ng-if='vm.mode !== "price"'
    model='vm.discountPercentView'
    export-model='vm.discountPercent'
    model-max='30'
    box-rel='","'
    )

    sa-keyboard(
    datatype='price'
    ng-if='vm.mode === "price"'
    model='vm.priceView'
    export-model='vm.price'
    model-max='vm.maxPrice'
    box-rel='","'
    )

    .fields

      .price(ng-if='vm.mode !== "price"')

        .form-group
          label {{ vm.mode === 'markup' ? 'Со наценкой' : 'Со скидкой'}}:
          span.form-control {{ vm.price | number:2 }}
            span.currency ₽

      .price(ng-if='vm.mode === "price"')

        .form-group
          label {{ vm.mode === 'markup' ? 'Наценка' : 'Скидка' }}:
          span.form-control {{ vm.signedDiscountPercent() | number }}
            span.currency %

      .priceOrigin

        .form-group
          label Без скидки:
          span.form-control#price-edit-priceOrigin {{ vm.priceOrigin | number:2 }}
            span.currency ₽

      //.priceAgent(ng-if='vm.priceAgent')

        .form-group
          label Цена агента:
          span.form-control#price-edit-priceAgent {{ vm.priceAgent | number:2 }}

      .profit(ng-if='vm.priceAgent')

        .form-group
          label Профит:
          span.form-control#price-edit-profit {{ vm.profit() | number:2 }}
            span.currency %


  //.extras(ng-if='vm.ksOption')

    button.btn(
    ng-class='vm.position.isCompDiscount ? "btn-primary" : "btn-default"'
    ng-click='vm.ksButtonClick()'
    ) КС
