.article-campaigns-popover(ng-class="{'has-active': vm.variantId}")

  .variants
    .variant(
      ng-repeat="variant in vm.variants track by variant.id"
      ng-click="vm.onVariantClick(variant)"
      ng-class="{ active: vm.variantId === variant.id }"
    )
      .name {{ variant.name }}
      .discount {{ variant.variantDiscount(vm.articleId) }}

  .buttons
    a.btn.btn-link.btn-warning(
      ng-click='vm.cancelClick()'
    ) Отменить
    a.btn.btn-link(
      ng-click='vm.popoverOpen = false'
    ) Готово
