.outlet-cashing-popover

  form(name="cashForm" ng-submit='vm.onSubmit()')

    .form-group(ng-if='!vm.outlet')

      input#outlet-cashing-comment.form-control(
      ng-model='vm.commentText'
      name='commentText'
      placeholder='{{ vm.commentTextPlaceholder }}'
      track-focused
      required
      autocomplete="off"
      )

    .form-group

      input#outlet-cashing-ndoc.form-control(
      ng-model='vm.ndoc'
      name='ndoc'
      placeholder='{{ vm.ndocPlaceholder }}'
      track-focused
      required
      autocomplete="off"
      )

    .form-group
      input#outlet-cashing-summ.form-control(
      ng-model='vm.summ'
      type='number'
      name='summ'
      placeholder='Сумма'
      step='0.01'
      track-focused
      required
      autocomplete="off"
      )

    button.btn.btn-primary(
    type='submit'
    value='submit'
    ng-disabled='!cashForm.$valid'
    ) Добавить {{ vm.summSign == -1 ? 'вычет' : 'выручку' }}

