a(
href
ng-click='vm.triggerClick()'
popover-trigger=''
popover-is-open='vm.isPopoverOpen'
popover-placement='bottom'
uib-popover-template='"app/domain/components/outletCashingPopover/outletCashingPopover.template.html"'
)
  ng-transclude
