a(
href
ng-click='vm.triggerClick()'
popover-trigger='none'
popover-is-open='vm.isPopoverOpen'
popover-placement='auto top-left'
uib-popover-template='"app/domain/components/outletCashingPopover/outletCashingPopover.template.html"'
)
  ng-transclude
