.scroll-y.sale-order-popover(
resize='popover'
style='max-height: {{popover.windowHeight - popover.offsetTop - 25}}px'
)
  .option.new-item
    a.btn.btn-success(
    href stm-click='setSaleOrder'
    ng-click='vm.isSaleOrderPopoverOpen=false'
    )
      i.glyphicon.glyphicon-plus
      span Добавить новый Заказ

  .divider(ng-if='vm.items.length')

  .option(
  ng-repeat='draft in vm.items track by draft.id'
  ng-class='{active: vm.activeId === draft.id}'
  )
    a(
    href
    ng-click='vm.isSaleOrderPopoverOpen=false'
    stm-click='setSaleOrder' click-payload='draft'
    )
      .name.display-flex
        .flex-1 {{ draft.outlet.name }}
        .right {{ draft.totalCost | number:2 }} ₽
      .address.gray
        small {{ draft.outlet.address }}
