.sale-order-details(cg-busy='vm.busy')

  //.buttons.text-right(ng-include='"app/domain/sales/views/saleOrder/saleOrderMenu.html"')

  sale-order-alert(expanded='saleOrderExpanded' sale-order='vm.saleOrder')

    popovers

      a.popover-trigger(
      href
      uib-popover-template='"app/domain/sales/views/saleOrder/saleOrderPopover.html"'
      popover-is-open='vm.isSaleOrderPopoverOpen'
      ng-disabled='saleOrderExpanded'
      )
        .outlet(ng-class='{blocked: vm.saleOrder.outlet.isActive === false}')
          .name
            span(ng-if='vm.saleOrder.outlet.id') {{ vm.saleOrder.outlet.name }}
            span(ng-if='!vm.saleOrder.outlet.id') Новый заказ
            span.animate-show.spaced
              small на
              small.strong {{ vm.saleOrder.date }}

              small(
              ng-class='["processing", vm.saleOrder.workflow().cls, vm.saleOrder.processing]'
              )
                span {{ vm.saleOrder.workflow().label }}
                span(
                ng-if='vm.saleOrder.processingMessage'
                ng-class='vm.saleOrder.workflow().messageCls'
                )
                  i.glyphicon.glyphicon-warning-sign

              // TODO: show date with amCalendar but without time
          .address
            small {{vm.saleOrder.outlet.address}}
        span.caret

    totals.animate-show(ng-hide='vm.busy')

      .has-positions

        .info
          strong {{ vm.saleOrder.positions.length | number:0 }}
          span {{ vm.saleOrder.positionsCountRu() }}
          span на сумму
          strong {{ vm.saleOrder.totalCost | number:2 }}
          span ₽

        | &nbsp;

        a.toggle-edit(
        href ng-click='vm.toggleEditClick()'
        ng-if='vm.saleOrder && vm.saleOrder.workflow().editable'
        )
          i.glyphicon(ng-class='vm.editing ? "glyphicon-lock" : "glyphicon-edit"')

      .no-positions(ng-if='saleOrderExpanded')
        span(ng-if='vm.saleOrder.outletId && !saleOrderExpanded') В заказе нет позиций
        a(
        href
        ng-if='!vm.saleOrder.outletId || saleOrderExpanded'
        popover-is-open='vm.isOutletPopoverOpen'
        uib-popover-template='"app/domain/sales/views/catalogue/outletPopover.html"'
        )
          //span {{ vm.saleOrder.outletId ? 'Поменять точку доставки' : 'Выберите точку доставки' }}
          //span.caret

    buttons

      button.btn.btn-sm(
      ng-click='vm.copySaleOrderClick()'
      ng-if='vm.saleOrder.totalCost'
      ng-class='vm.confirmCopySaleOrder ? "btn-warning" : "btn-default"'
      )
        span Скопировать
        span(ng-show='vm.confirmCopySaleOrder') ?

      button.btn.btn-primary.btn-sm(
      ng-repeat='(destination, label) in vm.saleOrder.workflow().to'
      ng-click='vm.setProcessingClick(destination)'
      ng-disabled='!vm.saleOrder.isValid() || !vm.saleOrder.totalCost'
      ) {{ label }}


  .animate-show#scroll-main(
  resize resize-offset-top='5' resize-property='height'
  ng-show='!saleOrderExpanded'
  )
    table.table.table-striped.table-hover(
    ng-if='vm.saleOrder.positions.length'
    )
      thead
        tr
          th Товар
          th.number Количество
          th.number.price Цена
          th.number.cost Стоимость
      tbody(ng-class='{disabled: !vm.editing || !vm.saleOrder.workflow().editable}')
        tr.clickable(
        ng-repeat='item in vm.saleOrder.positions | orderBy:"article.name" track by item.id'
        )
          td {{ item.article.name }}
          td.number
            quantity-edit(position='item')
          td.number.price
            .flags
              span.flag(ng-if='item.isCompDiscount') КС
              span.discount(ng-if='item.priceOrigin && item.price != item.priceOrigin') ({{ ::item.discountPercent() }}%)
              currency-value(value='item.price')
          td.number.cost
            currency-value(value='item.cost')
