.sale-order-details

  //.buttons.text-right(ng-include='"app/domain/sales/views/saleOrder/saleOrderMenu.html"')

  sale-order-alert(expanded='saleOrderExpanded' sale-order='vm.saleOrder')

    popovers

      a.popover-trigger(
      href
      uib-popover-template='"app/domain/sales/views/saleOrder/saleOrderPopover.html"'
      popover-is-open='vm.isSaleOrderPopoverOpen'
      ng-disabled='saleOrderExpanded'
      )
        .outlet
          .name
            span(ng-if='vm.saleOrder.outlet.id') {{ vm.saleOrder.outlet.name }}
            span(ng-if='!vm.saleOrder.outlet.id') Новый заказ
            span.animate-show.spaced
              small на
              small.strong {{ vm.saleOrder.date }}
              // TODO: show date with amCalendar but without time
          .address
            small {{vm.saleOrder.outlet.address}}
        span.caret

    totals.animate-show(ng-hide='vm.busy')

      .has-positions(ng-if='vm.saleOrder.positions.length && !saleOrderExpanded')

        .info
          strong {{ vm.saleOrder.positions.length | number:0 }}
          span {{ vm.saleOrder.positionsCountRu() }}
          span на сумму
          strong {{ vm.saleOrder.totalCost | number:2 }}
          span ₽

        a.toggle-edit(href ng-click='vm.toggleEditClick()')
          i.glyphicon(ng-class='vm.editing ? "glyphicon-lock" : "glyphicon-edit"')

      .no-positions(ng-if='!vm.saleOrder.positions.length || saleOrderExpanded')
        span(ng-if='vm.saleOrder.outletId && !saleOrderExpanded') В заказе нет позиций
        a(
        href
        ng-if='!vm.saleOrder.outletId || saleOrderExpanded'
        popover-is-open='vm.isOutletPopoverOpen'
        uib-popover-template='"app/domain/sales/views/catalogue/outletPopover.html"'
        )
          span {{ vm.saleOrder.outletId ? 'Поменять точку доставки' : 'Выберите точку доставки' }}
          span.caret



  .animate-show#scroll-main(
  resize resize-offset-top='5' resize-property='height'
  ng-show='!saleOrderExpanded'
  )
    table.table.table-striped.table-hover(
    ng-if='vm.saleOrder.positions.length'
    )
      thead
        tr
          th Товар
          th.number Количество
          th.number.hidden-xs Цена
          th.number.hidden-xs Стоимость
      tbody(ng-class='{disabled: !vm.editing}')
        tr.clickable(
        ng-repeat='item in vm.saleOrder.positions | orderBy:"article.name" track by item.id'
        )
          td {{ item.article.name }}
          td.number
            quantity-edit(position='item')
          td.number.hidden-xs {{ item.price | number:2 }}
          td.number.hidden-xs {{ item.cost | number:2}}
