.scroll-y.sale-order-popover(
resize resize-offset-top='25'
)
  .option.new-item
    button.btn.btn-primary(
    stm-click='setSaleOrder'
    ng-click='isPopoverOpen=false'
    )
      i.glyphicon.glyphicon-plus
      span Добавить новый Заказ

  .divider(ng-if='vm.items.length')

  .option(
  ng-repeat='draft in draftSaleOrders track by draft.id'
  ng-class='{active: vm.saleOrder.id === draft.id}'
  )
    a(
    href
    ng-click='vm.isSaleOrderPopoverOpen=false'
    stm-click='setSaleOrder' click-payload='draft'
    )
      .name.display-flex
        .flex-1 {{ ::draft.outlet.name }}
        .right {{ draft.totalCost | number:2 }} ₽
      .address.gray
        small {{ ::draft.outlet.address }}
