// TODO: show avatarPhoto or take photo button

.outlet-view.outlet

  .header(cg-busy='vm.busy')

    .title

      .partner-name
        a.inherit-colors(
        href ui-sref='^.partner({id: vm.outlet.partner.id})'
        ng-class='vm.partnerNavClass'
        ) {{ vm.outlet.partner.name }}

      .address
        a.inherit-colors(
        href ng-click='vm.outletClick()'
        ng-class='vm.outletNavClass'
        ) {{ vm.outlet.address }}

    .avatar(ng-if='vm.isRootState')

      a.thumb(href ng-click='vm.thumbClick()' ng-class='{disabled: !vm.avatar}')
        img(
        ng-src='{{vm.avatarSrc}}'
        ng-class='!vm.avatarSrc && "placeholder"'
        )

  .ui-view

    .outlet-info

      .fields

        .comment-text(ng-if='vm.outlet.commentText')
          strong {{ vm.outlet.commentText }}

        .license-info(ng-if='vm.outlet.licenseInfo')
          label Лицензия
          span {{ vm.outlet.licenseInfo }}

        .egais-code(ng-if='vm.outlet.egaisCode')
          label ЕГАИС ИД
          span {{ vm.outlet.egaisCode }}

      .buttons.with-map

        a.btn.btn-link(href ng-click='vm.editOutletClick()' ng-if='vm.isRootState && vm.isEditable')
          i.glyphicon.glyphicon-edit

        a.btn.btn-link.disabled(ng-click='vm.takePhoto()' )
          i.glyphicon.glyphicon-camera

        a.btn.btn-link(
        popover-placement="bottom-left auto"
        popover-trigger='"outsideClick"'
        uib-popover-template="'app/domain/sales/views/location.html'"
        popover-is-open='vm.mapPopoverIsOpen'
        type='button'
        ng-class='{green: vm.map}'
        ng-disabled='!vm.map'
        )
          i.glyphicon.glyphicon-map-marker

    .outlet-salesman-contracts
      .headers
        .salesman ТП
        .contract Договор
        .credit-limit Лимит
        .credit-remains Остаток
      .outlet-salesman-contract(ng-repeat='osc in vm.outletSalesmanContracts track by osc.id')
        .salesman {{ ::osc.salesman.shortName }}
        .contract {{ ::osc.contract.name }}
        .credit-limit {{ ::osc.contract.creditLimit | number:2 }}
        .credit-remains {{ ::osc.contract.creditRemains | number:2 }}
