// TODO: show avatarPhoto or take photo button

.outlet-view

  .header(cg-busy='vm.busy')

    .outlet

      .outlet-address

        .partner-name
          a.inherit-colors.name(
          href ui-sref='^.partner({id: vm.outlet.partner.id})'
          ng-class='vm.partnerNavClass'
          ) {{ vm.outlet.partner.name }}


          .outlet-buttons
            a.btn.btn-link(href ng-click='vm.editOutletClick()' ng-if='vm.isRootState && vm.isEditable')
              i.glyphicon.glyphicon-edit

            a.btn.btn-link(
            popover-placement="auto auto"
            popover-trigger='"outsideClick"'
            uib-popover-template="'app/domain/sales/views/location.html'"
            popover-is-open='vm.mapPopoverIsOpen'
            type='button'
            ng-class='{green: vm.map}'
            ng-disabled='!vm.map'
            )
              i.glyphicon.glyphicon-map-marker

        .address
          a.inherit-colors(
          href ng-click='vm.outletClick()'
          ng-class='vm.outletNavClass'
          ) {{ vm.outlet.address }}


    .outlet-avatar(ng-if='vm.isRootState')

      a.thumb(href ng-click='vm.thumbClick()' ng-class='{disabled: !vm.avatar}')
        img(
        ng-src='{{vm.avatarSrc}}'
        ng-class='!vm.avatarSrc && "placeholder"'
        )

  .navigation

    a(
    ng-click='vm.currentState = "saleOrder"'
    ng-class='{"active-state": vm.currentState === "saleOrder"}'
    ) Заказы

    a(
    ng-click='vm.currentState = "debts"'
    ng-class='{"active-state": vm.currentState === "debts"}'
    ) Долги

    a(
    ng-click='vm.currentState = "visit"'
    ng-class='{"active-state": vm.currentState === "visit"}'
    ) Визиты

    a(
    ng-click='vm.currentState = "miscellaneous"'
    ng-class='{"active-state": vm.currentState === "miscellaneous"}'
    ) Прочее

  .ui-view

    .outlet-saleOrder(ng-if='vm.currentState == "saleOrder"')
      sale-order-view(custom-filter='vm.saleOrderFilter' disable-elements='true' ng-if='vm.saleOrderFilter')

    .outlet-debts(ng-if='vm.currentState == "debts"')
      debt-view-by-outlet(custom-filter='vm.debtFilter' disable-elements='true' ng-if='vm.debtFilter')

    .outlet-visit(ng-if='vm.currentState == "visit"')
      visit-view(custom-filter='vm.visitFilter' disable-elements='true' ng-if='vm.visitFilter')

    .outlet-salesman-contracts(ng-if='vm.currentState == "miscellaneous"')
      contract-view(contracts='vm.outletSalesmanContracts')

        .outlet-partner-table

          .headers
            .allow-any-total allow-any-total
            .allow-low-total allow-low-total
            .allow-any-volume allow-any-volume
            .allow-no-charges allow-no-charges
            .allow-no-doc-discounts allow-no-doc-discounts

          .table-item
            .allow-any-total
              label allow-any-total
              span {{ vm.outlet.partner.allowAnyTotal ? 'Да' : 'Нет' }}
            .allow-low-total
              label allow-low-total
              span {{ vm.outlet.partner.allowLowTotal ? 'Да' : 'Нет' }}
            .allow-any-volume
              label allow-any-volume
              span {{ vm.outlet.partner.allowAnyVolume ? 'Да' : 'Нет' }}
            .allow-no-charges
              label allow-no-charges
              span {{ vm.outlet.partner.allowNoCharges ? 'Да' : 'Нет' }}
            .allow-no-doc-discounts
              label allow-no-doc-discounts
              span {{ vm.outlet.partner.allowNoDocDiscounts ? 'Да' : 'Нет' }}

        .outlet-additional-fields

          .license-info(ng-if='vm.outlet.licenseInfo')
            label Лицензия
            span {{ vm.outlet.licenseInfo }}

          .egais-code(ng-if='vm.outlet.egaisCode')
            label ЕГАИС ИД
            span {{ vm.outlet.egaisCode }}

          .comment-text(ng-if='vm.outlet.commentText')
            label Комментарий
            strong {{ vm.outlet.commentText }}
