// TODO: show avatarPhoto or take photo button

.outlet-view

  .header(cg-busy='vm.busy')

    .outlet

      .outlet-address

        .partner-name
          a.inherit-colors.name(
          href ui-sref='^.partner({id: vm.outlet.partner.id})'
          ng-class='vm.partnerNavClass'
          ) {{ vm.outlet.partner.name }}


          .outlet-buttons
            a.btn.btn-link(href ng-click='vm.editOutletClick()' ng-if='vm.isRootState && vm.isEditable')
              i.glyphicon.glyphicon-edit

            a.btn.btn-link(
            popover-placement="auto auto"
            popover-trigger='"outsideClick"'
            uib-popover-template="'app/domain/sales/views/location.html'"
            popover-is-open='vm.mapPopoverIsOpen'
            type='button'
            ng-class='{green: vm.map}'
            ng-disabled='!vm.map'
            )
              i.glyphicon.glyphicon-map-marker

        .address
          a.inherit-colors(
          href ng-click='vm.outletClick()'
          ng-class='vm.outletNavClass'
          ) {{ vm.outlet.address }}


      .outlet-additional-fields

        .license-info(ng-if='vm.outlet.licenseInfo')
          label Лицензия:
          span {{ vm.outlet.licenseInfo }}

        .egais-code(ng-if='vm.outlet.egaisCode')
          label ЕГАИС ИД:
          span {{ vm.outlet.egaisCode }}

        .comment-text(ng-if='vm.outlet.commentText')
          label Комментарий:
          strong {{ vm.outlet.commentText }}


    .outlet-avatar(ng-if='vm.isRootState')

      a.thumb(href ng-click='vm.thumbClick()' ng-class='{disabled: !vm.avatar}')
        img(
        ng-src='{{vm.avatarSrc}}'
        ng-class='!vm.avatarSrc && "placeholder"'
        )

  //uib-tabset(active='1' justified='true')
    //  uib-tab(index='0' heading='Заказы')
    //    sale-order-view(
    //    give-data='vm.outletSaleOrders'
    //    custom-filter='vm.outletFilter'
    //    ng-if='vm.outletDebtId'
    //    style='display: block; height: 100vh'
    //    )
    //  uib-tab(index='1' heading='Долги')
    //    debt-view(give-data='vm.outletDebts' debt-id='vm.outletDebtId' ng-if='vm.outletDebtId')
    //  uib-tab(index='2' heading='Договор')
    //    | Long Labeled Justified content
    //  uib-tab(index='3' heading='Визиты')
    //    | Long Labeled Justified content



  .navigation

    a(
    ng-click='vm.currentState = "saleOrder"'
    ng-class='{"active-state": vm.currentState === "saleOrder"}'
    ) Заказы

    a(
    ng-click='vm.currentState = "debts"'
    ng-class='{"active-state": vm.currentState === "debts"}'
    ) Долги

    a(
    ng-click='vm.currentState = "contract"'
    ng-class='{"active-state": vm.currentState === "contract"}'
    ) Договор

    a(
    ng-click='vm.currentState = "visit"'
    ng-class='{"active-state": vm.currentState === "visit"}'
    ) Визиты


  .ui-view

    .outlet-saleOrder(ng-if='vm.currentState == "saleOrder"')
      sale-order-view(custom-filter='vm.saleOrderFilter' disable-elements='true' ng-if='vm.saleOrderFilter')

    .outlet-debts(ng-if='vm.currentState == "debts"')
      debt-view(custom-filter='vm.debtFilter' ng-if='vm.debtFilter')

    .outlet-salesman-contracts(ng-if='vm.currentState == "contract"')

      contract-view(contracts='vm.outletSalesmanContracts')

    .outlet-visit(ng-if='vm.currentState == "visit"')

      visit-view(custom-filter='vm.visitFilter' disable-elements='true' ng-if='vm.visitFilter')
