span.pull-right(ng-if='vm.currentState!=="saleOrder"')
  a(
  href
  uib-popover-template='"app/domain/sales/views/saleOrder/saleOrderPopover.html"'
  popover-placement='auto bottom-left'
  popover-is-open='vm.isSaleOrderPopoverOpen'
  )
    span Заказ
    span.caret

li(uib-dropdown is-open='priceTypesOpen' ng-disabled='vm.saleOrder || vm.priceTypes.length === 1')
  a(href uib-dropdown-toggle)
    span {{vm.currentPriceType.name || 'Выберите тип цен'}}
    span.caret

  ul.dropdown-menu(uib-dropdown-menu)
    li(
    ng-repeat='priceType in vm.priceTypes track by priceType.id'
    ng-class='{active: vm.currentPriceType.name == priceType.name}'
    )
      a(
      href ng-click='vm.priceTypeClick(priceType)'
      ) {{priceType.name}}

li.ancestor(ng-repeat='ancestor in vm.ancestors track by ancestor.id')
  a(
  href ng-click='vm.articleGroupClick(ancestor)'
  ) {{ ancestor.displayName }}

li.active(ng-if='vm.currentArticleGroup') {{ vm.currentArticleGroup.displayName }}


