.alert.alert-info.centered(ng-if='!vm.busy && !vm.stock.length')
  | Нет подходящих товаров

ul.list-group.round-corners-by-type.vr-parent(
vs-repeat='{{vm.articleRowHeight()}}'
vs-scroll-parent="#scroll-articles"
before-tag-name='li'
)

  .list-group-item.display-flex.flex-align-center.spaced(
  ng-repeat='stock in vm.stock track by stock.id'
  ng-class='{"item-padding": vm.showImages}'
  ng-disabled='vm.restrictedArticles[stock.articleId] || vm.saleOrder && !vm.saleOrder.workflow().editable'
  )

    ng-gallery(
    images-all='vm.categoryPhotos'
    thumb-image='stock.article.avatar'
    thumbs-num='1'
    ng-if='vm.showImages'
    )

    .article-wrapper
      .article-name-first
        // TODO: filtering options in tooltip (allow user to show only the articles with the same firstName)
        strong.name-first(
        uib-tooltip='{{::stock.article.firstName}}'
        ) {{::stock.article.firstName}}
        .article-info(
        ng-class='::{gray: stock.article.firstName.length}'
        )
          // TODO: allow user to show only the articles with the same pieceVolume rounded to 1/10
          strong {{::stock.article.pieceVolume}}л
          small.gray x {{::stock.article.packageRel}}
          span

        // TODO: allow removing restricted positions
        quantity-edit(
        ng-if='vm.saleOrder'
        article='stock.article'
        sale-order='vm.saleOrder'
        price='vm.prices[stock.articleId]'
        position='vm.saleOrderPositionByArticle[stock.articleId]'
        )

      .article-name-second(
      uib-tooltip='{{::stock.article.name}}'
      )
        small {{::stock.article.preName}}
        small {{::stock.article.lastName}}

      .article-name-third(ng-if='vm.restrictedArticles[stock.articleId]')
        small.red Запрет "{{ vm.restrictedArticles[stock.articleId].name }}"

      .article-name-third(ng-if='!vm.restrictedArticles[stock.articleId]')

        i.red.glyphicon.glyphicon-warning-sign(ng-if='!stock.volume' uib-tooltip='Нет в наличии')

        small.gray.nowrap(ng-if='stock.volume')
          span ~{{stock.displayVolume}}

        small(ng-if='vm.saleOrderPositionByArticle[stock.articleId]')
          span.flag(ng-if='vm.saleOrderPositionByArticle[stock.articleId].isCompDiscount') КС
          span {{ vm.saleOrderPositionByArticle[stock.articleId].cost | number:2 }}
          span.gray
            | =
          span {{ vm.saleOrderPositionByArticle[stock.articleId].volume | number:0 }}
          span.gray
            | x

        price-edit(
        prices='vm.prices[stock.articleId]'
        position='vm.saleOrderPositionByArticle[stock.articleId]'
        discount='vm.discounts[stock.articleId]'
        )

    .right(
    ng-if='vm.saleOrder && vm.prices[stock.articleId] && vm.saleOrder.workflow().editable'
    )

      button.btn.btn-default(
      ng-click='vm.kPlusButtonClick(stock)'
      ) +К

      button.btn.btn-default(
      ng-click='vm.kPlusButtonClick(stock)'
      ) +Б
