.alert.alert-default.catalogue-sale-order

  h4.outlet
    a(
    href
    uib-popover-template="'app/domain/sales/views/catalogue/outletPopover.html'"
    popover-trigger='outsideClick'
    popover-placement='auto bottom-left'
    popover-is-open='vm.isOpenOutletPopover'
    )
      .name
        span(ng-if='vm.saleOrder.outlet.id') {{ vm.saleOrder.outlet.name }}
        span(ng-if='!vm.saleOrder.outlet.id') Выберите клиента
        span.caret
      .address
        small {{vm.saleOrder.outlet.address}}

  .totals.text-right.flex-1
    sale-order-popover(
    items='$parent.vm.draftSaleOrders'
    active-id='vm.saleOrder.id'
    )
      span.spaced(ng-if='vm.saleOrder.positions.length')
        strong {{ vm.saleOrder.positions.length | number:0 }}
        span {{ vm.saleOrder.positionsCountRu() }}

        = ' '
        span.hidden-xs на сумму
        strong {{ vm.saleOrder.totalCost | number:2 }}
        span ₽
      span(ng-if='!vm.saleOrder.positions.length') В заказе нет позиций
