.stm-searcher.form-group.has-feedback
  label(for="search-input")
    i.glyphicon.glyphicon-search
  input#search-input.form-control(
  type='search'
  placeholder='Поиск'
  select-on-focus
  track-focused
  aria-describedby='search-input'
  ng-model='vm.search'
  ng-model-options='{debounce: vm.debounce}'
  )

  span.form-control-feedback(ng-hide='!vm.search' )
    a(ng-click='vm.clearSearchClick()' href)
      i.glyphicon.glyphicon-remove

button.btn.btn-default.btn-block.collapser(
type='button'
ng-click='vm.isArticleGroupsExpanded = !vm.isArticleGroupsExpanded'
)
  span {{ vm.currentArticleGroup.name || vm.showOnlyOrdered && 'Товары заказа' || 'Все товары'}}
  span.caret(ng-class='{"turn-90-counter-clock": vm.isArticleGroupsExpanded}')

.block-to-collapse.scroll-y(
uib-collapse='!vm.isArticleGroupsExpanded && !vm.isWideScreen'
collapsed='vm.isArticleGroupsCollapsingDone=true'
resize resize-offset-top='5'
)
  ul.list-group.xs-ancestors(ng-hide='!vm.currentArticleGroup')

    .list-group-item.nav-buttons(ng-repeat='ancestor in vm.ancestors track by ancestor.id')

      a.left-caret-button(
      stm-click='articleGroupAndCollapse' click-payload='ancestor'
      )
        i.glyphicon.glyphicon-menu-left

      a.left-caret-button-name(
      stm-click='articleGroup' click-payload='ancestor'
      ) {{::ancestor.name}}

  // FIXME: copy-pasted
  ul.list-group.xs-ancestors(ng-if='!vm.currentArticleGroup && vm.showOnlyOrdered')
    a.list-group-item(
    ng-repeat='ancestor in vm.ancestors|limitTo:1 track by ancestor.id'
    href
    ng-click='vm.articleGroupClick(ancestor)'
    )
      span
        i.glyphicon.glyphicon-menu-left
      span {{::ancestor.name}}

  ul.list-group(
  )
    // FIXME: copy-pasted
    .list-group-item.hidden-xs.active(
    ng-if='!vm.currentArticleGroup && vm.showOnlyOrdered'
    )
      span Товары заказа

    .list-group-item.hidden-xs.active(
    ng-if='vm.currentArticleGroup.children.length && !vm.articleGroupIds[vm.currentArticleGroup.id]'
    )
      span {{ vm.currentArticleGroup.name }}

    // TODO: find why click on Baikal does not collapse

    .list-group-item.nav-buttons(
    ng-repeat='elem in vm.articleGroups | orderBy:"name" track by elem.id'
    )
      a.right-caret-button-name(
      href
      ng-click='vm.isArticleGroupsExpanded = !vm.articleGroupIds[elem.id]'
      stm-click='articleGroup' click-payload='elem'
      ng-class='{"active-category": vm.currentArticleGroup.id === elem.id}'
      )
        span.badge.pull-right(ng-if='::vm.articleGroupIds[elem.id]')
          span {{::vm.articleGroupIds[elem.id].length}}
          span(ng-if='::elem.children.length') +
        span {{::elem.name }}

      a.right-caret-button(
      stm-click='articleGroupAndCollapse' click-payload='elem'
      href
      ng-if='::elem.children.length && !vm.articleGroupIds[elem.id]'
      )
        i.glyphicon.glyphicon-menu-right
