.stm-searcher.form-group.has-feedback
  label(for="search-input")
    i.glyphicon.glyphicon-search
  input#search-input.form-control(
  type='search'
  placeholder='Поиск'
  aria-describedby='search-input'
  ng-model='vm.search'
  ng-model-options='{debounce: 400}'
  )

  span.form-control-feedback(ng-hide='!vm.search' )
    a(ng-click='vm.clearSearchClick()' href)
      i.glyphicon.glyphicon-remove

ul.list-group.scroll-y(
resize='groups'
style='height: {{groups.windowHeight - groups.offsetTop - 5}}px;'
)
  a.list-group-item(
  ng-class='{active: vm.currentArticleGroup.id === elem.id}'
  href
  ng-click='vm.articleGroupClick(elem)'
  ng-repeat='elem in vm.articleGroups | orderBy:"name" track by elem.id'
  )
    span.badge(ng-if='!elem.children.length && vm.articleGroupIds[elem.id].length')
      | {{vm.articleGroupIds[elem.id].length}}
    i.glyphicon.glyphicon-menu-right.pull-right(ng-if='elem.children.length')
    span {{elem.name}}
