.alert.alert-info.centered(ng-if='!vm.busy && !vm.stock.length')
  | Нет подходящих товаров

// TODO: fix button placement
button.btn.btn-primary(ng-click='vm.showImages = !vm.showImages') {{vm.showImages ? 'Убрать фото' : 'Показать фото'}}


ul.list-group.round-corners-by-type.vr-parent(
vs-repeat='{{vm.articleRowHeight()}}'
vs-scroll-parent="#scroll-articles"
before-tag-name='li'
)

  .list-group-item.display-flex.flex-align-center.spaced(
  ng-repeat='stock in vm.stock track by stock.id'
  ng-class='{"item-padding": vm.showImages}'
  )

    ng-gallery(
    images-all='vm.categoryPhotos'
    thumb-image='stock'
    thumbs-num='1'
    ng-if='vm.showImages'
    )

    .article-wrapper
      .article-name-first
        // TODO: filtering options in tooltip (allow user to show only the articles with the same firstName)
        strong.name-first(
        uib-tooltip='{{::stock.article.firstName}}'
        ) {{::stock.article.firstName}}
        .article-info(
        ng-class='::{gray: stock.article.firstName.length}'
        )
          // TODO: allow user to show only the articles with the same pieceVolume rounded to 1/10
          strong {{::stock.article.pieceVolume}}л
          small.gray x {{::stock.article.packageRel}}
          span

        quantity-edit(
        ng-if='vm.saleOrder'
        article='stock.article'
        sale-order='vm.saleOrder'
        price='vm.prices[stock.articleId]'
        position='vm.saleOrderPositionByArticle[stock.articleId]'
        )

      .article-name-second(
      uib-tooltip='{{::stock.article.name}}'
      )
        small {{::stock.article.preName}}
        small {{::stock.article.lastName}}

      .article-name-third
        //small ({{stock.article.firstName.length}} {{stock.article.lastName.length + stock.article.preName.length}})
        //small {{ vm.articleRowHeight(stock) }}
        small.gray(ng-if='stock.volume') ~{{stock.displayVolume}}
        small.red(ng-if='!stock.volume') Нет в наличии
        small(ng-if='vm.saleOrderPositionByArticle[stock.articleId]')
          span {{ vm.saleOrderPositionByArticle[stock.articleId].cost | number:2 }}
          span.gray
            | =
          span {{ vm.saleOrderPositionByArticle[stock.articleId].volume | number:0 }}
          span.gray
            | x
        small {{vm.prices[stock.articleId] | number:2}}
          span ₽

    .right(ng-if='vm.saleOrder')

      button.btn.btn-default(
      stm-click='kPlusButton'
      click-payload='{stock: stock, price: vm.prices[stock.articleId]}'
      ) +К

      button.btn.btn-default(
      stm-click='bPlusButton'
      click-payload='{stock: stock, price: vm.prices[stock.articleId]}'
      ) +Б
