.alert.alert-default

  a.pull-right(href stm-click='saleOrderTotals' ng-if='vm.saleOrder.positions.length')

    strong {{ vm.saleOrder.positions.length | number:0 }}
    span позиций

    span на сумму
    strong {{ vm.saleOrder.totalCost | number:2 }}
    span ₽

  p.pull-right(href ng-if='!vm.saleOrder.positions.length') Товаров не добавлено

  h5
    a(
    href
    uib-popover-template="'app/domain/sales/views/catalogue/outletPopover.html'"
    popover-title="Выберите клиента"
    type="button"
    popover-placement='bottom-left'
    popover-is-open='false'
    )  {{ vm.saleOrder.outlet.name || 'Выберите клиента' }}

  .info(ng-if='vm.newOrder')
    h5
      p Продавец: {{vm.saleOrder.salesman.shortName}}
      p Заказ на: {{vm.saleOrder.date}}

  .flex-1(style='display: flex')
    input#comment-input.form-control.col-md-5(
    type='text'
    placeholder='Комментарий'
    aria-describedby='comment-input'
    ng-model='vm.saleOrder.commentText'
    ng-model-options='{debounce: 100}'
    )

    span.col-md-2

    button.col-md-4(type="button" class="btn btn-success" ng-click='vm.saveOrder()') Сохранить заказ
