.alert.alert-info.centered(ng-if='!vm.busy && !vm.stock.length')
  | Нет подходящих товаров

ul.list-group.vr-parent(
vs-repeat
vs-excess='4'
vs-size-fn='vm.articleRowHeight'
vs-scroll-parent="#scroll-articles"
)
  .list-group-item.display-flex.flex-align-center.spaced(ng-repeat='stock in vm.stock track by stock.id')

    .flex-1
      .article-name-first
        strong {{::stock.article.firstName}}
        strong {{::stock.article.pieceVolume}}л
        small.gray x {{::stock.article.packageRel}}

        strong.pull-right
          a(href
          ng-if='vm.saleOrder'
          uib-popover-template="'app/domain/sales/views/saleOrder/saleOrderPosition.popover.html'"
          popover-is-open='stock.isArticlePopoverOpen'
          popover-trigger='outsideClick'
          popover-placement='auto bottom-right'
          )
            span {{ vm.orderedVolumeFull(stock) }}
            span.caret

      .article-name-second(title='{{stock.article.name}}')
        small {{::stock.article.preName}}
        small {{::stock.article.lastName}}

      .article-name-third
        //small ({{stock.article.firstName.length}} {{stock.article.lastName.length + stock.article.preName.length}})
        //small {{ vm.articleRowHeight(stock) }}
        small.gray(ng-if='stock.volume') ~{{::stock.displayVolume}}
        small.red(ng-if='!stock.volume') Нет в наличии
        small(ng-if='vm.saleOrderPositionByArticle[stock.articleId]')
          span {{ vm.saleOrderPositionByArticle[stock.articleId].cost | number:2 }}
          span.gray
            | =
          span {{ vm.saleOrderPositionByArticle[stock.articleId].volume | number:0 }}
          span.gray
            | x
        small {{vm.prices[stock.articleId] | number:2}} ₽

    .right(ng-if='vm.saleOrder')

        button.btn.btn-default(
        stm-click='kPlusButton'
        click-payload='{stock: stock, price: vm.prices[stock.articleId]}'
        ) +К

        button.btn.btn-default(
        stm-click='bPlusButton'
        click-payload='{stock: stock, price: vm.prices[stock.articleId]}'
        ) +Б
