.stm-searcher.form-group.has-feedback
  label(for="search-input")
    i.glyphicon.glyphicon-search
  input#search-input.form-control(
  type='search'
  placeholder='Поиск'
  select-on-focus
  track-focused
  aria-describedby='search-input'
  ng-model='vm.search'
  ng-model-options='{debounce: vm.debounce}'
  )

  span.form-control-feedback(ng-hide='!vm.search' )
    a(ng-click='vm.clearSearchClick()' href)
      i.glyphicon.glyphicon-remove

.alert.alert-default.collapser
  a(
  href
  ng-click='vm.isArticleGroupsExpanded = !vm.isArticleGroupsExpanded'
  )
    span.caret(ng-class='{"flip-vertical": vm.isArticleGroupsExpanded}')
    span {{ vm.currentArticleGroup.displayName || vm.showOnlyOrdered && 'Товары заказа' || 'Все товары' }}


.block-to-collapse.scroll-y(
uib-collapse='!vm.isArticleGroupsExpanded && !vm.isWideScreen'
collapsed='vm.isArticleGroupsCollapsingDone=true'
resize resize-offset-top='5'
)
  ul.list-group.xs-ancestors(ng-hide='!vm.currentArticleGroup')

    .list-group-item.with-a-inside(ng-repeat='ancestor in vm.ancestors track by ancestor.id')

      a.chevron(
      stm-click='articleGroup' click-payload='ancestor'
      )
        i.glyphicon.glyphicon-menu-left

      a(
      stm-click='articleGroupAndCollapse' click-payload='ancestor'
      ) {{::ancestor.displayName}}

  // FIXME: copy-pasted
  ul.list-group.xs-ancestors(ng-if='!vm.currentArticleGroup && vm.showOnlyOrdered')
    a.list-group-item(
    ng-repeat='ancestor in vm.ancestors|limitTo:1 track by ancestor.id'
    href
    ng-click='vm.articleGroupClick(ancestor)'
    )
      span
        i.glyphicon.glyphicon-menu-left
      span {{::ancestor.displayName}}

  ul.list-group(
  )
    // FIXME: copy-pasted
    .list-group-item.active(
    ng-if='!vm.currentArticleGroup && vm.showOnlyOrdered'
    )
      span Товары заказа

    a.list-group-item.active(
    ng-if='!vm.noMoreChildren && vm.currentArticleGroup.displayName'
    ng-click='vm.isArticleGroupsExpanded=false'
    )
      span {{ vm.currentArticleGroup.displayName }}

    // TODO: find why click on Baikal does not collapse

    .list-group-item.with-a-inside(
    ng-repeat='elem in vm.articleGroups | orderBy:"name" track by elem.id'
    ng-class='{active: vm.currentArticleGroup.id === elem.id}'
    )
      a(
      href
      ng-click='vm.isArticleGroupsExpanded = !vm.articleGroupIds[elem.id] || elem.children.length && !vm.articleGroupIds[elem.id]'
      stm-click='articleGroupAndCollapse' click-payload='elem'
      )
        span.badge.pull-right(ng-if='::vm.articleGroupIds[elem.id]')
          span {{::vm.articleGroupIds[elem.id].length}}
          span(ng-if='::elem.children.length') +
        span {{::elem.displayName }}

      a.chevron(
      stm-click='articleGroup' click-payload='elem'
      href
      ng-if='::elem.children.length && !vm.articleGroupIds[elem.id]'
      )
        i.glyphicon.glyphicon-menu-right
