.alert.alert-default(ng-class='{"sale-order-expanded": saleOrderExpanded}')

  .display-flex

    .catalogue-sale-order.flex-1.spaced(
    ng-include="'app/domain/sales/views/catalogue/catalogueSaleOrderHeader.html'"
    )

    .menu
      a(
      href ng-click='$parent.saleOrderExpanded = !$parent.saleOrderExpanded'
      )
        i.scalable.glyphicon.glyphicon-menu-hamburger(
        ng-class='{"scale-y-50": saleOrderExpanded}'
        )

  .sale-order-collapsible(
  uib-collapse='!saleOrderExpanded'
  )
    form.form.form-horizontal(
    resize resize-offset-top='60' resize-offset-top-xs='100'
    ng-include="'app/domain/sales/views/catalogue/catalogueSaleOrderForm.html'"
    )
    .buttons

      button.btn.delete-sale-order-btn(
      stm-click='deleteSaleOrder'
      ng-class='vm.confirmDeleteSaleOrder ? "btn-danger" : "btn-warning"'
      ng-blur='vm.confirmDeleteSaleOrder = false'
      )
        i.glyphicon.glyphicon-trash

      //Test span
      span.show-xs.flex-divider

      .sale-order-main-buttons
        button.btn.btn-success.btn-sm(
        stm-click='saleOrderSaveDraft'
        ng-disabled='!vm.saleOrder.isValid()'
        ) Сохранить черновик

        button.btn.btn-primary.btn-sm(
        stm-click='saleOrderDone'
        ng-disabled='!vm.saleOrder.isValid() || !vm.saleOrder.totalCost'
        ) Отправить в обработку
