div.stm-searcher.form-group.has-feedback

  label(for="search-outlet")
    i.glyphicon.glyphicon-search

  input#search-outlet.form-control(
  type='search'
  placeholder='Поиск'
  ng-model='vm.search'
  ng-model-options='{debounce: 100}'
  )

  span.form-control-feedback(ng-hide='!vm.search' )
    a(ng-click='vm.clearSearchOutletClick("search-outlet")' href)
      i.glyphicon.glyphicon-remove

section(
resize
style='height: {{windowHeight - offsetTop - 15}}px; overflow: scroll'
)

  div(ng-repeat='outlet in vm.outlets | filterBy:vm.search track by outlet.id')
    a(href ng-click='vm.searchOutletClick(outlet)')
      p {{outlet.name}}
      p.gray
        small {{outlet.fullAddress}}
