.debt-by-outlet.ui-view(
cg-busy='vm.cgBusy'
)

  //.alert.alert-default

  .header
    .responsibility-filter
      a.flag(
      href
      ng-click='vm.responsibilityClick(item)'
      ng-class='{flagged: item.flagged}'
      ng-repeat='item in vm.responsibilities track by item.id'
      ) {{ ::item.name }}
    .totals
      label.total(ng-if='vm.totalSummDoc() != vm.totalSumm()') Бух+
      label.total.overdue(ng-if='vm.totalOverdue()') Просрочено
      label.total.cashed(ng-if='vm.totalCashed()') На руках
      label.total Остаток долга

  .scroll-y#scroll-main(
  resize resize-offset-top='40' resize-offset-top-xs='32'
  ng-if='vm.data.length'
  elem-ready='vm.restoreScrollPosition()'
  )

    .partner-debt-total(ng-repeat='group in vm.data | orderBy:"partner.shortName" track by group.partner.id')

      h4.name {{ ::group.partner.shortName }}

      .outlet-debt-total(ng-repeat='item in group.items | orderBy:"outlet.address" track by item.outlet.id')

        .outlet(ng-class='{blocked: item.outlet.isActive === false}')
          small.address {{ ::item.outlet.address }}

        a.totals(href ng-click='vm.itemClick(item)')

          currency-value(value='item["sum(summDoc)"] - item["sum(summ)"]' hide-empty='true')

          currency-value.overdue(value='item.overdue' hide-empty='true')

          currency-value(value='item["sum(cashed)"]' ng-if='vm.totalCashed()')

          .total
            currency-value(value='item["sum(summ)"]')


      .totals.sub(ng-if='group.items.length > 1')

        currency-value.overdue(value='group.overdue' hide-empty='true')
        currency-value(value='group["sum(cashed)"]' ng-if='vm.totalCashed()')

        .total
          currency-value(value='group["sum(summ)"]')

  .footer
    .totals.animate-show(ng-hide='vm.busy')

      label Итого:

      currency-value(value='vm.totalSummDoc() - vm.totalSumm()' hide-empty='true')
      currency-value.overdue(value='vm.totalOverdue()' hide-empty='true')
      a(href ng-click='vm.totalCashedClick()' ng-if='vm.totalCashed()')
        currency-value(value='vm.totalCashed()')
      currency-value(value='vm.totalSumm()')
