.alert.alert-default

  h4.popovers.spaced
    span.popover-trigger(
    )
      .outlet
        .name
          span {{ vm.outlet.name }}
        .address
          small {{vm.outlet.address}}
      //span.caret

  .totals.buttons(ng-if='vm.currentState === "cashing"')

    a.btn.btn-default(
    ui-sref='.'
    ) Долги в точке

  .totals.buttons(ng-if='vm.currentState === "outletDebt"')

    copy-selected(
    selected-items='vm.checkedDebts'
    in-progress='vm.copyingInProgress'
    text-from-item='vm.textFromDebt'
    ng-if='!vm.toSummCashingInProgress'
    )

    a.btn.btn-default(
    ui-sref='.cashing'
    ng-if='!vm.copyingInProgress && !vm.toSummCashingInProgress'
    ) История выручки

    to-summ-cashing(
    outlet='vm.outlet'
    popover-open='vm.toSummCashingPopoverOpen'
    debts='vm.checkedDebts'
    summ='vm.summToCash'
    in-progress='vm.toSummCashingInProgress'
    ng-if='!vm.copyingInProgress'
    )


.ui-view

  .header

    .buttons

      outlet-cashing-popover.btn.btn-link(outlet='vm.outlet' is-popover-open='vm.addOtherPopoverOpen')
        i.glyphicon.glyphicon-plus
        = ' '
        span прочее

    .totals
      label.ndoc Накладная
      label.total(ng-if='vm.totals.totalSummDocPlus') Остаток бух
      label.total(ng-if='vm.cashingTotal') На руках
      label.total Остаток упр
      label.cash-this(ng-if='vm.inCheckingProgress()')

  .scroll-y(
  resize resize-offset-top='40'
  ng-class='vm.inCheckingProgress() && "in-progress"'
  )

    .cashing-undebted(ng-if='vm.undebtedCashings.length')

      .title
        label Прочая выручка

      .cashings(
      ng-repeat='cashing in vm.undebtedCashings | orderBy:"deviceCts" track by cashing.id'
      )
        label.ndoc {{ ::cashing.ndoc }}

        currency-value.cashed(
        value='cashing.summ'
        )

        .buttons
          a(
          href ng-click='vm.trashUndebtedClick(cashing)'
          ng-class='{confirmation: vm.confirmation[cashing.id]}'
          )
            i.glyphicon.glyphicon-trash

    .date(
    ng-if='!vm.busy'
    ng-repeat='group in vm.data | orderBy:"date" track by group.date'
    )

      .title
        label {{ ::group.date | amDateFormat:'DD/MM/YYYY' }}

      .debts

        .debt(
        ng-repeat='debt in group.items | orderBy:"ndoc" track by debt.id'
        )

          label.ndoc(ng-click='vm.debtClick(debt, $event)')

            small.tip.overdue(ng-if='::debt.isOverdue()')
              span Просрочено
              = ' '
              span {{ ::debt.paymentTerm() | days }}

            small.tip(ng-if='::!debt.isOverdue()')
              span На оплату
              = ' '
              span {{ ::debt.paymentTerm() | days }}

            small.flag.responsible {{ ::debt.responsible.name }}

            currency-value.summ-origin(value='debt.summOriginDoc || debt.summOrigin')
            span.ndoc {{ ::debt.ndoc }}

          .summ-doc(ng-if='vm.totals.totalSummDocPlus')
            currency-value(value='debt.summDoc' ng-if='debt.summDoc - debt.summ')

          currency-value.cashed(
          ng-click='vm.debtClick(debt, $event)'
          value='vm.cashingTotalByDebt[debt.id]'
          ng-if='vm.cashingTotal'
          )

          debt-cashing-popover.summ(debt='debt' ng-if='!vm.inCheckingProgress()')
            currency-value(value='debt.uncashed()')

          currency-value.summ(
          value='debt.uncashed()'
          ng-if='vm.inCheckingProgress()'
          ng-click='vm.debtClick(debt, $event)'
          )

          a.cash-this(href ng-click='vm.debtClick(debt, $event)' ng-if='vm.inCheckingProgress()')
            i.glyphicon(ng-class='vm.checkedDebts[debt.id] ? "glyphicon-check" : "glyphicon-unchecked"')

  .footer

    .totals.animate-show(ng-hide='vm.busy')

      label Итого:

      currency-value(value='vm.totals.totalSummDoc' ng-if='vm.totals.totalSummDocPlus')

      a(href ng-click='vm.totalCashedClick()' ng-if='vm.cashingTotal')
        currency-value(value='vm.cashingTotal')

      currency-value(value='vm.totals.totalSumm')

      label.cash-this(ng-if='vm.inCheckingProgress()')
