.alert.alert-default

  h4.popovers.spaced
    span.popover-trigger(
    )
      .outlet
        .name
          span {{ vm.outlet.name }}
        .address
          small {{vm.outlet.address}}
      span.caret

  .totals
    to-summ-cashing(
    popover-open='vm.toSummCashingPopoverOpen'
    cashings='vm.unsavedCashings'
    summ='vm.summToCash'
    in-progress='vm.toSummCashingInProgress'
    )

.header

  .buttons

    outlet-cashing-popover.btn.btn-link(outlet='vm.outlet' is-popover-open='vm.addOtherPopoverOpen')
      i.glyphicon.glyphicon-plus
      span прочее

  .totals
    label.total(ng-if='vm.cashingTotal') На руках
    label.total Остаток долга

.scroll-y(
resize resize-offset-top='40'
ng-class='vm.toSummCashingInProgress && "in-progress"'
)

  .cashing-undebted(ng-if='vm.undebtedCashings.length')

    .title
      label Прочая выручка

    .cashings(
    ng-repeat='cashing in vm.undebtedCashings | orderBy:"deviceCts" track by cashing.id'
    )
      label.ndoc {{ ::cashing.ndoc }}

      currency-value.cashed(
      value='cashing.summ'
      )

      .buttons
        a(
        href ng-click='vm.trashUndebtedClick(cashing)'
        ng-class='{confirmation: vm.confirmation[cashing.id]}'
        )
          i.glyphicon.glyphicon-trash

  .date(
  ng-if='!vm.busy'
  ng-repeat='group in vm.data | orderBy:"date" track by group.date'
  )

    .title
      label {{ ::group.date | amDateFormat:'DD/MM/YYYY' }}

    .debts

      .debt(
      ng-repeat='debt in group.items | orderBy:"ndoc" track by debt.id'
      ng-click='vm.debtClick(debt, $event)'
      )

        label.ndoc
          small.tip.overdue(ng-if='debt.isOverdue()')
            span Просрочено
            = ' '
            span {{ debt.dateE | amDifference:null | amDurationFormat }}
          small.tip(ng-if='!debt.isOverdue()')
            span На оплату
            = ' '
            span {{ debt.dateE | amDifference:null | amDurationFormat }}
          span {{ ::debt.ndoc }}

        currency-value.cashed(
        value='vm.cashingTotalByDebt[debt.id]'
        ng-if='vm.cashingTotal'
        )
        debt-cashing-popover.summ(debt='debt')
          currency-value(value='debt.uncashed()')

.footer

  .totals.animate-show(ng-hide='vm.busy')

    label Итого:

    a(href ng-click='$parent.vm.totalCashedClick()')
      currency-value(value='vm.cashingTotal' ng-if='vm.cashingTotal')
    currency-value(value='vm.totalSumm()')
