.alert.alert-default

  h4.popovers.spaced
    span.popover-trigger(
    )
      .outlet
        .name
          span {{ vm.outlet.name }}
        .address
          small {{vm.outlet.address}}
      span.caret

.header
  .totals
    label.total(ng-if='vm.cashingTotal') На руках
    label.total Остаток долга

.scroll-y(resize resize-offset-top='40')

  .cashing-undebted

    h4.title
      label Прочая выручка
      button.btn.btn-default.btn-xs(ng-click='vm.addUndebtedClick()')
        i.glyphicon.glyphicon-plus

    .cashings(
    ng-repeat='cashing in vm.undebtedCashings | orderBy:"deviceCts" track by cashing.id'
    )
      label.ndoc {{ ::cashing.ndoc }}

      currency-value.cashed(
      value='cashing.summ'
      )

  .date(ng-repeat='group in vm.data | orderBy:"date" track by group.date')

    h4.title
      label {{ ::group.date }}

    .debts

      .debt(
      ng-repeat='debt in group.items | orderBy:"ndoc" track by debt.id'
      ng-class='{overdue: debt.isOverdue()}'
      )

        label.ndoc {{ ::debt.ndoc }}

        currency-value.cashed(
        value='vm.cashingTotalByDebt[debt.id]'
        ng-if='vm.cashingTotal'
        )
        debt-cashing-popover.summ(debt='debt')
          currency-value(value='debt.uncashed()')

.footer
  .totals.animate-show(ng-hide='vm.busy')

    label Итого:

    currency-value(value='vm.cashingTotal' ng-if='vm.cashingTotal')
    currency-value(value='vm.totalSumm()')
