.alert.alert-default

  h4.popovers.spaced
    span.popover-trigger(
    )
      .outlet
        .name
          span {{ vm.outlet.name }}
        .address
          small {{vm.outlet.address}}
      span.caret

  .totals.animate-show(ng-hide='vm.busy')

    .info
      currency-value.total(
      label='Получено прочего:'
      value='vm.cashingTotalByDebt[null]'
      hide-empty='true'
      )
      currency-value.total(
      label='Остаток долга:'
      value='vm.totalSumm()'
      )

.scroll-y(resize resize-offset-top='5')
  .date(ng-repeat='group in vm.data | orderBy:"date" track by group.date')

    h4.title {{ ::group.date }}

    .debts

      .debt(ng-repeat='debt in group.items | orderBy:"ndoc" track by debt.id')

        label.ndoc {{ ::debt.ndoc }}

        label.cashed(ng-if='vm.cashingTotalByDebt[debt.id]')
          | {{ ::vm.cashingTotalByDebt[debt.id] | number:2 }} ₽

        label.summ
          debt-cashing-popover(debt='debt') {{ ::debt.summ | number:2 }} ₽
