section.ui-view(cg-busy='vm.cgBusy')

  a(
  href
  ng-click='vm.goBack()'
  ) Назад

  hr

  a(
  href
  ng-if='!vm.routePoint.reachedAtLocationId'
  ng-click='vm.confirmArrival()'
  ) Прибыл в точку

  a(
  href
  ng-if='vm.routePoint.reachedAtLocationId'
  ng-click='vm.doneShipping()'
  ) Завершить отгрузку

  hr

  #scroll-main.scroll-y(
  resize
  resize-offset-top='10'
  resize-property='max-height'
  )

    p Накладные

    .shipments
      .shipment(ng-repeat='item in vm.shipments | orderBy:"ndoc" track by item.id')
        p {{ item.ndoc }} / {{ item.date | amUtc | amLocal | amCalendar }} / {{ item.positions.length }} {{ item.positionsCountRu(item.positions.length) }}

    hr

    make-photo(
    model='vm.shipmentRoutePointPhoto'
    model-name='ShipmentRoutePointPhoto'
    )
      i.glyphicon.glyphicon-camera
      span Добавить фото

    .shipmentRoutePointPhotos
      .shipmentRoutePointPhoto(ng-repeat='item in vm.photos track by item.id')

        a.thumb(
        href
        ng-click='vm.thumbClick(item)'
        )
          img(ng-src='{{ item.srcThumbnail }}')
          span {{ item.deviceCts | amUtc | amLocal | amCalendar }}

        hr
