section.ui-view(cg-busy='vm.cgBusy')

  a(
  href
  ng-click='vm.goBack()'
  ) Назад

  hr

  span {{ vm.routeDate | amUtc | amLocal | amCalendar }}

  hr

  #scroll-main.scroll-y(
  resize
  resize-offset-top='10'
  resize-property='max-height'
  ng-if='vm.data.length'
  )

    .shipmentPoints
      .shipmentPoint(ng-repeat='item in vm.data | orderBy:"ord" track by item.id')

        a(
        href
        ng-click='vm.selectPoint(item)'
        ) {{ item.name }} / {{ item.address }} ({{item.photos.length}} фото) ({{item.shipment.ndocs.length}} накладных, {{item.shipment.positionCnt}} позиций)

        hr
