font-size-edit(append-to='articleGroups')

  .campaign-filter(ng-if="vm.campaignVariant")
    span 🎁 {{ vm.campaignVariant.name }}
    a.clear-search(ng-click='vm.clearCampaignFilter()' href)
      i.glyphicon.glyphicon-remove

  catalogue-filter(
  search='vm.search'
  filters='vm.filters'
  active-tags='vm.activeTags'
  active-group='vm.activeGroup'
  catalogue-vm='vm'
  rnk-option="vm.saleOrder.target"
  rnk-only="vm.rnkOnly"
  remove-tag-click='vm.removeTagClick'
  price-slider='vm.priceSlider'
  clear-filters='vm.clearFilters'
  show-search-history='!hideSearchHistory'
  show-settings='isShownSettings'
  )

