.alert.alert-info.processingMessage(
uib-alert
ng-repeat='processingMessage in vm.saleOrder.processingMessages() track by $index'
close='vm.saleOrder.processingMessage = null'
)
  strong(ng-class='vm.saleOrder.workflowStep.messageCls')
    i.glyphicon.glyphicon-warning-sign
  span {{ processingMessage }}

.form-group
  .col-sm-12.sale-order-contract
    span.gray ТП {{ vm.saleOrder.salesman.tinyName }}
    outlet-salesman-contract-popover(
    ng-if='vm.saleOrder.salesmanId && vm.saleOrder.outletId'
    sale-order='vm.saleOrder'
    )

.form-group
  label.control-label.col-md-9.col-sm-8 Дата доставки
  sab-date-picker.col-md-3.col-sm-4(
  value='vm.saleOrder.date'
  min-date='vm.saleOrderMinDate'
  init-date='vm.saleOrderInitDate'
  )

.form-group
  label.control-label.col-md-3.col-sm-4(for='commentText') Комментарий
  .col-md-9.col-sm-8
    input#commentText.form-control(
    track-focused
    autocomplete='off'
    sa-enter-key='$element.blur()'
    ng-model='vm.saleOrder.commentText'
    ng-model-options='{updateOn: "blur"}'
    )

.form-group.form-group-switch(ng-if='vm.docDiscountsOption')
  label.control-label.col-md-9.col-sm-8 Скидки в накладную?
  .col-md-3.col-sm-4
    toggle-switch(
    ng-model='vm.saleOrder.docDiscounts'
    on-label='Да'
    off-label='Нет'
    )

.form-group.form-group-switch
  label.control-label.col-md-9.col-sm-8 Оплата по факту?
  .col-md-3.col-sm-4
    toggle-switch(
    ng-model='vm.saleOrder.cashOnShipment'
    on-label='Да'
    off-label='Нет'
    )

.form-group.form-group-switch
  label.control-label.col-md-9.col-sm-8 Без подсказки?
  .col-md-3.col-sm-4
    toggle-switch(
    ng-model='vm.saleOrder.spoilerNotNeeded'
    on-label='Да'
    off-label='Нет'
    )

//.form-group
  label.control-label.col-md-3.col-sm-4(for='commentExpeditor') Комментарий водителю
  .col-md-9.col-sm-8
    input#commentExpeditor.form-control(ng-model='vm.saleOrder.commentExpeditor')
