font-size-edit.scroll-y(append-to='articleGroups' resize resize-offset-top='5')

  catalogue-filter(
  search='vm.search'
  filters='vm.filters'
  active-tags='vm.activeTags'
  active-group='vm.activeGroup'
  catalogue-vm='vm'
  remove-tag-click='vm.removeTagClick'
  price-slider='vm.priceSlider'
  clear-filters='vm.clearFilters'
  show-search-history='!hideSearchHistory'
  show-settings='isShownSettings'
  show-first-level='!hideFirstLevel'
  )

