section(
cg-busy='vm.cgBusy'
ng-class='["catalogue", vm.currentState, {showOnlyOrdered: vm.showOnlyOrdered}]'
)

  .ui-view

  ol.breadcrumb(
  ng-hide='!vm.isWideScreen && vm.saleOrder'
  )
    include catalogueBreadcrumb

  section.animate-show#catalogue-main(
  ng-show='!saleOrderExpanded'
  )

    #article-groups
      include catalogueArticleGroups

    font-size-edit#scroll-articles.animate-show(
    ng-show='vm.isWideScreen || !vm.isArticleGroupsExpanded'
    append-to='catalogueArticle'
    )
      .alert.alert-info.centered(ng-if='!vm.busy && !vm.stock.length')
        | Нет подходящих товаров

      #scroll-articles-parent.scroll-y(
      resize resize-offset-top='5' resize-property='height'
      )
        include catalogueArticle
