catalogue-search-input(
search='vm.search'
filters='vm.filters'
search-enter-press='vm.searchEnterPress'
active-tags='vm.activeTags'
active-group='vm.activeGroup'
stock-length='vm.stock.length'
on-label-click='vm.showAdvancedFilter = !vm.showAdvancedFilter'
)

.alert.alert-default.collapser
  a(
  href
  ng-click='vm.isArticleGroupsExpanded = !vm.isArticleGroupsExpanded'
  )
    span {{ vm.currentArticleGroup.displayName || vm.showOnlyOrdered && 'Товары заказа' || '  Все товары' }}
    span.caret(ng-class='{"flip-vertical": vm.isArticleGroupsExpanded}')

font-size-edit.scroll-y(append-to='articleGroups' resize resize-offset-top='5')

  catalogue-filter(
  sng-if='vm.showAdvancedFilter'
  search='vm.search'
  filters='vm.filters'
  active-tags='vm.activeTags'
  active-group='vm.activeGroup'
  )

  .block-to-collapse.scroll-y.article-groups(
  uib-collapse='!vm.isArticleGroupsExpanded && !vm.isWideScreen'
  collapsed='vm.isArticleGroupsCollapsingDone=true'
  )

    ul.preceding-groups(ng-if='vm.showFirstLevel && vm.precedingGroups.length')

      .list-group-item(
      ng-repeat='elem in vm.precedingGroups | orderBy:"name" track by elem.id'
      )
        a.articleGroup(
        href
        stm-click='articleGroupAndCollapse' click-payload='elem'
        )
          .name {{::elem.displayName }}

        a.chevron(
        href
        stm-click='articleGroup' click-payload='elem'
        )
          i.glyphicon.glyphicon-menu-right

    ul.list-group.xs-ancestors(
    ng-if='vm.ancestors.length'
    )

      .list-group-item(
      ng-repeat='ancestor in vm.ancestors | limitTo: (!vm.currentArticleGroup && vm.showOnlyOrdered ? 1 : false) track by ancestor.id'
      )

        a.chevron(
        stm-click='articleGroup' click-payload='ancestor'
        )
          i.glyphicon.glyphicon-menu-left

        a.articleGroup(
        href
        stm-click='articleGroupAndCollapse' click-payload='ancestor'
        ) {{::ancestor.displayName}}

    ul.list-group.expanded

      a.list-group-item.active(
      href
      ng-if='!vm.noMoreChildren && vm.currentArticleGroup.displayName || !vm.currentArticleGroup && vm.showOnlyOrdered'
      ng-click='vm.isArticleGroupsExpanded=false'
      )
        span {{ vm.currentArticleGroup.displayName || 'Товары заказа' }}

      .list-group-item(
      ng-repeat='elem in vm.articleGroups | orderBy:"name" track by elem.id'
      ng-class='{active: vm.currentArticleGroup.id === elem.id}'
      )
        a.articleGroup(
        href
        stm-click='articleGroupAndCollapse' click-payload='elem'
        )
          .name {{::elem.displayName }}
          .badge(ng-if='::vm.articleGroupIds[elem.id]')
            span {{::vm.articleGroupIds[elem.id]}}
            span(ng-if='::elem.children.length') +

        a.chevron(
        href
        stm-click='articleGroup' click-payload='elem'
        ng-if='::elem.children.length && !vm.articleGroupIds[elem.id]'
        )
          i.glyphicon.glyphicon-menu-right

    ul.following-groups(ng-if='vm.showFirstLevel && vm.followingGroups.length')

      .list-group-item(
      ng-repeat='elem in vm.followingGroups | orderBy:"name" track by elem.id'
      )
        a.articleGroup(
        href
        stm-click='articleGroupAndCollapse' click-payload='elem'
        )
          .name {{::elem.displayName }}

        a.chevron(
        href
        stm-click='articleGroup' click-payload='elem'
        )
          i.glyphicon.glyphicon-menu-right
