.display-workflow

  .dropdown(uib-dropdown)
    button#btn-append-to-single-button.btn.btn-primary(
    type='button'
    uib-dropdown-toggle
    )
      span {{ vm.translatedWorkflow }}
      span.caret
    ul.scroll-y.dropdown-menu(
    uib-dropdown-menu
    role='menu'
    aria-labelledby='btn-append-to-single-button'
    resize
    resize-offset-top='2'
    )
      li(
      role='menuitem'
      ng-repeat='workflow in vm.workflowDictionary track by workflow.workflowName'
      ng-click='vm.onWorkflowChange(workflow.workflowName)'
      ng-class='[{"current-workflow": workflow.workflowName === vm.currentWorkflow}, workflow.cls]'
      )
        a(href='')
          span {{workflow.translation || workflow.workflowName}}
          span {{workflow.cnt}}
