.detailed-view
  .news-item
    .line-1
      label.subject {{vm.newsMessage.subject}}
      valid-lifetime(
      date-b='vm.newsMessage.dateB'
      date-e='vm.newsMessage.dateE'
      ng-if='vm.newsMessage.dateE || vm.newsMessage.dateB'
      )
    .line-2
      .news-body.scroll-y(resize resize-offset-top='60')
        p {{vm.newsMessage.body}}
    .line-3

      // TODO: Show if user has admin/editor? rights
      .buttons
        button.btn-warning.btn.glyphicon.glyphicon-pencil(ng-click='vm.editNews()' ng-if='vm.isNewsMaker()')
        button.btn-warning.btn.glyphicon.glyphicon-camera(ng-click='vm.addPhoto()' ng-if='vm.isNewsMaker()')
      .rating-block

        .rating-mean
          label(ng-if='vm.newsMessage.rating') Среднее:
          span.flex-1
          span {{vm.newsMessage.rating}}

        .rating
          label Оценка:
          span(
          uib-rating
          ng-model='vm.ratings[vm.newsMessage.id]'
          max='5'
          ng-click='vm.saveRating($event, vm.ratings[vm.newsMessage.id], vm.newsMessage.id)'
          titles='["Один", "Два", "Три", "Четыре", "Пять"]'
          enable-reset='false'
          aria-labelledby='default-rating'
          )
