.news-feed

  .duration(ng-class='{"warning": vm.news.beginDate > vm.news.endDate }')
    label.control-label Период действия новости
    .date-pickers
      .begin
        span.pretext.control-label С
        sab-date-picker.help-style(
        value='vm.news.beginDate'
        clear-text='Сегодня'
        )
      .end
        span.pretext.control-label По
        sab-date-picker(
        value='vm.news.endDate'
        min-date='vm.news.beginDate'
        clear-text='Сегодня'
        )

    span#helpBlock3.help-block(ng-if='vm.news.beginDate > vm.news.endDate') Дата введена некорректно

  form(name='vm.newsFeedForm')
    .subject(ng-class='{"has-error": !vm.newsFeedForm.subject.$pristine && !vm.news.subject.length}')
      label.control-label(for='newsSubject') Тема новости
      input.form-control(
      type='text'
      ng-model='vm.news.subject'
      id='newsSubject'
      aria-describedby='helpBlock'
      name='subject'
      )
      span#helpBlock.help-block(
      ng-if=' !vm.newsFeedForm.subject.$pristine && !vm.news.subject.length'
      ) Поле обязательно для ввода

    .text(ng-class='{"has-error": !vm.newsFeedForm.body.$pristine && !vm.news.body.length}')
      label.control-label(for='newsText') Текст новости
      textarea.form-control(
      type='text'
      rows='5'
      ng-model='vm.news.body'
      id='newsText'
      aria-describedby='helpBlock2'
      name='body'
      )
      span#helpBlock2.help-block(
      ng-if='!vm.newsFeedForm.body.$pristine && !vm.news.body.length'
      ) Поле обязательно для ввода


  button.btn.btn-primary(
  ng-click='vm.submitNews()'
  ng-disabled='!(vm.news.body.length && vm.news.subject.length) || vm.news.beginDate > vm.news.endDate'
  ) Сохранить новость
