.news-feed.ui-view(cg-busy='vm.cgBusy')

  .header

    .filters(ng-if='vm.isNewsMaker')

      button.btn(
      ng-class='vm.filter === "Actual" ? "btn-success" : "btn-link"'
      ng-click='vm.filterActualClick()'
      ) Актуальные

      button.btn(
      ng-class='vm.filter === "Past" ? "btn-warning" : "btn-link"'
      ng-click='vm.filterPastClick()'
      ) Прошлые

      button.btn(
      ng-class='vm.filter === "Future" ? "btn-warning" : "btn-link"'
      ng-click='vm.filterFutureClick()'
      ) Будущие

    .buttons(ng-if='vm.isNewsMaker')

      button.btn.btn-link(
      ng-click='vm.createNewsMessageClick()'
      ) Добавить новость

  .no-news(ng-if='!vm.busy && !vm.newsMessages.length')
    p Новостей нет. Авторизованные пользователи могут добавить новость.

  .scroll-y(resize resize-offset-top='5' vs-repeat='170' resize-property='height')

    .news-message(
    ng-click='vm.newsMessageClick(newsMessage)'
    ng-repeat='newsMessage in vm.newsMessages track by newsMessage.id'
    )

      .header
        label.subject {{ newsMessage.subject }}
        valid-lifetime(date-b='newsMessage.dateB' date-e='newsMessage.dateE')

      .body
        p
          img(ng-if='newsMessage.pictures.length' ng-src='{{newsMessage.pictures[0].srcThumbnail}}')
          span {{newsMessage.body}}
        //.author {{ newsMessage.authorAccount.name }}

      .footer

        .common-rating(
        ng-if='vm.showCommonRating(newsMessage)'
        ng-click='$event.stopPropagation()'
        )

          label Средняя оценка:

          strong {{ newsMessage.rating | number }}

          news-message-ratings-popover(news-message='newsMessage' ng-if='vm.discloseRatings')
            span ({{ newsMessage.ratingsCount }})

        .rating(ng-if='!newsMessage.isAuthor()')

          label {{ vm.ratings[newsMessage.id] ? 'Ваша оценка:' : 'Оцените:' }}

          span(
          uib-rating
          enable-reset='false'
          titles='vm.ratingTitles'
          ng-model='vm.ratings[newsMessage.id]'
          max='5'
          ng-click='$event.stopPropagation();vm.newsRatingClick(newsMessage)'
          )

        .rating(ng-if='newsMessage.isAuthor()')
          span Вы автор
          span.hidden-xs &nbsp;этой новости
