.ui-view(cg-busy='{promise: vm.busy, message: "Загрузка новостей"}')
  .news-feed(ng-if='!vm.busy')
    .news(ng-if='vm.isAdmin')
      .no-news
        p(ng-if='!vm.news') Новостей не найдено. Предлагаем
        p(ng-if='vm.news') Количество новостей {{vm.news.length}}. Предлагаем

          a(
          ng-click='vm.goToCreateNews()'
          ) cоздать новость.

      .news-repeater.scroll-y(resize resize-offset-top='15' vs-repeat='155')
        .news-item(ng-repeat='news in vm.news track by news.id' ng-click='vm.showAdditionalInfo(news)')
          .line-1
            label.subject {{news.subject}}
            valid-lifetime(date-b='news.dateB' date-e='news.dateE')
          .line-2
            .news-body(
            )
              p {{news.body}}
          .line-3
            label Оценка:
            span(
            uib-rating
            ng-model='news.userNewsMessage.rating'
            max='5'
            ng-click='vm.saveRating($event, news.userNewsMessage.rating, news.id)'
            titles='["Один", "Два", "Три", "Четыре", "Пять"]'
            enable-reset='false'
            aria-labelledby='default-rating'
            )
