.news-feed.ui-view(cg-busy='vm.cgBusy')

  .buttons(ng-if='vm.isNewsMaker')

    button.btn.btn-link(
    ng-click='vm.createNewsMessageClick()'
    ) Добавить новость

  .no-news(ng-if='!vm.busy && !vm.newsMessages.length')
    p Новостей нет. Авторизованные пользователи могут добавить новость.

  .scroll-y(resize resize-offset-top='15' vs-repeat='155' resize-property='height')

    .news-message(
    ng-repeat='newsMessage in vm.newsMessages track by newsMessage.id'
    ng-click='vm.newsMessageClick(newsMessage)'
    )

      .header
        label.subject {{ newsMessage.subject }}
        valid-lifetime(date-b='newsMessage.dateB' date-e='newsMessage.dateE')

      .body
        p {{newsMessage.body}}

      .rating
        label Оценка:
        span(
        uib-rating
        enable-reset='false'
        titles='["Один", "Два", "Три", "Четыре", "Пять"]'
        ng-model='vm.ratings[newsMessage.id]'
        max='5'
        ng-click='$event.stopPropagation();vm.newsRatingClick(newsMessage)'
        )
