.ui-view(cg-busy='{promise: vm.busy, message: "Загрузка новостей"}')
  .news-feed(ng-if='!vm.busy')
    .news(ng-if='vm.isAdmin')
      .no-news
        p {{vm.newsFeedHeader()}}
        p(ng-if='vm.isNewsMaker()') Предлагаем
          a(
          ng-click='vm.goToCreateNews()'
          ) cоздать новость.

      .news-repeater.scroll-y(resize resize-offset-top='15' vs-repeat='155')
        .news-item(ng-repeat='newsMessage in vm.news track by news.id' ng-click='vm.showAdditionalInfo(newsMessage)')
          .line-1
            label.subject {{newsMessage.subject}}
            valid-lifetime(date-b='newsMessage.dateB' date-e='newsMessage.dateE')
          .line-2
            .news-body(
            )
              p {{newsMessage.body}}
          .line-3
            label Оценка:
            span(
            uib-rating
            ng-model='vm.ratings[newsMessage.id]'
            max='5'
            ng-click='vm.saveRating($event, vm.ratings[newsMessage.id], newsMessage.id)'
            titles='["Один", "Два", "Три", "Четыре", "Пять"]'
            enable-reset='false'
            aria-labelledby='default-rating'
            )
