h4
  span.gray Требуется:
  = ' '
  label {{ vm.position.boxPcs().full }}
  = ' '
  span.gray ({{ vm.position.volume | bottles }})

hr

h4.text-right(ng-repeat='state in vm.states track by state.input')
  span.editable(ng-click='vm.edit($index)' ng-class='{"focused": vm.step === $index}')
    span.gray {{ state.label }}:
    = ' '
    label(ng-class='{"blink-underline": vm.step === $index}') {{ state.value }}

hr

section(ng-switch='vm.step')
  .volume-pad(
    ng-switch-when='0'
    model='vm.states[0].value'
    box-rel='vm.position.Article.packageRel'
    datatype='boxPcs'
    export-model='vm.states[0].exportValue'
  )
  .volume-pad(
    ng-switch-when='1'
    model='vm.states[1].value'
    datatype='date'
  )

hr(ng-if='vm.step >= 0')

section.text-right
  button.btn.btn-danger(ng-click='vm.remove()' ng-if='vm.pickedPosition') Удалить
  = ' '
  button.btn.btn-warning(ui-sref='^') Отмена
  = ' '
  button.btn.btn-primary(ng-click='vm.done()' ng-disabled='vm.notDone()') Готово
