h4
  //span.gray {{ vm.article.category }}
  //= ' '
  span {{ vm.article.firstName }}&nbsp;{{vm.article.pieceVolume | stnumber:1}}
h5
  span {{ vm.article.lastName }}
  = ' '
  span.gray (1&nbsp;x&nbsp;{{vm.article.packageRel}})
  = ' '
  span {{ vm.article.factory }}

section.ui-view

  h4
    span.gray Требуется:
    = ' '
    label {{ vm.picking.volume.full }}
    = ' '
    span.gray ({{ vm.picking.totalVolume | bottles }})

  ul.list-group
    li.list-group-item.display-flex(ng-repeat='order in vm.orders track by order.id' ng-class='{ gray: !order.volume.full}')
      .flex-1
        h4(ng-if='order.volume.full') {{ order.volume.full }}
        div
          span.gray № {{ order.ndoc }}
      button.btn.btn-default(
        ng-repeat='picked in order.position.pickedPositions track by picked.id'
        ui-sref='.pickedPosition({ pickedPositionId: picked.id })'
      )
        div
          strong {{ picked.boxPcs().full }}
        small {{ picked.productionInfo }}
      button.flex-right.btn.btn-default(
        ng-if='order.volume.full'
        type='button'
        ui-sref='.pick({ positionId: order.position.id })'
      )
        i.glyphicon.glyphicon-plus

  .text-right
    button.btn.btn-primary(ui-sref='^') Готово
