h4
  span.gray(ng-show='vm.position.pickedPositions.length') Осталось собрать:
  span.gray(ng-hide='vm.position.pickedPositions.length') Требуется:
  = ' '
  label {{ vm.position.unPickedBoxPcs().full || 0 }}
  = ' '
  span(ng-if='vm.position.pickedPositions.length')
    span.gray из
    = ' '
    label {{ vm.position.boxPcs().full }}

hr

h4.text-right(ng-if='vm.barCode')
  span.gray Партия:
  label {{ vm.barCode }}
h4.text-right(ng-repeat='state in vm.states track by state.input')
  span.editable(ng-click='vm.edit($index)' ng-class='{"focused": vm.step === $index}')
    span.gray {{ state.label }}:
    = ' '
    label(ng-class='{"blink-underline": vm.step === $index}') {{ state.value }}

hr

section(ng-switch='vm.step')
  volume-pad(
    ng-switch-when='0'
    model='vm.states[0].value'
    box-rel='vm.position.Article.packageRel'
    datatype='boxPcs'
    export-model='vm.states[0].exportValue'
  )
  volume-pad(
    ng-if="vm.states[1].datatype"
    ng-switch-when='1'
    model='vm.states[1].value'
    datatype='{{vm.states[1].datatype}}'
  )

hr(ng-if='vm.step >= 0')

section.text-right
  button.btn.btn-danger(ng-click='vm.remove()' ng-if='vm.pickedPosition') Удалить
  = ' '
  button.btn.btn-warning(ui-sref='^') Отмена
  = ' '
  button.btn.btn-primary(ng-click='vm.done()' ng-disabled='vm.notDone()') Готово
