.sale-orders(ui-view)

  filter-workflow(
  current-workflow='vm.currentWorkflow'
  workflows-in-promise='vm.workflowPromise'
  )

  .headers
    .processing Статус
    .salesman(ng-if='!vm.currentSalesman') ТП
    .outlet Точка
    .totals Итоги

  #scroll-main.scroll-y(
  cg-busy='vm.cgBusy'
  elem-ready='vm.restoreScrollPosition()'
  resize
  resize-offset-top='5'
  vs-repeat='{{vm.rowHeight()}}'
  vs-scrolled-to-end='vm.getData()'
  vs-scrolled-to-end-offset='15'
  vs-excess='10'
  )
    .clickable(
    ng-repeat='item in vm.data track by item.id'
    )
      .date(ng-if='!item.outletId')
        .title {{ ::item.date }}

      .sale-order(
      ng-if='item.outletId'
      ng-click='vm.itemClick(item)'
      )
        .row-data

          .processing(ng-class='item.workflowStep.cls')
            span {{ item.workflowStep.label }}

          .salesman(ng-if='!vm.currentSalesman')
            span.name {{ ::item.salesmanTinyName() }}

          .outlet
            span.name {{ ::item.outletName() }}
            .address
              .gray {{ ::item.outlet.address }}
              .salesman(ng-if='!vm.currentSalesman') {{ ::item.salesmanTinyName() }}

          .totals
            .position
              strong {{ item.totalPositionsCached() || 0 }}
              span П
            .cost
              currency-value(
              value='item.totalCostCached() || 0'
              )

        .processing-message

          span.comment-text {{ ::item.commentText }}
          span.icon(
          ng-if='item.processingMessage'
          ng-class='item.workflowStep.messageCls'
          )
            i.glyphicon.glyphicon-warning-sign

  .alert.alert-info.centered(ng-if='!vm.data.length && vm.isReady') Нет заказов
