.show-news-message

  .news-message

    .header

      .subject {{ vm.newsMessage.subject }}

      fieldset.buttons(ng-if='vm.isNewsMaker')

        a.btn.btn-link(href ng-click='vm.editClick()')
          i.glyphicon.glyphicon-edit

        a.btn.btn-link(href ng-click='vm.addPhotoClick()')
          i.glyphicon.glyphicon-camera

      //valid-lifetime(
      //date-b='vm.newsMessage.dateB'
      //date-e='vm.newsMessage.dateE'
      //ng-if='vm.newsMessage.dateE || vm.newsMessage.dateB'
      //)

    .body.scroll-y(resize resize-offset-top='40')
      p {{ vm.newsMessage.body }}

    .footer.spaced

      .common-rating(
      ng-if='vm.showCommonRating()'
      )

        label Средняя оценка:

        strong {{ vm.newsMessage.rating | number }}

      .rating(ng-if='!vm.newsMessage.isAuthor()')

        label Ваша оценка:
        span(
        uib-rating
        titles='vm.ratingTitles'
        enable-reset='false'
        max='5'
        ng-model='vm.userNewsMessage.rating'
        ng-click='vm.newsRatingClick()'
        )

      .rating(ng-if='vm.newsMessage.isAuthor()') Вы автор этой новости
