.show-news-message

  .news-message(cg-busy='vm.cgBusy')

    .header

      .subject {{ vm.newsMessage.subject }}

      fieldset.buttons(ng-if='vm.isNewsMaker')

        a.btn.btn-link(href ng-click='vm.editClick()')
          i.glyphicon.glyphicon-edit

        make-photo.btn(
        model='vm.newsMessagePicture'
        model-name='NewsMessagePicture'
        busy='vm.busySavingPicture'
        )
          i.glyphicon.glyphicon-camera

    .pictures

      .picture(
      ng-repeat='picture in vm.newsMessagePictures | orderBy:"deviceCts" track by picture.id'
      )
        a.thumb(
        href
        ng-click='vm.thumbClick(picture)'
        )
          img(ng-src='{{picture.srcThumbnail}}')

        a.remove(
        href
        ng-if='vm.isNewsMaker'
        ng-click='vm.pictureRemoveClick(picture)'
        ng-class='{confirmation: vm.confirmation === picture.id}'
        )
          i.glyphicon.glyphicon-remove

    .body.scroll-y#bodyScroll(resize resize-offset-top='95')
      p(ng-bind-html='::vm.newsMessage.htmlView()')

      .commentaries
        .commentary(ng-repeat='commentary in vm.commentaries track by commentary.id')
          .author {{ commentary.timestamp | amUtc | amLocal | amCalendar }} {{ commentary.authorAccount.name }}:
          .body {{ commentary.body }}

    .footer.spaced

      .ratings
        .common-rating(
        ng-if='vm.showCommonRating()'
        )

          label Средняя оценка:

          strong {{ vm.newsMessage.rating | number }}

        .rating(ng-if='!vm.newsMessage.isAuthor()')

          label Ваша оценка:
          span(
          uib-rating
          titles='vm.ratingTitles'
          enable-reset='false'
          max='5'
          ng-model='vm.userNewsMessage.rating'
          ng-click='vm.newsRatingClick()'
          )

        .rating(ng-if='vm.newsMessage.isAuthor()') Вы автор этой новости

      form.commentary(
      ng-submit='vm.onCommentarySubmit()'
      name='commentaryForm'
      ng-hide='vm.disableCommentaries'
      )

        input.form-control(
        track-focused
        autocomplete='off'
        type='text'
        placeholder='Ваш коментарий к этой новости'
        ng-model='vm.commentary.body'
        required
        min-length='1'
        )

        button.btn.btn-primary(type='submit' ng-disabled='commentaryForm.$invalid')
          i.glyphicon.glyphicon-comment
