.warehouse-box-info(cg-busy="vm.cgBusy")

  .title
    .barcode 📦 {{ vm.warehouseBox.barcode }}
    .count {{ vm.items.length | number }}

  .status

    .processing {{ vm.warehouseBox.statusLabel() }}

    .picking-order(ng-if="vm.pickingOrder")
      .ndoc {{ vm.pickingOrder.ndoc }}
      .date {{ vm.pickingOrder.date | amDateFormat: 'DD.MM.YY' }}

  .item-info(ng-if="vm.currentItem")
    warehouse-item-info(warehouse-item="vm.currentItem")
    a(href ng-click="vm.removeItemClick()") Отмена

  .errored-items(ng-if="vm.erroredItems.length")
    label Ошибки в марках
    strong {{ vm.erroredItems.length }}

  .box-orders.list-group(ng-if="vm.boxOrders.length")
    .list-group-item.list-group-item-warning
      strong Требования с ошибкой
    .list-group-item.picking-order(ng-repeat="order in vm.boxOrders track by order.id")
      .ndoc {{ order.ndoc }}
      .date {{ order.date | amDateFormat: 'DD.MM.YY' }}
      .actions
        a(href ng-click="vm.boxOrderClick(order)") Исправить

  .items
    .articles.list-group.stock-batch-items
      .list-group-item(ng-if="vm.lastConfirmed.article")
        warehouse-article(ng-model="vm.lastConfirmed.article")
      .list-group-item(ng-if="!vm.articles.length && vm.lastConfirmed.stamps.length")
        .stamp-label
          label 🏷
          span неизвестных марок:
          strong {{ vm.lastConfirmed.stamps.length }} шт.
      .list-group-item(ng-if="vm.lastConfirmed.stockBatchBarcode")
        .stamp-label
          label 🔖
          span партия:
          strong {{ vm.lastConfirmed.stockBatchBarcode }}
      .list-group-item.article(ng-repeat="a in vm.articles track by a.id")
        warehouse-article(ng-model="a.article")
        .totals
          .confirmed(ng-if="a.confirmedItems.length") {{ a.confirmedItems.length }} из
          .count {{ a.items.length | number:0 }}
          .status(ng-if="vm.confirmedItems.length") {{ a.confirmationStatus }}

  .action-buttons

    button.btn.btn-warning.return(
      ng-click="vm.confirmBoxClick()"
      ng-hide="vm.confirmedItems.length"
      ng-if="vm.isFullBox()"
      ng-disabled="vm.lastConfirmed"
    ) {{ vm.lastConfirmed ? vm.lastConfirmed.statusText() : 'Подтвердить на складе' }}

    button.btn.btn-warning.return(
      ng-click="vm.withdrawClick()"
      ng-hide="vm.confirmedItems.length"
      ng-if="vm.warehouseBox.processing==='picked' && vm.items.length"
    ) Вернуть на склад

    button.btn.btn-default.return(
      ng-click="vm.rescanClick()"
      ng-if="vm.confirmedItems.length"
    ) Отмена пересчета

    button.btn.btn-warning.return(
      ng-click="vm.confirmWithdrawClick()"
      ng-if="vm.confirmedItems.length"
    ) {{ vm.confirmLabel() }}

    button.btn.btn-primary.return(
      ng-click="vm.confirmClick()"
      ng-if="vm.boxIsPicked()"
      ng-show="vm.confirmedItems.length"
    ) Подтвердить в заказе
