.catalogue-filter.scroll-y

  uib-accordion(close-others='true')

    .query(
    uib-accordion-group
    class='panel-default'
    is-disabled='!vm.searchQueries.length'
    template-url='app/domain/components/catalogueFilter/catalogueFilterSearcher.html'
    is-open="vm.queryTabOpen"
    )
      uib-accordion-heading

        catalogue-search-input(
        search='vm.search'
        filters='vm.filters'
        search-enter-press='vm.searchEnterPress'
        active-tags='vm.activeTags'
        active-group='vm.activeGroup'
        stock-length='vm.stock.length'
        catalogue-vm='vm'
        remove-tag-click='vm.removeTagClick'
        input-click='vm.queryTabOpen = !vm.queryTabOpen'
        )

        button.btn.btn-default#only-shipped-filter(
        ng-if='vm.saleOrder'
        ng-click='vm.onlyShippedClick()'
        ng-class='{active: vm.showOnlyShipped}'
        )
          i.glyphicon.glyphicon-star-empty

      .accordion-body

        .single-query(
        ng-repeat='query in vm.searchQueries track by query.id'
        ng-class='{active : vm.currentSearchQuery === query.query}'
        )
          a.query-name(
          ng-click='vm.queryClick(query)'
          ) {{query.query}}

          .query-buttons
            a(
            href
            ng-click='vm.favouriteQueryClick(query)'
            )
              i.glyphicon.glyphicon-heart-empty(ng-if='!query.isFavourite')
              i.glyphicon.glyphicon-heart(ng-if='query.isFavourite')

            a(
            href
            ng-click='vm.removeQueryClick(query)'
            )
              i.glyphicon.glyphicon-remove



    .block-to-collapse.scroll-y.article-groups(
    class='panel-default'
    uib-accordion-group
    is-open='vm.categoryTabOpen'
    )

      uib-accordion-heading
        span Группа
        span.gray(ng-if='!vm.categoryTabOpen') {{ vm.cvm.currentArticleGroup.displayName }}

      .accordion-body

        ul.preceding-groups(ng-if='vm.cvm.showFirstLevel && vm.cvm.precedingGroups.length')

          .list-group-item(
          ng-repeat='elem in vm.cvm.precedingGroups | orderBy:"name" track by elem.id'
          )
            a.articleGroup(
            href
            stm-click='articleGroupAndCollapse' click-payload='elem'
            )
              .name {{::elem.displayName }}

            a.chevron(
            href
            stm-click='articleGroup' click-payload='elem'
            )
              i.glyphicon.glyphicon-menu-right

        ul.list-group.xs-ancestors(
        ng-if='vm.cvm.ancestors.length'
        )

          .list-group-item(
          ng-repeat='ancestor in vm.ancestorGroups() track by ancestor.id'
          )

            a.chevron(
            stm-click='articleGroup' click-payload='ancestor'
            )
              i.glyphicon.glyphicon-menu-left

            a.articleGroup(
            href
            stm-click='articleGroupAndCollapse' click-payload='ancestor'
            ) {{::ancestor.displayName}}

        ul.list-group.expanded

          a.list-group-item.active(
          href
          ng-if='!vm.cvm.noMoreChildren && vm.cvm.currentArticleGroup.displayName || !vm.cvm.currentArticleGroup && vm.cvm.showOnlyOrdered'
          ng-click='vm.cvm.isArticleGroupsExpanded = false;vm.cvm.articleGroupClick();'
          )
            span {{ vm.cvm.currentArticleGroup.displayName || 'Товары заказа' }}

          .list-group-item(
          ng-repeat='elem in vm.cvm.articleGroups | orderBy:"name" track by elem.id'
          ng-class='{active: vm.cvm.currentArticleGroup.id === elem.id}'
          )
            a.articleGroup(
            href
            stm-click='articleGroupAndCollapse' click-payload='elem'
            )
              .name {{::elem.displayName }}
              .badge(ng-if='::vm.cvm.articleGroupIds[elem.id]')
                span {{::vm.cvm.articleGroupIds[elem.id]}}
                span(ng-if='::elem.children.length') +

            a.chevron(
            href
            stm-click='articleGroup' click-payload='elem'
            ng-if='::elem.children.length && !vm.cvm.articleGroupIds[elem.id]'
            )
              i.glyphicon.glyphicon-menu-right

        ul.following-groups(ng-if='vm.cvm.showFirstLevel && vm.cvm.followingGroups.length')

          .list-group-item(
          ng-repeat='elem in vm.cvm.followingGroups | orderBy:"name" track by elem.id'
          )
            a.articleGroup(
            href
            stm-click='articleGroupAndCollapse' click-payload='elem'
            )
              .name {{::elem.displayName }}

            a.chevron(
            href
            stm-click='articleGroup' click-payload='elem'
            )
              i.glyphicon.glyphicon-menu-right

    .tag(
    ng-repeat='tagGroup in vm.articleTagGroups track by tagGroup.id'
    uib-accordion-group
    class='panel-default'
    is-open='vm.activeGroup[tagGroup.id].cnt'
    ng-click='vm.initActiveGroupPropsClick(tagGroup.id)'
    )
      uib-accordion-heading {{tagGroup.name}}

        .dummy-tags
          a(
          href
          ng-repeat='tag in vm.activeGroup[tagGroup.id].selected track by $index'
          ng-if='vm.activeGroup[tagGroup.id].cnt === false && vm.activeGroup[tagGroup.id].selected.length'
          ng-click='vm.dummyTagClick($event, {label: tag})'
          ) {{ tag }}

      .accordion-body.tag-line

        a.list-group-item(
        href
        ng-repeat='tag in tagGroup.tags track by $index'
        ng-click='vm.tagClick(tag, tagGroup.allowMultiple)'
        ng-class='{active : (vm.activeTags[tag.groupId] || vm.activeTags[tag.id]) === tag.label}'
        ) {{tag.label}}
