.uncashed(cg-busy='vm.cgBusy')

  .alert.alert-default

    .popovers.spaced
      a.popover-trigger(
      href
      popover-is-open='vm.isUncashingPopoverOpen'
      popover-placement='auto bottom-left'
      ng-class='{disabled: !!vm.uncashing || !vm.uncashings.length}'
      uib-popover-template='"app/domain/sales/debts/uncashingPopover.template.html"'
      popover-append-to-body="true"
      popover-class='uncashing-popover'
      )
        span.title
          currency-value(
          value='vm.totalChecked'
          label='{{ vm.totalChecked === vm.totalCashed() ? "На руках" : "Выбрано"}}:'
          ng-if='!vm.uncashingId'
          )
          currency-value(
          value='vm.currentUncashing.summ'
          label='Сдано {{ vm.currentUncashing.date | amDateFormat:"DD.MM.YYYY" }}:'
          ng-if='vm.uncashingId'
          )
        span.caret

    .totals.buttons(ng-if='vm.uncashingId')
      button.btn(
      ng-class='vm.confirmCancelCurrentUncashing ? "btn-danger" : "btn-warning"'
      ng-click='vm.cancelCurrentUncashingClick()'
      ) {{ vm.confirmCancelCurrentUncashing ? 'Точно удалить?' : 'Удалить' }}

    .totals.buttons(ng-if='!vm.uncashingId')

      outlet-cashing-popover(
      ng-class='{disabled: vm.uncashing}'
      comment-text-placeholder='Точка'
      is-popover-open='vm.plusPopoverOpen'
      )
        i.glyphicon.glyphicon-plus

      outlet-cashing-popover(
      summ-sign='-1'
      ndoc-placeholder='№ заявки'
      ng-class='{disabled: vm.uncashing}'
      is-popover-open='vm.minusPopoverOpen'
      )
        i.glyphicon.glyphicon-minus

      a.btn.btn-link(href ng-click='vm.editClick()' ng-disabled='!vm.uncashed.length || vm.uncashing')
        i.glyphicon(ng-class='vm.editing ? "glyphicon-lock" : "glyphicon-edit"')

      uncash-popover(
      uncashed='vm.toUncash'
      ng-class='{disabled: !vm.uncashed.length}'
      is-popover-open='vm.uncashing'
      )

  .scroll-y(
  ng-class='{disabled: vm.uncashing}'
  resize resize-property='height'
  resize-offset-top='5'
  )
    .outlet(ng-repeat='item in vm.uncashedByOutlet track by item.key')

      .title
        .name {{ item.title || item.outlet.name }}
        small.address
          a(href ng-click='vm.outletClick(item.outlet)') {{ item.outlet.address }}

      .cashings

        .cashing(ng-repeat='cashing in item.cashings track by cashing.id')

          .commentText {{ cashing.commentText }}

          .ndoc
            span {{ cashing.ndoc || cashing.debt.ndoc }}
            = ' '
            small.gray(ng-if='::cashing.debt.date') от&nbsp;{{ ::cashing.debt.date | amDateFormat:'DD/MM/YYYY' }}
            a.detete-btn(href ng-click='vm.deleteCashingClick(cashing)' ng-if='vm.editing')
              i.glyphicon.glyphicon-trash

          currency-value.summ(value='cashing.summ')

          a.cash-this(href ng-click='vm.cashingClick(cashing, $event)' ng-if='vm.checking')
            i.glyphicon(ng-class='vm.checking[cashing.id] ? "glyphicon-check" : "glyphicon-unchecked"')


        .cashing.total(ng-if='item.cashings.length > 1')
          currency-value.summ(value='item.totalSumm')

    .empty(ng-if='!vm.busy && !vm.uncashed.length')
      .alert.alert-info.centered
        span Нет информации о собранной выручке. Регистрируйте выручку в разделе
        span &nbsp;
        a(href ui-sref='sales.debtByOutlet') Долги

  //.footer

    .buttons

    .totals.animate-show(ng-hide='vm.busy')

      label Итого на руках:

      currency-value(value='vm.totalCashed()')
