.debt-cashing-popover

  .to-cash(ng-if='vm.debt.uncashed()')

    a.btn.btn-link(
    ng-if='!vm.cashPart'
    href ng-click='vm.cashWholeClick()'
    ) Оплачено целиком

    a.btn.btn-link.spaced(
    ng-show='!vm.cashPart'
    href ng-click='vm.cashPartClick()'
    )
      span Оплачено частично

    form(name="cashForm" ng-submit='vm.onSubmit()')

      .form-group
        input#sumToCash.form-control(
        ng-if='vm.cashPart'
        ng-model='vm.cashed'
        type='number'
        name='cashed'
        placeholder='Укажите сумму'
        step='0.01'
        max='{{vm.debt.uncashed()}}'
        track-focused
        required
        )

        .error(ng-if='cashForm.$dirty && !cashForm.$valid') Некорректная сумма

      .form-group
        textarea#commentText.form-control(
        ng-model='vm.commentText'
        type='text'
        name='commentText'
        autocomplete="off"
        placeholder='Комментарий'
        track-focused
        )

      button.btn.btn-primary(
      ng-if='vm.cashPart'
      type='submit'
      value='submit'
      ng-disabled='!cashForm.$valid'
      ) Добавить выручку

    //ng-pattern='/^[0-9]+(\,[0-9]{1,2})?$/'

  .cashings(ng-if='vm.cashings.length')
    .title Получено ранее
    .cashing(
    ng-repeat='cashing in vm.cashings track by cashing.id'
    ng-class='{red: !cashing.isProcessed}'
    )
      a.delete(
      ng-if='!cashing.uncashingId'
      href ng-click='vm.deleteCashingClick(cashing)'
      ng-class='{confirmation: vm.deleteConfirmation[cashing.id]}'
      )
        i.glyphicon.glyphicon-trash
      span.cts {{ cashing.deviceCts | amUtc | amLocal | amDateFormat: 'DD.MM.YYYY HH:mm'}}
      strong.summ {{ cashing.summ | number:2 }}
      small.comment-text(ng-if='cashing.commentText') {{ cashing.commentText }}
