.campaign-filters

  a.campaign-group-popover.animate-show(
  href
  ng-disabled='!vm.campaignGroups'
  popover-is-open='vm.isGroupPopoverOpen'
  popover-placement='bottom-left auto'
  uib-popover-template='"app/domain/components/campaignFilterPopover/campaignGroupPopover.template.html"'
  )
    label Период акций:
    span.name {{ vm.currentItem.name }}
    span.caret

  a.campaign-team-name-popover.animate-show(
  href
  ng-disabled='!vm.teams.length'
  popover-is-open='vm.isTeamNamePopoverOpen'
  popover-placement='bottom-right auto'
  uib-popover-template='"app/domain/components/campaignFilterPopover/campaignTeamName.template.html"'
  )

    label Команда:
    span.name {{ vm.currentTeam || 'Любая' }}
    span.caret
