h3 Добавить точку

hr

section.row-fluid(cg-busy='{promise: vm.busy, message: vm.busyMessage}')
  form.form-horizontal(name="addOutletForm")

    .form-group()
      label.col-sm-4.control-label(for="inputName") Название партнёра
      .col-sm-8
        input#inputName.form-control(
        type='text'
        name='name'
        ng-required='!vm.selectedPartner'
        placeholder='Название партнёра'
        ng-model='vm.name'
        ng-focus='vm.inputNameFocus()'
        ng-blur='vm.inputNameBlur()'
        autocomplete='off'
        uib-typeahead='partner as partner.shortName for partner in vm.getPartners($viewValue)'
        typeahead-min-length=0
        typeahead-on-select='vm.selectPartner($item)'
        )

    .form-group
      label.col-sm-4.control-label(for="inputAddress") Адрес
      .col-sm-8
        input#inputAddress.form-control(
        type="text"
        name="address"
        ng-required='true'
        placeholder="Адрес"
        ng-model="vm.address"
        autocomplete="off"
        )

hr
.pull-right

  button.btn.btn-primary(
  type="submit"
  ng-click="vm.submit(addOutletForm)"
  ng-disabled="addOutletForm.$invalid"
  ) Сохранить

  button.btn.btn-warning(
  type="button"
  ng-click="vm.cancel(addOutletForm)"
  ) Отменить
