h3 Добавление точки

hr

section.row-fluid(cg-busy='{promise: vm.busy, message: vm.busyMessage}')
  form.form-horizontal(
  ng-if='vm.newLocation'
  name="addOutletForm"
  novalidate
  )
    .form-group(ng-if='vm.isInCreatingPartnerProcess')
      label.col-sm-4.control-label.hidden-xs(for="inputName") Полное название
      .col-sm-8.col-xs-12
        p.form-control-static
          span {{ vm.selectedLegalForm.name }} "{{ vm.name }}"
          = ' '
          span.gray {{ vm.address }}

    .form-group
      label.col-sm-4.control-label(for="inputName")
        | {{ vm.isInCreatingPartnerProcess ? 'Контрагент сокращенно' : 'Контрагент' }}
      .col-sm-8
        input#inputName.form-control(
        ng-if='vm.isInCreatingPartnerProcess'
        ng-model='vm.name'
        auto-focus='false'
        type="text"
        name="name"
        ng-required='true'
        placeholder="Название без кавычек"
        autocomplete="off"
        )

        stm-typeahead(ng-if='!vm.isInCreatingPartnerProcess'
          input-required='true'
          input-model='vm.name'
          selected-model='vm.selectedPartner'
          add-button-click-fn='vm.addPartnerBtnClick'
          input-id='inputName'
          input-class='form-control'
          input-editable
          placeholder='Название контрагента'
          rows-data='vm.partners'
          rows-filters='filter:{shortName:$viewValue}'
          row-as='name'
          on-select-item-fn='vm.selectPartner'
          )

    .form-group(ng-if='vm.isInCreatingPartnerProcess')
      label.col-sm-4.control-label(for="inputLegalForm") Форма собственности
      .col-sm-8
        stm-typeahead(
        input-required='true'
        input-model='vm.selectedLegalForm'
        input-id='inputLegalForm'
        input-class='form-control'
        placeholder='Нажмите для выбора'
        rows-data='vm.legalForms'
        rows-filters='filter:{name:$viewValue}'
        row-as='name'
        )

    .form-group(ng-if='vm.isInCreatingPartnerProcess || vm.selectedPartner')
      label.col-sm-4.control-label(for="inputAddress") Адрес
      .col-sm-8
        input#inputAddress.form-control(
        type="text"
        name="address"
        ng-required='true'
        placeholder="Улица, дом, вывеска"
        ng-model="vm.address"
        autocomplete="off"
        )

    .form-group(
    ng-if='vm.isInCreatingPartnerProcess'
    ng-class="addOutletForm.inn.$dirty && addOutletForm.inn.$invalid && 'has-error'"
    )
      label.col-sm-4.control-label(for="inputINN") ИНН
      .col-sm-8
        input#inputINN.form-control(
        inn-input
        type="text"
        name="inn"
        ng-pattern='innPattern'
        placeholder='10 или 12 цифр (если известен)'
        ng-model="vm.inn"
        autocomplete="off"
        )
        div(
        class="help-block"
        ng-if="addOutletForm.inn.$dirty && (addOutletForm.inn.$error.pattern || addOutletForm.inn.$error.innInput)"
        ng-messages="addOutletForm.inn.$error"
        )
          p(ng-message="pattern") ИНН: 10 или 12 цифр
          p(ng-message="innInput") Неверная контрольная сумма

    hr

    .col-sm-4.col-sm-offset-8
      .form-group.pull-right
        fieldset
          button.btn.margin.btn-primary(
          ng-if='!vm.isInCancelProcess'
          ng-disabled='addOutletForm.$invalid || !vm.address'
          ng-click='vm.submit()'
          ) Сохранить
          button.btn.margin.btn-warning(
          ng-if='!vm.isInCancelProcess'
          ng-click='vm.cancel(addOutletForm)'
          ) Отменить
          button.btn.margin.btn-primary(
          ng-if='vm.isInCancelProcess'
          ng-click='vm.cancelConfirm()'
          ) Да, отменить
          button.btn.margin.btn-warning(
          ng-if='vm.isInCancelProcess'
          ng-click='vm.isInCancelProcess = false'
          ) Нет
