h3 Добавить точку

hr

section.row-fluid(cg-busy='{promise: vm.busy, message: vm.busyMessage}')
  form.form-horizontal(
  name="addOutletForm"
  novalidate
  )

    .form-group
      label.col-sm-4.control-label(for="inputName") Название партнёра
      .col-sm-8
        .row(ng-if='!vm.isInCreatingPartnerProcess')
          .col-xs-10
            ui-select#inputName(
            ng-model='vm.selectedPartner'
            on-remove="vm.selectPartner()"
            on-select="vm.selectPartner($item)"
            ng-required='true'
            )
              ui-select-match(
              placeholder="Название партнёра"
              allow-clear
              ) {{ $select.selected.shortName }}
              ui-select-choices(
              repeat='partner in vm.partners | filter: $select.search | orderBy:["shortName", "name"] track by partner.id'
              refresh='vm.getPartners($select.search, {sortBy: "shortName"})'
              refresh-delay=0
              )
                div(ng-bind-html="partner.name | highlight: $select.search")
          .col-xs-2
            button.btn.ml-em.btn-primary.pull-right(
            ng-click='vm.addPartnerBtnClick()'
            ng-hide='!vm.currentSearchValue'
            )
              i.glyphicon.glyphicon-plus

        input#inputName.form-control(
        ng-if='vm.isInCreatingPartnerProcess'
        ng-model='vm.name'
        auto-focus='false'
        type="text"
        name="name"
        ng-required='true'
        placeholder="Имя партнёра"
        ng-focus='vm.inputFocus()'
        autocomplete="off"
        )

    .form-group(ng-if='vm.isInCreatingPartnerProcess')
      label.col-sm-4.control-label(for="inputLegalForm") Форма
      .col-sm-8
        ui-select#inputLegalForm(
        ng-model="vm.selectedLegalForm"
        ng-required='true'
        )
          ui-select-match(
          placeholder="Форма собственности"
          ) {{ $select.selected.fullName }}
          ui-select-choices(
          repeat='legalForm in vm.legalForms | filter: $select.search | orderBy:"name" track by legalForm.id'
          refresh='vm.getLegalForms($select.search, {sortBy: "name"})'
          refresh-delay=0
          )
            div(ng-bind-html="legalForm.name | highlight: $select.search")

    .form-group(
    ng-if='vm.isInCreatingPartnerProcess'
    ng-class="addOutletForm.inn.$touched && addOutletForm.inn.$invalid && 'has-error'"
    )
      label.col-sm-4.control-label(for="inputINN") ИНН
      .col-sm-8
        input#inputINN.form-control(
        inn-input
        type="text"
        name="inn"
        ng-pattern='innPattern'
        placeholder='{{ placeholder }}'
        ng-model="vm.inn"
        ng-focus='vm.inputFocus()'
        autocomplete="off"
        )
        div(
        class="help-block"
        ng-if="addOutletForm.inn.$touched"
        ng-messages="addOutletForm.inn.$error"
        )
          p(ng-message="pattern") ИНН: 10 или 12 цифр
          p(ng-message="innInput") Неверная контрольная сумма

    .form-group(ng-if='vm.isInCreatingPartnerProcess || vm.selectedPartner')
      label.col-sm-4.control-label(for="inputAddress") Адрес
      .col-sm-8
        input#inputAddress.form-control(
        type="text"
        name="address"
        ng-required='true'
        placeholder="{{ vm.selectedPartner || vm.isInCreatingPartnerProcess ? 'Адрес' : 'Сначала выберите партнёра' }}"
        ng-model="vm.address"
        ng-focus='vm.inputFocus()'
        autocomplete="off"
        )
    hr

    .form-group
      .col-sm-4.col-sm-offset-8
        uib-accordion(close-others='true')

          uib-accordion-group(
          ng-hide="(button.type === 'primary') && addOutletForm.$invalid"
          ng-repeat='button in vm.buttons'
          class='panel-{{ button.type }}'
          is-disabled="(button.type === 'primary') && addOutletForm.$invalid"
          ng-click='vm.accButtonClick(addOutletForm, button)'
          is-open='button.isOpen'
          )
            uib-accordion-heading
              div(ng-click='toggleOpen()')
                span {{ button.title }}
                i.pull-right.glyphicon(
                ng-hide="(button.type === 'primary') && addOutletForm.$invalid"
                ng-class="button.isOpen && 'glyphicon-chevron-up' || (vm.selectedPartner || vm.addPartnerFieldsCheck()) && 'glyphicon-chevron-down' || 'glyphicon-chevron-left'"
                )
            p {{ button.description }}
              .pull-right.buttons-container
                button(
                ng-repeat='btn in button.subButtons'
                class='btn margin btn-{{ btn.type }}'
                ng-click='vm.subButtonClick(btn)'
                ) {{ btn.title }}
