section.catalogue.spaced(cg-busy='vm.cgBusy')

  .ui-view

  ol.breadcrumb(
  ng-hide='!vm.isWideScreen && vm.saleOrder'
  ng-include="'app/domain/sales/views/catalogue/catalogueBreadcrumb.html'"
  )

  section.row

    #article-groups.col-sm-4(ng-include="'app/domain/sales/views/catalogue/catalogueArticleGroups.html'")

    #scroll-articles.col-sm-8.scroll-y.animate-show(
    resize='articlesScroller' resize-fn='vm.articlesScrollerFn'
    ng-include="'app/domain/sales/views/catalogue/catalogueArticle.html'"
    ng-show='vm.isWideScreen || !vm.isArticleGroupsExpanded'
    )
