section(
cg-busy='vm.cgBusy'
ng-class='["catalogue", vm.currentState, {showOnlyOrdered: vm.showOnlyOrdered}]'
)

  .ui-view

  ol.breadcrumb.border-radius-10(
  ng-hide='!vm.isWideScreen && vm.saleOrder'
  ng-include="'app/domain/sales/views/catalogue/catalogueBreadcrumb.html'"
  )

  section.row.animate-show(
  ng-show='!saleOrderExpanded'
  )

    #article-groups.col-sm-4(ng-include="'app/domain/sales/views/catalogue/catalogueArticleGroups.html'")

    #scroll-articles.col-sm-8.scroll-y.animate-show(
    resize resize-offset-top='5' resize-property='height'
    ng-include="'app/domain/sales/views/catalogue/catalogueArticle.html'"
    ng-show='(vm.isWideScreen || !vm.isArticleGroupsExpanded)'
    )
