section(cg-busy='vm.cgBusy')

  ol.breadcrumb

    span.pull-right(uib-dropdown is-open='status.isopen')
      a(href uib-dropdown-toggle)
        | {{vm.currentPriceType.name || 'Выберите тип цен'}}
        =' '
        span.caret

      ul.dropdown-menu(uib-dropdown-menu)
        li(ng-repeat='priceType in vm.priceTypes track by priceType.id')
          a(href ng-click='vm.priceTypeClick(priceType)') {{priceType.name}}


    li(ng-repeat='ancestor in vm.ancestors track by ancestor.id')
      a(href ng-click='vm.setCurrentArticleGroup(ancestor.id && ancestor)') {{ ancestor.name }}

    li.active(ng-if='vm.currentArticleGroup') {{ vm.currentArticleGroup.name }}


  section.row(
  resize
  style='height: {{windowHeight - offsetTop - 5}}px;'
  )
    .col-sm-4.scroll-y.max-height-100

      .stm-searcher.form-group.has-feedback
        label(for="search-input")
          i.glyphicon.glyphicon-search
        input#search-input.form-control(
        type='search'
        placeholder='Поиск'
        aria-describedby='search-input'
        ng-model='vm.search'
        ng-model-options='{debounce: 300}'
        )

        span.form-control-feedback(ng-hide='!vm.search' )
          a(ng-click="vm.search=''" href)
            i.glyphicon.glyphicon-remove

      ul.list-group
        a.list-group-item(
        ng-class='{active: vm.currentArticleGroup.id === elem.id}'
        href
        ng-click='vm.setCurrentArticleGroup(elem)'
        ng-repeat='elem in vm.articleGroups | orderBy:"name" track by elem.id'
        )
          span.badge(ng-if='!elem.children.length && vm.articleGroupIds[elem.id].length') {{vm.articleGroupIds[elem.id].length}}
          i.glyphicon.glyphicon-menu-right.pull-right(ng-if='elem.children.length')
          span {{elem.name}}

    #scroll-articles.col-sm-8.scroll-y.max-height-100
      .alert.alert-info.centered(ng-if='!vm.busy && !vm.stock.length') Нет подходящих товаров
      ul.list-group.vr-parent(vs-repeat='80' vs-scroll-parent="#scroll-articles")
        .list-group-item.display-flex(ng-repeat='stock in vm.stock track by stock.id')
          .flex-1
            div
              strong {{stock.article.firstName}}
              = ' '
              span.label.label-default {{stock.article.pieceVolume}}
            .gray(title='{{stock.article.name}}')
              small(ng-if='stock.article.lastName') {{stock.article.preName}}
              = ' '
              small {{stock.article.lastName || stock.article.name}} (1 x {{stock.article.packageRel}})
            .gray
              small {{vm.prices[stock.articleId] | number:2}} ₽

          span.right {{stock.displayVolume}}
