section(cg-busy='vm.cgBusy')

  ol.breadcrumb
    li(ng-repeat='ancestor in vm.ancestors track by ancestor.id')
      a(href ng-click='vm.setCurrentArticleGroup(ancestor.id && ancestor)') {{ ancestor.name }}

    li.active(ng-if='vm.currentArticleGroup') {{ vm.currentArticleGroup.name }}

  section.row(
  resize
  style='height: {{windowHeight - offsetTop - 5}}px;'
  )
    .col-sm-4.scroll-y.max-height-100

      .form-group.display-flex.has-feedback
        label(for="search-input")
          i.glyphicon.glyphicon-search
        input#search-input.form-control.flex-1(
        type='search'
        placeholder='Поиск'
        aria-describedby='search-input'
        ng-model='vm.search'
        ng-model-options='{debounce: 300}'
        )

        span.form-control-feedback(ng-hide='!vm.search' )
          a(ng-click="vm.search=''" href)
            i.glyphicon.glyphicon-remove

      ul.list-group
        a.list-group-item(
        ng-class='{active: vm.currentArticleGroup.id === elem.id}'
        href
        ng-click='vm.setCurrentArticleGroup(elem)'
        ng-repeat='elem in vm.articleGroups | orderBy:"name" track by elem.id'
        )
          span.badge(ng-if='!elem.children.length && elem.stockArticles()') {{elem.stockArticles()}}
          i.glyphicon.glyphicon-menu-right.pull-right(ng-if='elem.children.length')
          span {{elem.name}}

    #scroll-articles.col-sm-8.scroll-y.max-height-100
      ul.list-group.vr-parent(vs-repeat='60' vs-scroll-parent="#scroll-articles")
        .list-group-item.display-flex(ng-repeat='stock in vm.stock track by stock.id')
          .flex-1
            div
              strong {{stock.article.firstName}}
              = ' '
              span.label.label-default {{stock.article.pieceVolume}}
            .gray(title='{{stock.article.name}}')
              small(ng-if='stock.article.lastName') {{stock.article.preName}}
              = ' '
              small {{stock.article.lastName || stock.article.name}}
          span.right {{stock.displayVolume}}
