h3 Редактировать точку
hr
section.row-fluid(cg-busy='{promise: vm.busy, message: vm.busyMessage}')
  form.form-horizontal(
  name="editOutletForm"
  novalidate
  )
    .form-group
      label.col-sm-4.control-label(for="inputPartner")
        | Контрагент
      .col-sm-8
        stm-typeahead(
        input-required='true'
        input-model='vm.partner'
        selected-model='vm.selectedPartner'
        input-id='inputPartner'
        input-class='form-control'
        trim-enabled='false'
        placeholder='Название контрагента'
        placeholder-focused='Выберите или напишите новое название'
        rows-data='vm.partners'
        rows-filters='filter:{shortName:$viewValue}'
        row-as='name'
        on-select-item-fn='vm.selectPartner'
        )
    .form-group
      label.col-sm-4.control-label(for="inputAddress") Адрес
      .col-sm-8
        input#inputAddress.form-control(
        type="text"
        name="address"
        ng-required='true'
        placeholder="Улица, дом, вывеска"
        ng-model="vm.address"
        autocomplete="off"
        )
    hr
    .col-sm-4.col-sm-offset-8
      .form-group.text-right
        fieldset
          button.btn.margin.btn-primary(
          ng-if='!vm.isInCancelProcess'
          ng-disabled='editOutletForm.$invalid || !vm.address'
          ng-click='vm.submit()'
          ) Сохранить
          button.btn.margin.btn-warning(
          ng-if='!vm.isInCancelProcess'
          ng-click='vm.cancel(editOutletForm)'
          ) Отменить
          button.btn.margin.btn-primary(
          ng-if='vm.isInCancelProcess'
          ng-click='vm.cancelConfirm()'
          ) Да, отменить
          button.btn.margin.btn-warning(
          ng-if='vm.isInCancelProcess'
          ng-click='vm.isInCancelProcess = false'
          ) Нет
