.stm-location(cg-busy='{promise: vm.busy, message: vm.busyMessage}')
  .popover-map
    ya-map.ya-map-container(ng-if='vm.map' ng-click='vm.mapClick()'
    ya-behaviors='-DblClickZoom -Ruler -Drag -ScrollZoom'
    ya-options='{{vm.mapOptions}}'
    ya-controls=''
    ya-zoom='15'
    ya-center='{{vm.map.yaCenter}}'
    ya-after-init='vm.map.afterMapInit($target)'
    )
      ya-collection(ng-if='vm.markers'
      ya-options='{preset:"islands#blueStretchyIcon"}'
      )
        ya-geo-object(ng-repeat='point in vm.markers track by point.id'
        ya-source='point'
        )
      ya-geo-object(ng-if='vm.startMarker'
      ya-options='{preset:"islands#brownStretchyIcon"}'
      ya-source='vm.startMarker'
      )
      ya-geo-object(ng-if='vm.track'
      ya-source='vm.track'
      ya-options='{balloonHasCloseButton:false,strokeColor:"#000000",strokeWidth:2,strokeOpacity:1}'
      )

  fieldset.buttons.text-right(
  ng-if='vm.isUpdateLocationEnabled'
  )
    button.btn.btn-default(
    ng-show='!vm.shouldConfirmUpdateLocation'
    ng-click='vm.updateLocationClick($event)'
    ) Обновить геометку
    div(
    ng-show='vm.shouldConfirmUpdateLocation'
    )
      button.btn.btn-success(
      ng-click='vm.confirmLocationYesClick($event)'
      ) Сохранить
      button.btn.btn-warning(
      ng-click='vm.confirmLocationNoClick($event)'
      ) Отмена

