.outlet-info-wrapper

  .functional-header

    h3.outlet
      a.inherit-colors(
      href
      ui-sref='^.partner({id: vm.outlet.partner.id})'
      ng-class='vm.partnerNavClass'
      ) {{ vm.outlet.partner.name }}
      small
        a.inherit-colors(
        href
        ng-click='vm.outletClick()'
        ng-class='vm.outletNavClass'
        ) {{ vm.outlet.address }}

    .button-img-wrapper(ng-show='vm.disableNavs')

      .image-wrapper
        ng-gallery(
        images-all='[vm.thumbnails[vm.outlet.avatarPictureId]]'
        thumb-image='{"srcThumbnail": vm.thumbnails[vm.outlet.avatarPictureId]}'
        thumbs-num='1'
        ng-if='vm.thumbnails[vm.outlet.avatarPictureId]'
        )

        img(
        ng-click='vm.takePhoto()'
        ng-src='/images/placeholder.png'
        ng-show='!vm.thumbnails[vm.outlet.avatarPictureId]'
        )

      .buttons-block

        button.btn.btn-default(ng-click='vm.takePhoto()')
          i.glyphicon.glyphicon-camera

        button.btn.btn-default(
        popover-placement="bottom-left auto"
        popover-trigger='outsideClick'
        uib-popover-template="'app/domain/sales/views/location.html'"
        popover-is-open='vm.popover'
        type='button'
        ng-class='{green: vm.map}'
        ng-disabled='!vm.map'
        )
          i.glyphicon.glyphicon-map-marker

        button.btn.btn-default(ng-click='vm.editOutletClick()' ng-if='vm.isRootState && vm.isEditable')
          i.glyphicon.glyphicon-edit

  section.ui-view.outlet.scroll-y(resize resize-offset-top)
    uib-accordion.visits
      .panel-default(uib-accordion-group is-open='vm.isVisitsAccordionOpened')
        uib-accordion-heading
          .heading-block
            p.name Визиты ({{vm.visits.length}})
            button.btn.btn-success.btn-sm(
            ng-click='vm.newVisitClick()'
            ng-disabled='!vm.currentSalesman'
            ) Новый визит
        .scroll-y(resize resize-offset-top)
          table.table.table-striped.clear-both.table-hover(ng-hide='vm.collapseVisitsSection || !vm.visits.length')
            thead
              tr
                th(ng-if='!vm.currentSalesman')
                th Дата
                th.number Фото
                th.number Ответы
            tbody
              tr.clickable(ng-repeat='visit in vm.visits | orderBy:"-deviceCts" track by visit.id' ng-click='vm.visitClick(visit)')
                td(ng-if='!vm.currentSalesman') {{ visit.salesman.shortName }}
                td {{ visit.deviceCts | amUtc | amLocal | amCalendar }}
                td.number {{ visit.photos.length | number: 0 }}
                td.number {{ visit.answers.length | number: 0 }}

    uib-accordion
      .panel-default(uib-accordion-group heading='Заказы' is-open='vm.isOrdersAccordionOpened' is-disabled='status.isFirstDisabled')
        .scroll-y(resize resize-offset-top)
          p Заказы
