// TODO: show avatarPhoto or take photo button

h3.pull-left.outlet.max-width-75p
  a.inherit-colors(href ui-sref='^.partner({id: vm.outlet.partner.id})' ng-class='vm.partnerNavClass') {{ vm.outlet.partner.name }}
  = ' '
  small
    a.inherit-colors(href ng-click='vm.outletClick()' ng-class='vm.outletNavClass') {{ vm.outlet.address }}
    a.ml-em(href ng-click='vm.editOutletClick()' ng-if='vm.isRootState && vm.isEditable')
      i.glyphicon.glyphicon-edit

section.ui-view.outlet

  h3.pull-right.with-map
    button.btn.ml-5.btn-default(ng-click='vm.takePhoto()')
      i.glyphicon.glyphicon-camera
    button.btn.btn-default.ml-5(
    popover-placement="bottom-left auto"
    popover-trigger='outsideClick'
    uib-popover-template="'app/domain/sales/views/location.html'"
    popover-is-open='vm.popover'
    type='button'
    ng-class='{green: vm.map}'
    ng-disabled='!vm.map'
    )
      i.glyphicon.glyphicon-map-marker

  hr.clear-both(ng-if='vm.photos.length')

  section.clear-both(ng-if='vm.photos.length')
    h4
      a(ng-click='vm.togglePhotosSection()' href) Фотографии точки ({{ vm.photos.length }})

    .col-xs-3.col-sm-2(ng-repeat='pic in vm.photos track by pic.id' ng-if='!vm.collapsePhotosSection')
      a.thumbnail.mh-80(href ng-click='vm.thumbnailClick(pic)')
        img(ng-src='{{vm.thumbnails[pic.id]}}')

  hr.clear-both

  .header-button
    h4.pull-left
      span Визиты

    button.btn.ml-em.btn-success.pull-right.btn-sm(
    ng-click='vm.newVisitClick()'
    ng-disabled='!vm.currentSalesman'
    ) Новый визит

  .scroll-y(resize resize-offset-top)
    table.table.table-striped.clear-both.table-hover(ng-hide='vm.collapseVisitsSection || !vm.visits.length')
      thead
        tr
          th(ng-if='!vm.currentSalesman')
          th Дата
          th.number Фото
          th.number Ответы
      tbody
        tr.clickable(ng-repeat='visit in vm.visits | orderBy:"-deviceCts" track by visit.id' ng-click='vm.visitClick(visit)')
          td(ng-if='!vm.currentSalesman') {{ visit.salesman.shortName }}
          td {{ visit.deviceCts | amUtc | amLocal | amCalendar }}
          td.number {{ visit.photos.length | number: 0 }}
          td.number {{ visit.answers.length | number: 0 }}
