section.ui-view.sale-orders(cg-busy='vm.cgBusy')

  .row.datepicker-with-buttons

    sab-date-picker.col-sm-4.col-lg-3(
    value='vm.date'
    init-date='vm.initDate'
    clear-text='Ближайшая доставка'
    custom-class='vm.getDayClass'
    min-date='vm.minDate'
    max-date='vm.maxDate'
    )

    .col-sm-3.col-lg-2.col-sm-offset-5.col-lg-offset-7
      .buttons
        button.btn.btn-block.btn-primary(ng-click='vm.newItemClick($event)')
          i.glyphicon.glyphicon-plus
          span Добавить заказ


  #scroll-main(
  resize
  ng-style='{height: (windowHeight - offsetTop) + "px"}'
  ng-if='vm.data.length'
  )
    table.table.table-striped.clear-both.table-hover
      thead
        tr
          th Статус
          th(ng-if='!vm.currentSalesman') ТП
          th Точка
          th.hidden-xs Создан
          th.number Стоимость
          th.number Позиций
      tbody
        tr.clickable(
        ng-repeat='item in vm.data | orderBy:"-ts" track by item.id'
        ng-click='vm.itemClick(item)'
        )
          td.processing(ng-class='item.workflowStep.cls')
            span {{ item.workflowStep.label }}
            span(
            ng-if='item.processingMessage'
            ng-class='item.workflowStep.messageCls'
            )
              i.glyphicon.glyphicon-warning-sign
          td.tinyName(ng-if='!vm.currentSalesman') {{ item.salesman.tinyName }}
          td
            div {{ item.outlet.name }}
            .gray {{ item.outlet.address }}
          td.hidden-xs {{ item.deviceCts | amUtc | amLocal | amCalendar }}
          td.number {{ item.totalCost | number:2 }}
          td.number {{ item.positions.length | number:0 }}

  .alert.alert-info.centered(ng-show='!vm.data.length') Нет заказов на указанную дату
