section.ui-view(cg-busy='vm.cgBusy')

  .row.datepicker-with-buttons
    .col-sm-9.col-md-10
      .input-group
        span.form-control(
        uib-datepicker-popup
        ng-model='vm.selectedDate'
        is-open='vm.datepickerPopup.opened'
        datepicker-options='vm.datepickerOptions'
        ng-required='true'
        close-text='Закрыть'
        current-text='Сегодня'
        clear-text='Очистить'
        ng-click='vm.openDatepicker()'
        ) {{ vm.selectedDate | amUtc | amLocal | amDateFormat:'DD/MM/YYYY, dd' }}
        span.input-group-btn
          button.btn.btn-default(
          type='button'
          ng-click='vm.selectPreviousDay()'
          )
            i.glyphicon.glyphicon-chevron-left
          button.btn.btn-default(
          type='button'
          ng-click='vm.openDatepicker()'
          )
            i.glyphicon.glyphicon-calendar
          button.btn.btn-default(
          type='button'
          ng-click='vm.selectNextDay()'
          )
            i.glyphicon.glyphicon-chevron-right

  hr.clear-both

  #scroll-main(resize ng-style='{height: (windowHeight - offsetTop) + "px"}')
    table.table.table-striped.clear-both.table-hover(ng-if='vm.data.length')
      thead
        tr
          th Точка
          th Создан
          th Стоимость
          th Позиций
      tbody
        tr.clickable(
        ng-repeat='item in vm.data | orderBy:"-ts" track by item.id'
        ng-click='vm.itemClick(item)'
        )
          td
            div {{ item.outlet.name }}
            .gray {{ item.outlet.address }}
          td {{ item.deviceCts | amUtc | amLocal | amCalendar }}
          td {{ item.totalCost | number:2 }}
          td {{ item.agg.cnt }}
