section.ui-view.sale-orders(cg-busy='vm.cgBusy')

  .headers
    .processing Статус
    .salesman(ng-if='!vm.currentSalesman') ТП
    .outlet Точка
    .totals Итоги

  #scroll-main.scroll-y(
  ng-if='vm.data.length'
  elem-ready='vm.restoreScrollPosition()'
  resize
  resize-offset-top='5'
  vs-repeat='{{vm.rowHeight()}}'
  vs-scrolled-to-end='vm.getData()'
  vs-scrolled-to-end-offset='15'
  vs-excess='10'
  )
    .clickable(
    ng-repeat='item in vm.data track by item.id'
    )
      .date(ng-if='!item.ts')
        .title {{ ::item.date }}

      .sale-order(
      ng-if='item.ts'
      ng-click='vm.itemClick(item)'
      )
        .row-data

          .processing(ng-class='item.workflowStep.cls')
            label Статус
            span {{ ::item.workflowStep.label }}

          .salesman(ng-if='!vm.currentSalesman')
            label ТП
            span.name {{ item.salesman.tinyName }}

          .outlet
            span.name {{ ::item.outlet.name }}
            .gray {{ ::item.outlet.address }}

          .totals(ng-class='{"no-totals": !item.totalPositionsCached()}')
            .position
              label Позиций
              span.hidden-xs П
              span {{ item.totalPositionsCached() || 'Нет позиций' }}
            .cost
              label Cумма
              span.hidden-xs C
              currency-value(
              value='item.totalCostCached() || 0'
              )
        .processing-message.alert-default(ng-if='item.ts')
          span(
          ng-if='item.processingMessage'
          ng-class='item.workflowStep.messageCls'
          )
            i.glyphicon.glyphicon-warning-sign
          span {{item.processingMessage}}


  .alert.alert-info.centered(ng-if='!vm.data.length && vm.isReady') Нет заказов
