.display-flex

  .flex-1

  h2 {{ vm.scheduledEvent.dateStart | amUtc | amLocal | amDateFormat:'DD/MM/YYYY' }}

  .flex-1.content-float-right
    a(href ng-click='vm.closeView()')
      i.glyphicon.glyphicon-remove

hr
.catalogue-sale-order
  section.outlet
    a(
    href
    uib-popover-template="'app/domain/sales/views/catalogue/outletPopover.html'"
    popover-trigger='outsideClick'
    popover-placement='auto bottom-left'
    popover-is-open='vm.isOpenOutletPopover'
    )
      .name
        span {{ vm.outlet.name }}
        span(ng-if='!vm.outlet.id') Выберите точку
        span.caret
      .address
        small {{vm.outlet.address}}

hr
section
  span(ng-if='vm.scheduledEvent.schedulePurpose') {{ vm.schedulePurpose.name }}
  a(href ng-if='!vm.scheduledEvent.schedulePurpose') Описание

hr
section.display-flex
  span Периодичность
  .flex-1.content-float-right
    toggle-switch(
    ng-model="vm.isPeriodicEvent"
    ng-change='vm.changePeriodic()'
    on-label="Да"
    off-label="Нет"
    )
section.mt(ng-if='vm.isPeriodicEvent')
  uib-tabset
    uib-tab(
    heading='Еженедельно'
    select='vm.weekly = true'
    deselect='vm.weekly = false'
    )
      section.mt.ml-15
        span {{ vm.weekDayEveryWord }}
        button.btn.btn-primary.ml-10(
        href
        uib-popover-template="'app/domain/sales/views/scheduleWeekDaysPopover.html'"
        popover-trigger='outsideClick'
        popover-placement='auto bottom'
        popover-is-open='vm.isOpenWeekDayPopover'
        )
          .name
            span {{ vm.weekDay }}
    uib-tab(
    heading='Ежемесячно'
    select='vm.monthly = true'
    deselect='vm.monthly = false'
    )
      section.mt.ml-15
        span Каждое
        button.btn.btn-primary.ml-10(
        href
        uib-popover-template="'app/domain/sales/views/scheduleMonthDaysPopover.html'"
        popover-trigger='outsideClick'
        popover-placement='auto bottom'
        popover-is-open='vm.isOpenMonthDayPopover'
        )
          .name
            span {{ vm.monthDay }}
        span.ml-10 число

hr
.display-flex.mt
  .flex-1
  .content-float-right
    section(ng-if='vm.eventHaveChanges()')
      button.btn.btn-warning.ml-10(
      ng-click='vm.cancelChanges()'
      ) Отменить
      button.btn.btn-success.ml-10(
      ng-click='vm.saveScheduledEvent()'
      ) Сохранить
  section(ng-if='!vm.eventHaveChanges()')
      button.btn.btn-success.ml-10(
      ng-click='vm.closeView()'
      ) Закрыть
