.display-flex

  .flex-1

  h2 {{ vm.scheduledEvent.dateStart | amUtc | amLocal | amDateFormat:'DD/MM/YYYY' }}

  .flex-1.content-float-right
    a(href ng-click='vm.closeView()')
      i.glyphicon.glyphicon-remove

hr
section
  a(
  href
  uib-popover-template="'app/domain/sales/views/catalogue/outletPopover.html'"
  popover-trigger='outsideClick'
  popover-placement='auto bottom-left'
  popover-is-open='vm.isOpenOutletPopover'
  )
    .name
      span {{ vm.scheduledEvent.outlet.name }}
      span(ng-if='!vm.scheduledEvent.outlet.id') Выберите точку
      span.caret
    .address
      small {{vm.scheduledEvent.outlet.address}}

hr
section
  span(ng-if='vm.scheduledEvent.schedulePurpose') {{ vm.schedulePurpose.name }}
  a(href ng-if='!vm.scheduledEvent.schedulePurpose') Описание

hr
section
  span(ng-if='vm.scheduledEvent.schedule') {{ vm.schedule.name }}
  a(href ng-if='!vm.scheduledEvent.schedule') Периодичность

hr
.display-flex
  .flex-1
  .content-float-right
    button.btn.btn-success.ml-10(
    ng-if='vm.eventHaveChanges()'
    ng-click='vm.saveScheduledEvent()'
    ) Сохранить
    button.btn.btn-warning.ml-10(
    ng-if='vm.eventHaveChanges()'
    ng-click='vm.cancelChanges()'
    ) Отменить
    button.btn.btn-success.ml-10(
    ng-if='!vm.eventHaveChanges()'
    ng-click='vm.closeView()'
    ) Закрыть
