h2.flex
  a.inherit-colors(href ui-sref='sales.territory' ng-class='{disabled: vm.hideNavs}') Клиенты
  span.flex-1
  small.gray {{ vm.salesman.shortName }}
  small.gray.ml-10
    a.inherit-colors.p-6(href='' ui-sref='home' ng-class='{disabled: vm.hideNavs}')
      i.glyphicon.glyphicon-home

hr

.ui-view

  section.text-center.scroll-horizontal
    button.btn.margin(
    ng-repeat-start='btn in vm.hashButtons track by btn.label'
    ng-click='vm.hashClick(btn)'
    ng-class='btn.match.test(vm.currentHash) ? "btn-primary" : "btn-default"'
    ) {{ btn.label }}
    button.btn.margin(
    ng-repeat-end
    ng-repeat='subbtn in btn.buttons track by subbtn.label'
    ng-class='{"btn-primary": subbtn.label === vm.currentHash}'
    ng-click='vm.hashClick(subbtn)'
    ng-if='btn.match.test(vm.currentHash) && btn.buttons.length > 1'
    ) {{ subbtn.label }}
  hr

  section
    section(ng-repeat='p in vm.partners | orderBy:"shortName" | filter:vm.filter track by p.id')
      h5
        .lead {{ p.shortName }}

      p.text-right(ng-repeat='o in p.outlets track by o.id')
        a(href='' ng-click='vm.outletClick(o)') {{ o.address }}
