h2.flex
  a(hreh ui-sref='sales.territory') Визиты
  span.flex-1
  small.gray
    a(href='' ui-sref='home') {{ vm.salesman.shortName }}

hr

.ui-view

  section.text-center
    button.btn.margin(
    ng-repeat-start='btn in vm.hashButtons track by btn.label'
    ng-click='vm.hashClick(btn)'
    ng-class='btn.match.test(vm.currentHash) ? "btn-primary" : "btn-default"'
    ) {{ btn.label }}
    button.btn.margin(
    ng-repeat-end
    ng-repeat='subbtn in btn.buttons track by subbtn.label'
    ng-class='{"btn-primary": subbtn.label === vm.currentHash}'
    ng-click='vm.hashClick(subbtn)'
    ng-if='btn.match.test(vm.currentHash) && btn.buttons.length > 1'
    ) {{ subbtn.label }}
  hr

  section(ng-repeat='p in vm.partners | orderBy:"shortName" | filter:vm.filter track by p.id')
    h5
      .lead {{ p.shortName }}

    p.text-right(ng-repeat='o in p.outlets track by o.id')
      a(href='' ng-click='vm.outletClick(o)') {{ o.address }}
