section.text-center.scroll-horizontal.hashes(
style='min-height: {{vm.hideHashes ? "0" : "37px"}}; max-height: {{vm.hideHashes ? "0" : "37px"}}'
ng-hide='vm.hideHashes'
)
  button.btn.btn-success.margin(ng-click='vm.addOutletClick()')
    i.glyphicon.glyphicon-plus

  button.btn.margin(
  ng-repeat-start='btn in vm.hashButtons track by btn.label'
  ng-click='vm.hashClick(btn)'
  ng-class='btn.match.test(vm.currentHash) ? "btn-primary" : "btn-default"'
  ) {{ btn.label }}

  button.btn.margin(
  ng-repeat-end
  ng-repeat='subbtn in btn.buttons track by subbtn.label'
  ng-class='{"btn-primary": subbtn.label === vm.currentHash}'
  ng-click='vm.hashClick(subbtn)'
  ng-if='btn.match.test(vm.currentHash) && btn.buttons.length > 1'
  ) {{ subbtn.label }}

hr(ng-hide='vm.hideHashes')

.territory.ui-view(resize)

  section#scroll-main(
  style='height: {{windowHeight - offsetTop - 5}}px;'
  )
    section(ng-repeat='p in vm.partners | orderBy:["shortName", "name"] | filter:vm.filter track by p.id')
      h5
        a.lead(href ng-click='vm.partnerClick(p)') {{ p.shortName }}

      p.text-right(ng-repeat='o in p.outlets | orderBy:"address"')
        a.green(ng-if='o.locationId')
          i.glyphicon.glyphicon-map-marker
        a.ml-5(href ng-click='vm.outletClick(o)') {{ o.address }}

      hr
