h3
  .buttons.pull-right.with-map
    button.btn.navbar-btn.btn-default(ng-click='vm.takePhoto()' ng-disabled='!vm.visit')
      i.glyphicon.glyphicon-camera
    button.btn.navbar-btn.btn-default.mr--8.ml-5(
    ng-disabled='!vm.visit.checkInLocation'
    popover-placement="auto bottom-left"
    popover-trigger='outsideClick'
    uib-popover-template="'app/domain/sales/views/location.html'"
    popover-is-open='vm.popover'
    type='button'
    ng-class='{green: vm.visit.checkInLocation, gray: !vm.visit.checkInLocation, "blink-color": vm.locating}'
    )
      i.glyphicon.glyphicon-map-marker
    button.btn.navbar-btn.ml-10(
    type='button'
    ng-class='b.class || "btn-default"'
    ng-repeat='b in vm.buttons track by b.label'
    ng-click='vm[b.clickFn]()'
    ) {{ b.label }}
  .text.clear-xs
    span.text-danger(ng-if='vm.visit && !vm.visit.deviceCts') Новый визит
    span.gray(ng-if='vm.visit.deviceCts') {{ vm.visit.deviceCts | amUtc | amLocal | amCalendar }}
    small
      a.ml-5(href ng-click='vm.deleteVisit()' ng-if='vm.visit.deviceCts')
        i.glyphicon.glyphicon-trash

hr.clear-both
section.mt(ng-if='vm.visit.photos.length')
  .container-fluid
    .row
      .col-xs-2.thumbnail(ng-repeat='pic in vm.visit.photos track by pic.id')
        a(ng-click='vm.thumbnailClick(pic)')
          img(ng-src='{{vm.thumbnails[pic.id]}}')

section(cg-busy='vm.busy' ng-class='{mt: !vm.visit.photos.length}')

  uib-tabset.nav-tabs-right(active="active")
    uib-tab(
    index="$index + 1"
    ng-repeat="qs in vm.questionSets | orderBy:['ord','name'] track by qs.id"
    heading="{{qs.name}}"
    disable="qs.isInvalid"
    )
      section(ng-repeat='grp in qs.questionGroups | orderBy:"name" track by grp.id' ng-if='vm.answers')
        h3
          .lead {{ grp.name }}
        .form.form-horizontal
          .form-group(ng-repeat='qst in grp.questions | orderBy:"name" track by qst.id')
            label.control-label.col-xs-6.col-sm-9.col-md-10 {{ qst.name }}
            .col-xs-6.col-sm-3.col-md-2(ng-switch="qst.dataType.code")
              sa-number-spinner(
              ng-switch-when="number"
              initval='{{vm.answers[qst.id]}}'
              ng-model='vm.answers[qst.id]'
              ng-change='vm.changeAnswer(qst,vm.answers[qst.id])'
              )
              toggle-switch.w100(
              ng-switch-when="boolean"
              ng-model="vm.answers[qst.id]"
              ng-change='vm.changeAnswer(qst,vm.answers[qst.id])'
              on-label="Да"
              off-label="Нет"
              )
              input.form-control.clickable(
              ng-switch-when='date'
              type='text'
              uib-datepicker-popup=''
              ng-model="vm.answers[qst.id]"
              ng-change='vm.changeAnswer(qst,vm.answers[qst.id])'
              is-open='vm.isDatepickerOpen'
              ng-click='vm.isDatepickerOpen=true'
              ng-required='true'
              autocomplete='off'
              show-button-bar='false'
              readonly=''
              )
              input.form-control(
              ng-switch-default type="text"
              ng-model="vm.answers[qst.id]"
              ng-change='vm.changeAnswer(qst,vm.answers[qst.id])'
              )
