a(
href
ng-disabled='vm.isDisabled'
ng-click='vm.triggerClick($event)'
popover-is-open='vm.isPopoverOpen'
popover-placement='auto bottom-right'
uib-popover-template='"app/domain/components/debtCashingPopover/debtCashingPopover.template.html"'
)
  ng-transclude
  //span.caret
