.debt-cashing-popover

  .to-cash(ng-if='vm.debt.uncashed()')

    a.btn.btn-link(
    ng-if='!vm.cashPart'
    href ng-click='vm.cashWholeClick()'
    ) Забрать весь остаток

    a.btn.btn-link.spaced(
    ng-show='!vm.cashPart'
    href ng-click='vm.cashPartClick()'
    )
      span Забрать часть

    form(ng-if='vm.cashPart' name="cashForm" ng-submit='vm.onSubmit()')

      .form-group
        input#sumToCash.form-control(
        ng-model='vm.cashed'
        type='number'
        name='cashed'
        placeholder='Укажите сумму'
        step='0.01'
        max='{{vm.debt.uncashed()}}'
        required
        )

        .error(ng-if='cashForm.$dirty && !cashForm.$valid') Некорректная сумма

      button.btn.btn-primary(
      type='submit'
      value='submit'
      ng-disabled='!cashForm.$valid'
      ) Добавить выручку

    //ng-pattern='/^[0-9]+(\,[0-9]{1,2})?$/'

  .cashings(ng-if='vm.cashings.length')
    .title Получено ранее
    .cashing(ng-repeat='cashing in vm.cashings track by cashing.id')
      a.delete(
      ng-if='!cashing.isProcessed'
      href ng-click='vm.deleteCashingClick(cashing)'
      ng-class='{confirmation: vm.deleteConfirmation[cashing.id]}'
      )
        i.glyphicon.glyphicon-trash
      span.cts {{ cashing.deviceCts | amUtc | amLocal | amCalendar }}
      strong.summ {{ cashing.summ | number:2 }}
