.outlet-salesman-contract-popover

  a.animate-show(
  href
  ng-if='vm.data.length'
  ng-class='{disabled: vm.data.length < 2}'
  ng-hide='vm.busy'
  ng-click='vm.isOpen = !vm.isOpen'
  popover-is-open='vm.isOpen'
  popover-placement='auto bottom-left'
  popover-trigger='"none"'
  uib-popover-template='"app/domain/sales/outletSalesmanContract/outletSalesmanContractPopover.template.html"'
  )
    span {{ vm.currentOption.contract.name }} ({{ vm.currentOption.priceType.name }})
    span.caret

  span.empty(ng-if='!vm.data.length') Нет действующих договоров ТП для этой точки
