.search-input-popover

  .query
    p Запросы
    .scroll-y(
    resize
    resize-offset-top='20'
    )
      a.badge(
      ng-repeat='query in vm.searchQueries track by query.id'
      ng-click='vm.queryClick(query)'
      ng-class='{active : vm.currentSearchQuery === query.query}'
      ) {{query.query}}

  .delimiter

  .tag
    p Теги
    .scroll-y(
    resize
    resize-offset-top='20'
    )
      a.badge(
      ng-repeat='tag in vm.searchTags track by tag.id'
      ng-click='vm.tagClick(tag)'
      ng-class='{active : tag.isActive}'
      ) {{tag.label}}
