.campaign-popover-template(elem-ready='vm.onElemLoad()' cg-busy='vm.busy')

  uib-tabset.tabset(active='vm.teamIdx' type='pills')
    uib-tab(
    index='$index + 1'
    ng-repeat='team in vm.teams'
    heading='{{team.name}}'
    select='vm.onTeamSelect(team, $index)'
    )

  #campaign-popover-scroll.scroll-y(
  resize
  resize-offset-top='40'
  )

    p(ng-if='vm.ready && !vm.teams.length') Нет акций

    .wrapper
      #scrollable-div(
      )

        .campaign-item(ng-repeat='campaign in vm.selectedTeam.campaigns track by campaign.id')

          a.name(href ng-click="vm.campaignClick(campaign)") {{ campaign.title }}

          .pictures
            a.thumb(
            href
            ng-click='vm.thumbClick(picture)'
            ng-repeat='picture in ::campaign.campaignPictures | orderBy: "name" | limitTo: 4 track by picture.id'
            )
              img(ng-src='{{picture.srcThumbnail}}')
