section.ui-view.shipmentList(cg-busy='vm.cgBusy')

  .row.datepicker-with-buttons

    sab-date-picker.col-sm-4.col-lg-3(
    value='vm.date'
    init-date='vm.initDate'
    clear-text='Ближайшая доставка'
    )

  #scroll-main(
  resize
  resize-offset-top='5'
  ng-if='vm.data.length'
  )
    table.table.table-striped.table-hover
      thead
        tr
          th №
          th Водитель
          th(ng-if='!vm.currentSalesman') ТП
          th Точка
          th.number Стоимость
          th.number Позиций
      tbody
        tr.clickable(
        ng-repeat='item in vm.data | orderBy:"-ts" track by item.id'
        ng-click='vm.itemClick(item, $event)'
        )
          td.ndoc(ng-class='item.workflow().cls')
            span.ndoc {{ ::item.ndoc }}
            egais-popover(shipment='item')
              i.glyphicon(ng-class='item.egais.egaisTtnCls')
              i.glyphicon(ng-class='item.egais.egaisActCls')
          td.tinyName
            driver-popover(driver='item.driver' popover-open='vm.driverPopoverOpen[item.id]' ng-if='item.driver')
              span {{ ::item.driver.tinyName }}
          td.tinyName(ng-if='!vm.currentSalesman') {{ ::item.salesman.tinyName }}
          td
            div {{ ::item.outlet.name }}
            .gray {{ ::item.outlet.address }}
          td.number {{ ::item.totalCost() | number:2 }}
          td.number {{ ::item.positions.length | number:0 }}

      tfoot
        tr
          th(colspan='{{ vm.currentSalesman ? 3 : 4 }}') Итого:
          th.number {{ ::vm.totalCost() | number:2 }}
          th.number {{ ::vm.totalPositions() | number:0 }}

  .alert.alert-info.centered(ng-show='!vm.data.length') Нет отгрузок за указанную дату
