pre {{vm.data.length}}

.ui-view(cg-busy='{promise: vm.busy, message: "Подождите, идет загрузка"}')
  .shipment-list-view
    .shipment-table-headers
      .order-number №
      .driver Водитель
      .salesman ТП
      .outlet Точка
      .price Стоимость
      .quantity Позиции

    .shipment-list.scroll-y(
    resize
    resize-offset-top='5'
    vs-repeat='{{vm.isWideScreen()? 40: 126}}'
    svs-options='{latch: true}' /*commented */,
    vs-scrolled-to-end='vm.onScrollEnd()'
    scrolled-to-end='{{vm.testFunc}}'
    )
      .shipment-table-items(ng-repeat='shipment in vm.data | orderBy: "-date"' ng-click='vm.itemClick(shipment, $event)')

        .order-number
          span.attr-name(ng-if='!vm.isWideScreen()') №:
          span {{shipment.ndoc}}

        .driver
          span.attr-name(ng-if='!vm.isWideScreen()') Водитель:
          span {{shipment.driver.tinyName}}

        .salesman
          span.attr-name(ng-if='!vm.isWideScreen()') ТП:
          span {{shipment.salesman.tinyName}}
        .outlet
          span.attr-name(ng-if='!vm.isWideScreen()') Точка:
          span {{shipment.outlet.name}}
        .price
          span.attr-name(ng-if='!vm.isWideScreen()') Цена:
          span {{shipment.totalCost() | number: 2}}
        .quantity
          span.attr-name(ng-if='!vm.isWideScreen()') Количество:
          span {{shipment.positions.length}}
