.form.shipment-point-photo-form(
name='shipmentPointPhotoForm'
)

  a.shipmentRoutePoint(
    href
    ng-show='!vm.listShown'
    ng-click='vm.chooseShipmentPointClick()'
  )
    .not-chosen(ng-if='!vm.shipmentRoutePointPhoto.shipmentRoutePoint') Выберите точку
    label(ng-if='vm.shipmentRoutePointPhoto.shipmentRoutePoint') Точка:
    .name {{ vm.shipmentRoutePointPhoto.shipmentRoutePoint.name }}
    .address
      small.gray {{ vm.shipmentRoutePointPhoto.shipmentRoutePoint.address }}

  .photo(ng-if='!vm.listShown && vm.shipmentRoutePointPhoto.shipmentRoutePoint')

    make-photo(
      model='vm.shipmentRoutePointPhoto'
      ng-show='!vm.shipmentRoutePointPhoto.id'
      model-name='ShipmentRoutePointPhoto'
    )
      i.glyphicon.glyphicon-camera
      span Добавить фото

    .thumb(ng-if='vm.shipmentRoutePointPhoto.id')
      loading-circle(ng-if='!vm.shipmentRoutePointPhoto.srcThumbnail')
      img(ng-src='{{vm.shipmentRoutePointPhoto.srcThumbnail}}' ng-if='vm.shipmentRoutePointPhoto.srcThumbnail')
      a.remove(
        href ng-click='vm.deletePhotoClick()'
        aria-label='Удалить фото'
      )
        i.glyphicon.glyphicon-remove

    input(type='hidden' ng-model='vm.shipmentRoutePointPhoto.id' required)

  .buttons(ng-if='vm.shipmentRoutePointPhoto.id')
    button.btn.btn-success(ng-click='vm.onSubmit()') Готово

  choice-list(
    ng-if='vm.showShipmentRoutePointList'
    data-title='Выберите Точку'
    options='vm.shipmentRoutePoints'
    on-click='vm.chooseShipmentPointClick'
    choice-id='vm.shipmentRoutePointPhoto.shipmentRoutePointId'
  )
