.barcode-scanner.field

  label Штрих-код

  input.form-control(
  ng-model="vm.input"
  sa-auto-focus="true"
  sa-enter-key="vm.enterPress()"
  ng-paste="vm.onPaste()"
  placeholder="Сканируйте штрих-код"
  )
