.barcode-scanner.field

  a.toggle-enable(
  href ng-click="vm.toggleEnableClick()"
  ng-class="{ enabled: vm.isEnabled }"
  )
    span(ng-if='!vm.isEnabled') Включить
    i.glyphicon.glyphicon-barcode

  input.form-control(
  ng-model="vm.input"
  ng-if="vm.isEnabled && !vm.iosMode"
  sa-auto-focus="true"
  sa-enter-key="vm.enterPress()"
  ng-paste="vm.onPaste()"
  placeholder="{{ vm.isEnabled ? 'Сканируйте' : 'Сканер отключен' }}"
  )
