.uncash-popover

  form(name="uncashForm" ng-submit='vm.onSubmit()')

    .form-group

      .btn-group
        label.btn.btn-default(ng-model='vm.type' uib-btn-radio="'bank'" uncheckable) Банк
        label.btn.btn-default(ng-model='vm.type' uib-btn-radio="'cashdesk'" uncheckable) Касса

    select-uncashing-place.form-group(ng-if='vm.type === "cashdesk"' selected='vm.uncashingPlace')

    .form-group.uncashingPhoto(ng-if='vm.type === "bank"')

      make-photo(model='vm.uncashingPicture' file='vm.photoFile' ng-show='!vm.photoFile')
        span Добавить фото

      .thumb
        img(ngf-thumbnail='vm.photoFile' ng-if='vm.photoFile' ngf-size='{width: 60, height: 60}')
        a.remove(href ng-click='vm.photoFile = null' ng-if='vm.photoFile' aria-label='Удалить фото')
          i.glyphicon.glyphicon-remove

    .form-group

      textarea#uncashing-comment.form-control(
      ng-model='vm.commentText'
      name='commentText'
      placeholder='Комментарий'
      )

    button.btn.btn-success(
    type='submit'
    value='submit'
    ng-disabled='!uncashForm.$valid'
    )
      currency-value(value='vm.summ' label='Сдать')

