button.btn.btn-primary(
ng-click='vm.triggerClick()'
ng-disabled='!vm.uncashed.length'
popover-trigger='none'
popover-is-open='vm.isPopoverOpen'
popover-placement='auto bottom'
uib-popover-template='"app/domain/components/uncashPopover/uncashPopover.template.html"'
)
  ng-transclude
