.uncash-popover

  form(name="uncashForm")

    .form-group

      .btn-group.type
        label.btn.btn-default(ng-model='vm.type' uib-btn-radio="'bank'" uncheckable) Банк
        label.btn.btn-default(ng-model='vm.type' uib-btn-radio="'cashdesk'" uncheckable) Касса

    select-uncashing-place.form-group(
    ng-if='vm.type === "cashdesk"'
    selected='vm.uncashingPlace'
    init-id='vm.uncashingPlaceId'
    )

    .form-group.uncashingPhoto(ng-if='vm.type === "bank"')

      make-photo(
      model='vm.uncashingPicture'
      file='vm.photoFile'
      ng-show='!vm.uncashingPicture.id'
      model-name='UncashingPicture'
      )
        span Сфотографируйте ПКО

      .thumb(ng-if='vm.uncashingPicture.id')
        loading-circle(ng-if='!vm.uncashingPicture.srcThumbnail')
        img(ng-src='{{vm.uncashingPicture.srcThumbnail}}' ng-if='vm.uncashingPicture.srcThumbnail')
        a.remove(
        href
        ng-click='vm.deletePhotoClick()'
        aria-label='Удалить фото'
        )
          i.glyphicon.glyphicon-remove

    .form-group

      textarea#uncashing-comment.form-control(
      ng-model='vm.commentText'
      name='commentText'
      placeholder='Комментарий'
      )

    button.btn.btn-success(
    ng-click='vm.onSubmit()'
    value='submit'
    ng-disabled='!uncashForm.$valid'
    )
      currency-value(value='vm.summ' label='Сдать')

