.possible-outlet-visit(cg-busy="vm.cgBusy")

  .name
    strong {{ vm.outlet.name }}
  .address.gray
    small {{ vm.outlet.address }}

  .location(ng-if="vm.outlet.location")
    i.glyphicon.glyphicon-map-marker
    .accuracy точность геометки: {{ vm.outlet.location.horizontalAccuracy }}м.

  .commentary(ng-if="vm.editing || vm.outlet.commentText")
    label.control-label(for="comment-text") Комментарий
    textarea.form-control#comment-text.form-control(
      ng-disabled="!vm.editing"
      ng-model='vm.outlet.commentText'
      name='commentText'
      placeholder='Дополнительные сведения о точке'
    )

  .buttons(ng-if="vm.editing")
    button.btn.btn-primary(
      ng-click="vm.saveClick()"
    ) Готово
    button.btn.btn-default(
      ng-click="vm.cancelClick()"
    ) Отмена

  .buttons(ng-if="!vm.editing")

    button.btn(
      ng-class="vm.outlet.locationId ? 'btn-default' : 'btn-warning'"
      ng-click="vm.locateClick()"
    ) {{ vm.outlet.locationId ? 'Обновить' : 'Добавить'}} геометку

    button.btn.btn-default(
      ng-click="vm.commentClick()"
    ) {{ vm.outlet.commentText ? 'Изменить' : 'Добавить'}} комментарий

    make-photo(
      model-name='PossibleOutletPhoto'
      defaults='{ possibleOutletId: vm.outletId }'
      busy='vm.cgBusy'
    ) Добавить фото

  .photos(ng-if="!vm.editing")

    .outlet-photo(
      ng-repeat="photo in vm.photos track by photo.id"
    )
      a(ng-click="vm.thumbClick(photo)")
        img.thumbnail(ng-src="{{ photo.srcThumbnail }}")
      a.delete(
        ng-class="vm.confirmId && (vm.confirmId !== photo.id ? 'disabled' : 'confirm')"
        href ng-click="vm.deletePhotoClick(photo)"
      ) удалить
