.stock-taking-view(cg-busy='vm.cgBusy')

  .details

    .buttons
      confirmed-button(on-confirm="vm.deleteClick()" no-confirm="!vm.stockTakingId")
        span Удалить
        cancel Отмена

    .fields

      .field.date
        label Начало
          span.hidden-xs &nbsp;инвентаризации
        strong {{ vm.stockTaking.date | dateTime }}

      .field.warehouse
        label Склад
        sab-dropdown(
        ng-disabled="vm.stockTaking.id"
        items-data-source-name="Warehouse"
        ng-model="vm.stockTaking.warehouseId"
        append-to-body="true"
        )

  .alert.alert-info(ng-if="!vm.stockTaking.id && vm.stockTaking.isValid()")
    | Просканируйте товар, чтобы начать инвентаризацию

  .items(ng-if="vm.stockTaking.id && !vm.busy")

    ui-view.current-item(ng-if='vm.itemId')

    uib-tabset(active="vm.activeTabIndex" justified="true")
      uib-tab(index="0" heading="Сканирование")
        stock-taking-item-list.scroll-y(
        resize resize-offset-top="10"
        filter="{stockTakingId: vm.stockTakingId}"
        on-click="vm.itemClick($item)"
        active-id="vm.itemId"
        scroll="vm.itemListScrollTo"
        )
      uib-tab(index="1" heading="Итоги")
        stock-taking-item-stats.scroll-y(
        resize resize-offset-top="10"
        filter="{stockTakingId: vm.stockTakingId}"
        on-item-click="vm.itemClick($item)"
        active-id="vm.itemId"
        scroll="vm.itemStatsScrollTo"
        )
      uib-tab(index="2" heading="Остатки")
        warehouse-stock.scroll-y(
        resize resize-offset-top="10"
        warehouse-id='vm.stockTaking.warehouseId'
        )
