.stock-taking-view

  .details

    .buttons
      confirmed-button(on-confirm="vm.deleteClick()" no-confirm="!vm.stockTakingId")
        span {{ vm.stockTakingId ? 'Удалить' : 'Отмена' }}

    .field.date
      label Начало
      strong {{ vm.stockTaking.date | dateTime }}

  barcode-scanner(on-scan='vm.onScan($barcode)' required-type='vm.BARCODE_TYPE')

  .items

    .current-item(ng-if='vm.stockTakingItem')

      .fields

        .field.timestamp
          label Время
          strong {{ vm.stockTakingItem.timestamp | dateTime:{seconds: true} }}

        .field.barcode
          label Штрих-код
          strong
            confirmed-button(on-confirm="vm.itemDeleteClick()")
              i.glyphicon.glyphicon-trash
              cancel
                i.glyphicon.glyphicon-lock
            span {{ vm.stockTakingItem.barcode }}

        .field.name
          label Товар
          strong {{ vm.stockTakingItem.name }}

        .field.volume(ng-class="{touched: vm.volumeViewTouched}")
          label Количество
          strong {{ vm.volumeView }}

      sa-keyboard(
      datatype='boxPcs'
      touched='vm.volumeViewTouched'
      model='vm.volumeView'
      export-model='vm.stockTakingItem.volume'
      box-rel='vm.stockTakingItem.packageRel'
      )

    .list-group.scroll-y(resize resize-offset-top='10')

      .list-group-item(
      ng-repeat='item in vm.stockTakingItems track by item.id'
      ng-class='{active: vm.stockTakingItem === item}'
      )

        .title
          a.name(href ng-click="vm.itemClick(item)")
            span {{ ::item.name }}
          .barcode
            span {{ ::item.barcode }}
            span {{ item.timestamp | dateTime:{seconds: true, date: false} }}
            span(ng-if='item.packageRel') (фасовка {{ item.packageRel }})

        .volume {{ item.volume | boxesBottles:{boxRel: item.packageRel} }}
