.copy-selected

  button.btn.btn-danger(
  ng-if='vm.inProgress'
  ng-click='vm.cancelClick($event)'
  ) Отмена

  button.btn(
  ng-click='vm.triggerClick()'
  ng-disabled='vm.inProgress && !vm.isReady()'
  ng-class='vm.isReady() && "btn-success" || vm.inProgress && "btn-warning" || "btn-link"'
  ng-if='vm.isIos()'
  )
    i.glyphicon.glyphicon-share(ng-if='!vm.inProgress')
    span(ng-if='vm.inProgress && !vm.isReady()') Выберите долги
    span(ng-if='vm.inProgress && vm.isReady()') Готово, скопировать
