a.catalogue-settings(
href
ng-click='vm.isPopoverOpen = !vm.isPopoverOpen'
popover-animation='true'
uib-popover-template="'app/domain/components/settingsPopover/settingsPopover.template.html'"
popover-open='vm.isPopoverOpen'
popover-trigger='"click"'
popover-placement='bottom auto'
popover-class='{{"popover-settings-" + vm.items}}'
)
  i.glyphicon.glyphicon-cog
