.tag.panel-default(
ng-repeat='tagGroup in vm.articleTagGroups track by tagGroup.id'
uib-accordion-group
is-open='vm.tabsOpen[tagGroup.id]'
)
  uib-accordion-heading {{tagGroup.name}}

    .active-tags
      a(
      href
      ng-repeat='(code, tag) in vm.activeTags[tagGroup.id] track by tag.id'
      ng-if='!vm.tabsOpen[tagGroup.id]'
      ng-click='vm.activeTagClick($event, tag)'
      )
        i.glyphicon.glyphicon-remove
        span {{ tag.label }}

  .accordion-body

    a.list-group-item(
    href
    ng-repeat='tag in tagGroup.tags track by tag.id'
    ng-click='vm.tagClick(tag)'
    ng-class='{active : vm.activeTags[tag.groupId][tag.id]}'
    ) {{ tag.label }}
