.price-edit-popover(ng-class='{disabled: !vm.editable}')

  .controls
    .list-group.discount-scope

      a.list-group-item(
      href
      ng-model='vm.discountScope'
      uib-btn-radio="'article'" uib-uncheckable='false'
      ) На товар

      a.list-group-item(
      href
      ng-if='vm.priceGroup'
      ng-model='vm.discountScope'
      uib-btn-radio="'priceGroup'" uib-uncheckable='false'
      )
        .name На группу
        .gray «{{ vm.priceGroup.name }}»

      a.list-group-item(
      href
      ng-model='vm.discountScope'
      uib-btn-radio="'saleOrder'" uib-uncheckable='false'
      ) На весь заказ



  .buttons

    .btn-group.mode

      button.btn.btn-default(ng-model='vm.mode' uib-btn-radio="'discount'" uib-uncheckable='false') Скидка
      button.btn.btn-default(ng-model='vm.mode' uib-btn-radio="'markup'" uib-uncheckable='false') Наценка
      button.btn.btn-default(ng-model='vm.mode' uib-btn-radio="'price'" uib-uncheckable='false') Цена

    .display

      .form-group(ng-switch='vm.mode')

        .btn-group.target

          button.btn.btn-default.taget-man(ng-model='vm.target' uib-btn-radio="''" uib-uncheckable='true') Упр
          button.btn.btn-default.target-doc(ng-model='vm.target' uib-btn-radio="'Doc'" uib-uncheckable='true') Бух

        .form-control#price-edit-price-display(
        ng-switch-when='price'
        ng-class='{"ng-invalid": vm.invalidPrice}'
        )

          strong {{ vm.priceView || 0 }}
          span.currency ₽

        .input-group(ng-switch-when='markup|discount' ng-switch-when-separator="|")

          a.btn.input-group-addon(href ng-click='vm.decrementPercentClick()')
            i.glyphicon.glyphicon-minus

          .form-control#price-edit-discount
            strong {{ vm.discountPercentView || 0 }}
            span.currency %

          a.btn.input-group-addon(href ng-click='vm.incrementPercentClick()')
            i.glyphicon.glyphicon-plus

    sa-keyboard(
    datatype='price'
    ng-if='vm.mode !== "price"'
    model='vm.discountPercentView'
    export-model='vm.discountPercent'
    model-max='vm.maxDiscount'
    box-rel='","'
    touched='vm.keyBoardTouched'
    )

    sa-keyboard(
    datatype='price'
    ng-if='vm.mode === "price"'
    model='vm.priceView'
    export-model='vm.priceEdit'
    model-max='vm.maxPrice'
    box-rel='","'
    touched='vm.keyBoardTouched'
    )


  .fields

    .price
      //(ng-if='vm.mode !== "price"')

      .form-group
        label
          span {{ vm.showDoc() ? 'Упр' : 'Цена' }}
          span(ng-if='vm.price !== vm.priceOrigin') &nbsp; ({{ vm.discountPercentDisplay() }}%)
          | :
        span.form-control(ng-switch='vm.price === vm.priceOrigin')
          span.gray(ng-switch-when='true') базовая
          span(ng-switch-when='false') {{ vm.price | number:2 }}
          span.currency(ng-switch-when='false') ₽

      .form-group.price-doc(ng-if='vm.showDoc()')
        label
          span Бух
          span(ng-if='vm.priceDoc !== vm.priceOrigin') &nbsp; ({{ vm.discountPercentDisplay('Doc') }}%)
          | :
        span.form-control(ng-switch='vm.priceDoc === vm.priceOrigin')
          span.gray(ng-switch-when='true') базовая
          span(ng-switch-when='false') {{ vm.priceDoc | number:2 }}
          span.currency(ng-switch-when='false') ₽

    //.discount(ng-if='vm.mode === "price"')

      .form-group
        label {{ vm.mode === 'markup' ? 'Наценка' : 'Скидка' }}:
        span.form-control {{ vm.signedDiscountPercent() | number }}
          span.currency %

    .priceOrigin

      .form-group
        label База:
        span.form-control {{ vm.priceOrigin | number:2 }}
          span.currency ₽

    //.priceAgent(ng-if='vm.priceAgent')

      .form-group
        label Цена агента:
        span.form-control#price-edit-priceAgent {{ vm.priceAgent | number:2 }}

    .profit(ng-if='vm.priceAgent')

      .form-group
        label Профит:
        span.form-control#price-edit-profit {{ vm.profit() | number:2 }}
          span.currency %


  .extras

    a.btn.btn-link(
    href
    ng-click='vm.popoverOpen = false'
    ) Готово
