a.drop-box(
href
ngf-select
ngf-change='vm.onSelect($file, $event)'
ngf-accept='"image/*"'
ng-model='vm.files'
)

  uib-progressbar(
  ng-if='vm.uploading'
  value='vm.uploading.loaded / vm.uploading.total * 100.0'
  type='info'
  )
    b {{ vm.uploading.loaded / vm.uploading.total * 100.0 | number:0 }}%
  ng-transclude(ng-if='!vm.progress')
